/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 7px;
}

::-webkit-scrollbar:vertical {
  width: 7px;
}

html, body {
  scrollbar-color: #1b1f33 #272b48;
  scrollbar-width: thin
}

/* Track */
::-webkit-scrollbar-track {
  /*box-shadow: inset 0 0 5px #D1E8FF;*/
  background: #272b48;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4f556c;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1b1f33;
}