$success: #46c93a;
$primary: #109cf1;
$error: #ff4757;
$secondary: #334D6E;
$accent: #82b1ff;
$info: #109cf1;
$warning: #FFB946;
$gray: #616161;
$gray-dark: #818E9B;

$blueviolet: #f8f7fa;
$violet: #dda24d;

$mute: #EBEFF2;
$default-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
$border-radius: 10px;

.primary--text {
  color: $primary
}

.success--text {
  color: $success
}

.info--text {
  color: $info
}

.error--text {
  color: $error
}

.gray--text {
  color: $gray
}
