//Colors
$colors: (
        primary: #4a90e2,
        success: #42cc52,
        warning: #FFA726,
        danger: #F44336,
        dark: #4c5b74
);

// Function for getting colors from the array
@function color($colorname) {
  @return map-get($colors, $colorname);
}

// SASS function for getting contrast color
@function contrast($color) {
  @if (lightness($color) > 70) {
    @return color(dark);
  } @else {
    @return color(light);
  }
}

.btn{
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: color(primary);
  color: #FFF;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  box-shadow: 0px 0px 3px rgba(color(primary), 1);
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

// Theming button
@each $colorName, $color in $colors {
  .btn.#{$colorName}{
    background-color: $color;
    box-shadow: 0px 0px 3px rgba($color, 1);
    color: contrast($color);
  }
}