.collection-list .filter-card {
  position: static !important;
}
.collection-list-filter {
  z-index: 10;
}
.filter-card {
  z-index: 9;
}

.collection-list-filter {
  top: 65px
}

.pos-s {
  position: static;
}