@import "variable";
@import "login";
@import "loading";
@import "scrollbar";
@import "fonts";
html {
}
.position-absolute {
  position: absolute;
}
.v-tabs-bar {
  border-radius: 10px;
}

.cursor-grabbed {
  cursor: grab;
}
.theme--dark {
  &.v-application,
  .v-picker__body {
    background: #3A3F5C;
  }

  &.v-sheet,
  &.v-app-bar.v-toolbar.v-sheet,
  &.v-data-table,
  &.v-card,
  &.v-stepper,
  &.v-tabs-items,
  &.v-tabs > .v-tabs-bar {
    background: $blueviolet !important;
  }
}

.action-btn-wrap {
  display: flex;
}

.cursor-pointer {
  cursor: pointer;
}

.important-text {
  color: #192A3E;
  font-weight: 500;
}

.logo-img {
  img {
    width: 150px;
    height: auto;
  }
}

.text--white{
  &,a {
    color: #fff !important;
  }
}

.theme--light .title {
  font-weight: 500;
  color: #192A3E
}

.font-weight-medium {
  font-weight: 500;
}

.dark-text {
  color: #000
}

.border-radius-5 {
  border-radius: 5px;
}

.theme--dark {
  .menu-drawer-activator {
    transition: 0.25s ease;

    svg {
      fill: #fff
    }
  }
}

.theme--light {
  .menu-drawer-activator {
    svg {
      fill: $secondary
    }
  }
}


.pos-r {
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f8f7fa;
}

* {
  font-family: "Nunito", sans-serif;
}

.theme--light.v-application {
  background: #f8f7fa;
}

#app.v-application .subtitle-2 {
  font-size: 11px !important;
}

.app-wrapper {
  display: flex;
  .v-main {
    flex: 1 1 auto;
    overflow: auto;
    height: 100vh;
  }
}

.cabinet {
  &-sidebar {
    padding-bottom: 30px;
    border-left: none;
    box-shadow: 6px 0 18px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    overflow: hidden;
    &__wrapper {
      padding: 10px 0 10px 10px;
      height: 100vh;
    }

    .v-navigation-drawer__border {
      display: none;
    }
  }
}

.navigation-list {
  color: $secondary;

  &-item {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    line-height: 42px;
    padding-left: 20px;
    padding-right: 5px;
    margin-bottom: 2px;

    & span, .v-icon {
      color: #616161;
    }

    &:hover {
      background: linear-gradient(270deg,#ECEFF1 0%,white 300%);
      border-end-end-radius: 3.125rem;
      border-start-end-radius: 3.125rem;
      margin-inline: 0 1.125rem;
    }

    &.active {
      background: linear-gradient(270deg, #dda24d 0%,white 300%);
      border-end-end-radius: 3.125rem;
      border-start-end-radius: 3.125rem;
      box-shadow: 0 3px 3px -2px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, .2)),0 3px 4px 0 var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, .14)),0 1px 8px 0 var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, .12));
      margin-inline: 0 1.125rem;
      & span, .v-icon {
        color: #fff;
      }
    }
  }
}

.v-application {
  .v-card {
    box-shadow: $default-shadow;

    &.v-sheet {
      border-radius: $border-radius;
    }

  }
}

.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
  background: #D3D8DD;
}


// buttons
.v-btn {
  min-width: auto;
}

.action-btn {
  width: 30px !important;
  height: 30px !important;
  min-width: auto !important;

  & + & {
    margin-left: 10px;
  }
}


// table
.v-data-table {
  border-radius: $border-radius;

  > .v-data-table__wrapper > table > tbody > tr:not(:last-child) > td:last-child {
    &.v-data-table__mobile-row {
      border-bottom: 0;
      box-shadow: 0 6px 9px rgba(0,0,0,.1);
      border-radius: 0 0 10px 10px;
    }
    border-width: 1px !important;
  }

  &.v-data-table--dense .v-data-table__wrapper > table > tbody > tr > td {
    height: 38px
  }

  &:not(.v-data-table--dense) .v-data-table__wrapper > table > tbody > tr > td {
    height: 54px
  }

  &.theme--light > .v-data-table__wrapper > table > tbody > tr:not(:last-child) > td:not(.v-data-table__mobile-row) {
    border-color: $mute;
  }


  &.theme--light > .v-data-table__wrapper > table > tbody > tr:hover {
    &:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
      background: #f8f7fa;
      box-shadow: 0 3px 7px rgb(0, 0, 0, 0.1) !important;
    }
  }

}

.circle-radius {
  border-radius: 50%;
}

.v-data-table.small-table > .v-data-table__wrapper > table > thead > tr > th {
  height: 35px;
}

th {
  white-space: nowrap;
  color: #1b1f33 !important;
  font-size: 13px !important;
}

table {
  border-spacing: 0 5px !important;
}

table td {
  border: none !important;
}

tbody tr td {
  background: #f8f7fa !important;
  &:last-child{
    border-radius: 0 6px 6px 0 !important;
  }
  &:first-child{
    border-radius: 6px 0 0 6px !important;
  }
}

.v-data-table.small-table > .v-data-table__wrapper > table > tbody > tr > td {
  height: 35px;
}

.v-icon.v-icon {
  font-size: 15px;
}

.v-stepper__step__step .v-icon.v-icon {
  font-size: 12px;
}

.rounded {
  border-radius: 10px !important;
}

.form-dialog-modal {
  [class*=col] {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.ux-step-header {
  display: flex;
  justify-content: center;

  &-round {
    z-index: 1;
    position: relative;
    width: 70px;
    height: 70px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: $mute;
  }


  .ux-step-header-item {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    position: relative;

    &::before {
      content: '';
      height: 10px;
      width: 100%;
      background: $mute;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &-active, &-current {
      &::before {
        background: linear-gradient(136deg, $secondary 0%, $primary 50%, $secondary 100%) !important;
      }
    }

    &-active {
      .ux-step-header-round {
        background: linear-gradient(136deg, $secondary 0%, $primary 50%, $secondary 100%)
      }
    }
  }
}

.v-sheet.v-card:not(.v-sheet--outlined) {
  box-shadow: $default-shadow;
}

.min-list {
  padding-left: 0;
}

.list-data-item {
  display: flex;
  flex-wrap: wrap;

  .v-list-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.dashed-card {
  border: 1px dashed $primary;
}

.tariff-info {
  width: 300px;
}
.table-wth-border {
  table {
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ccc !important;
  }
}

//tooltip

.v-tooltip__content {
  font-size: 12px !important;
  color: #7FA1B4 !important;
  box-shadow: 0 3px 6px rgba(88, 137, 175, 0.16);
  opacity: 1 !important;
  background: #fff;
  transform: translateX(-50%);
}

.white-space-no-wrap {
  white-space: nowrap;
}

@media screen and (max-width: 959px) {
  .tariff-info {
    width: 100%;
  }
  .cabinet-sidebar__wrapper {
    display: none;
  }
}


@media screen and (max-width: 599px) {
  .v-stepper__content {
    padding: 0;
  }

  .ux-step-header-round {
    width: 50px;
    height: 50px;
  }

  .list-data-item {
    .v-list-item {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

}

.v-text-field--outlined.v-input--dense .v-label {
  transform: translateY(-16px) scale(0.75);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  background: #fff;
}

.fade-animation-forward {
  opacity: 0;
  animation: fade-animation-forward 0.5s forwards;
}

@keyframes fade-animation-forward {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.current-analytics .v-data-table__wrapper {
  overflow-y: visible !important;
  overflow-x: auto !important;
}

