<template>
  <validation-provider tag="div" :rules="rules" :name="name || label" v-slot="{errors}" :vid="vid" mode="passive">
    <VAutocomplete
        @update:list-index="onFocus"
        :label="label"
        class="search-input"
        @focus="onFocus"
        @blur="onBlur"
        :error-messages="errors[0]"
        v-bind="$attrs"
        :item-text="itemText"
        dense
        @input="val => $emit('input', val)"
        :value="value"
        :item-value="itemValue"
        outlined>
      <template #item="{item, on}" v-if="customItem" >
        <slot name="item" :on="on" :item="item"></slot>
      </template>
      <template #prepend-item v-if="searchable">
        <div role="option"
             class="v-list-item v-list-item--link theme--light">
          <div class="v-list-item__content">
            <input @input="search" ref="searchInput" v-model="searchInputEager" type="text" class="search__input">
          </div>
        </div>
      </template>
      <template v-if="customSelection" #selection="{item, index}">
        <slot name="selection" :item="item" :index="index"></slot>
      </template>
      <template #prepend-inner>
        <v-progress-circular
            v-show="loading"
            size="18"
            width="2"
            color="primary"
            indeterminate
        ></v-progress-circular>
      </template>
      <template #no-data v-if="customNoData">
        <slot name="no-data"></slot>
      </template>
      <template #append-item>
        <div v-if="infinite" ref="more" tabindex="0" aria-selected="false" id="list-item-59-9"
             role="option"
             class="v-list-item v-list-item--link theme--light" @click="next">
          <div class="v-list-item__content">
            <div class="v-list-item__title">More...</div>
          </div>
        </div>
      </template>
    </VAutocomplete>
  </validation-provider>
</template>

<script>
import {debounce} from "@/utils/pureFunctions";

export default {
  name: 'CustomAutocomplete',
  props: {
    searchable: {
      type: Boolean,
      default: false
    },
    searchInput: {
      type: String,
    },
    filter: {
      default: () => {
        return item => item
      }
    },
    infinite: {
      type: Boolean,
      default: false
    },
    loading: {
      type: Boolean,
      default: false
    },
    prependItem: {
      type: Boolean,
      default: false
    },
    customNoData: {
      type: Boolean,
      default: false
    },
    customSelection: {
      type: Boolean,
      default: false
    },
    customItem: {
      type: Boolean,
      default: false
    },
    value: {},
    name: {},
    vid: {},
    label: {},
    rules: {},
    delay: {
      type: Number,
      default: 300
    },
    itemText: {
      type: String | Function,
      default: 'name'
    },
    itemValue: {
      type: String | Function,
      default: 'id'
    }
  },
  data() {
    return {
      observe: null,
      searchInputEager: null
    }
  },
  watch: {
    searchInputEager(val) {
      this.$emit('update:search-input', val)
    }
  },
  methods: {
    next() {
      if (!this.loading) this.$emit('next')
    },
    search: debounce(function (e) {
      this.$emit('search', e.target.value)
      this.$emit('update:search-input', e.target.value)
    }, 300),
    onBlur() {
      this.observer = null
    },
    onObserveMore(entries) {
      if (entries[0] && entries[0].isIntersecting && this.infinite) {
        this.next()
      }
    },
    onFocus() {
      let options = {
        rootMargin: '0px',
        threshold: 1.0
      }
      this.observer = new IntersectionObserver(this.onObserveMore, options);

      setTimeout(() => {
        if (this.$refs.more) {
          this.observer.observe(this.$refs.more)
        }
      }, 400)

      if (this.searchable) {
        setTimeout(() => {
          this.$refs.searchInput.focus()
        }, 400)
      }


    },
    clear() {
    }
  }
}

</script>


<style scoped lang="scss">
.search__input {
  height: 36px;
  border: 1px solid #747474;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;

  &:focus {
    outline: none;
  }
}
</style>
