<template>
  <div>
    <v-card>
      <v-card-text>
        <v-data-table
            dense
            :custom-sort="items => items"
            item-key="dd"
            :options.sync="analyticData.options"
            disable-pagination
            @update:options="getItems"
            :headers="headers"
            hide-default-footer
            :items="analyticData.items">
          <template #body.prepend>
            <tr>
              <td></td>
              <td>
                <CustomInputText
                    clearable
                    @input="onChangeFilter"
                    v-model.trim="analyticData.filters.machineNumber"
                    style="max-width: 250px" hide-details></CustomInputText>
              </td>
              <td>
                <CustomInputText
                    clearable
                    @input="onChangeFilter"
                    v-model.trim="analyticData.filters.srNumber"
                    style="max-width: 250px" hide-details
                    placeholder="Серийный"></CustomInputText>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </template>
          <template #item.id="{index}">{{ ((analyticData.params.pageNumber - 1) * 10) + (index + 1) }}</template>
          <template #item.eventType="{item}">
            <span v-if="item.eventType">{{ item.eventType.slice(9) }}</span>
          </template>
          <template #item.data="{item}">
            <span>{{ JSON.stringify(item.data[0]).slice(0, 50) }}</span>
          </template>
          <template #item.createDate="{item}">
            <span v-if="item.createDate">{{ item.createDate.slice(0, 10) }}</span><br>
            <span v-if="item.createDate">{{ item.createDate.slice(11, 19) }}</span>
          </template>
          <template #item.edited="{item}">
            <span v-if="item.edited === true">Да</span>
            <span v-else>Нет</span>
          </template>
          <template #item.action="{item}">
            <div class="action-btn-wrap">
              <VBtn @click="$refs.agentCreateDialogRef.open(item.data[0])"
                    class="action-btn" color="secondary">
                <VIcon x-small>fas fa-eye</VIcon>
              </VBtn>
            </div>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
    <div class="d-flex justify-center mt-5">
      <v-pagination :total-visible="10" @input="changePage" :length="analyticData.lastPage"
                    v-if="analyticData.lastPage > 1 || analyticData.params.pageNumber> 1"
                    v-model="analyticData.params.pageNumber" color="#dda24d"/>
    </div>
    <AgentCreateUpdateForm @saved="getItems" ref="agentCreateDialogRef"/>
  </div>
</template>

<script>
import {PERMISSIONS} from '@/utils/constants'
import {debounce, getQueryPage} from "@/utils/pureFunctions";
import AgentCreateUpdateForm from "@/components/AgentCreateUpdateForm";
import AnalyticsDailyTransactions from '@/components/skeleton/AnalyticsDailyTransaction.vue'
import {constructMapsUrl} from "@/utils/locationMapHelper";
import {timeToString} from "@/utils/dateFormatHelpers";

export default {
  data() {
    return {
      headers: [
        {
          text: '№',
          value: 'id',
          sortable: true
        },
        {
          text: 'Номер машины',
          value: 'machineNumber',
          sortable: false
        },
        {
          text: 'Устройство',
          value: 'device',
          sortable: false
        },
        {
          text: 'Тип события',
          value: 'eventType',
          sortable: false
        },
        {
          text: 'Данные',
          value: 'data',
          sortable: false
        },
        {
          text: 'Дата создания',
          value: 'createDate',
          sortable: false
        },
        {
          text: 'Редактирован',
          value: 'edited',
          sortable: false,
        },
        {
          text: 'Действия',
          value: 'action',
          sortable: false
        }
      ],
      analyticData: {
        options: {
          sortDesc: [true],
          sortBy: ['id'],
        },
        sortDesc: [],
        items: [],
        lastPage: 0,
        params: {
          pageNumber: 1,
        },
        filters: {},
      },
    }
  },
  methods: {
    timeToString,
    constructMapsUrl,
    onChangeFilter: debounce(function () {
      this.analyticData.params.pageNumber = 1
      this.changePage()
    }, 300),
    async changePage() {
      const {page} = this.$route.query
      const {pageNumber} = this.analyticData.params
      this.$showLoading()
      if (page !== `${pageNumber}`) {
        await this.$router.replace({query: {page: `${pageNumber}`}})
      }
      await this.getItems()
      this.$clearLoading()
    },
    async getItems() {
      this.$showLoading()
      try {
        const {sortBy: [sortBy], sortDesc: [sortDesc]} = this.analyticData.options
        const params = {
          ...this.analyticData.filters,
          ...this.analyticData.sortDesc,
          pageNumber: this.analyticData.params.pageNumber - 1
        }
        if (sortBy) params.sortBy = sortBy
        params.sortDirection = sortDesc ? 'desc' : 'asc'
        const {data: {content, totalPages}} = await this.$http.get('atm/logs/search', {
          params
        })
        this.analyticData.items = content
        this.analyticData.lastPage = totalPages - 1
      } catch (e) {
        this.$setResponseError({error: e})
      } finally {
        this.$clearLoading()
      }
    },
  },
  components: {AgentCreateUpdateForm, AnalyticsDailyTransactions},
  computed: {
    isUserFromMainBranch() {
      return this.$store.getters.isUserFromMainBranch
    },
    PERMISSIONS: () => PERMISSIONS,
  },
  async created() {
    this.analyticData.params.pageNumber = getQueryPage(this.$route.query.page)
  }
}
</script>
