<template>
  <div>
    <div class="text-right mb-3">
      <VBtn v-if="$can(PERMISSIONS.CAR_MODIFY)" @click="$refs.carCreateUpdateForm.open()" class-name="action-btn" color="#dda24d" dark>
        Создать
      </VBtn>
    </div>
    <v-card>
      <v-card-text>
        <VDataTable
          dense
          disable-pagination
          :headers="headers"
          disable-sort
          hide-default-footer
          :items="items">
          <template #item.index="{index}">{{ ((options.pageNumber - 1) * 10) + (index + 1) }}</template>
          <template #item.action="{item}">
            <div class="action-btn-wrap">
              <VBtn v-if="$can(PERMISSIONS.CAR_MODIFY)" @click="$refs.carCreateUpdateForm.open(item)" class="action-btn" color="secondary">
                <v-icon x-small>fas fa-pencil-alt</v-icon>
              </VBtn>
              <VBtn v-if="$can(PERMISSIONS.CAR_DELETE)" @click="$refs.warningDialog.open(item.id)" class="action-btn" color="error">
                <v-icon x-small>fas fa-trash</v-icon>
              </VBtn>
            </div>
          </template>
        </VDataTable>
      </v-card-text>
    </v-card>
    <div class="d-flex justify-center mt-5">
      <VPagination @input="changePage" :length="lastPage" v-if="lastPage > 1 || options.page > 1"
                   v-model="options.pageNumber" color="#dda24d"/>
    </div>
    <CarCreateUpdateForm @saved="getItems" ref="carCreateUpdateForm"/>
    <WarningDialog
        @apply="onDelete"
        ref="warningDialog"
    ></WarningDialog>
  </div>
</template>

<script>
import {messages, PERMISSIONS} from '@/utils/constants'
import {debounce, getQueryPage} from "@/utils/pureFunctions";
import CarCreateUpdateForm from "@/components/CarCreateUpdateForm";
import WarningDialog from "@/components/ui/prompt/warning-dialog";

export default {
  data() {
    return {
      headers: [
        {
          text: '№',
          value: 'index'
        },
        {
          text: 'Тех паспорт',
          value: 'texPassport'
        },
        {
          text: 'Модель',
          value: 'model'
        },
        {
          text: 'Номер авто',
          value: 'number'
        },
        {
          text: 'Расход топлива',
          value: 'fuelConsumption'
        },
        {
          text: 'Пробег',
          value: 'mileage'
        },
        {
          text: 'Действие',
          value: 'action'
        }
      ],
      items: [],
      lastPage: 0,
      options: {
        pageNumber: 1,
        search: null,
      },
    }
  },
  computed: {
    PERMISSIONS: () => PERMISSIONS
  },
  methods: {
    async onDelete(id) {
      try {
        await this.$http.delete(`cars/delete/${id}`)
        this.$setSuccess({text: messages.onDelete})
        await this.getItems()
      } catch (e) {
        this.$setResponseError({error: e})
      }
    },
    onChangeFilter: debounce(function () {
      this.options.pageNumber = 1
      this.changePage()
    }, 300),
    async changePage() {
      const {page} = this.$route.query
      this.$showLoading()
      if (page !== `${this.options.pageNumber}`) {
        await this.$router.replace({query: {page: `${this.options.pageNumber}`}})
      }
      await this.getItems()
      this.$clearLoading()
    },
    async getItems() {
      try {
        const params = {
          ...this.options,
          pageNumber: this.options.pageNumber - 1
        }
        const {data: {content, totalPages}} = await this.$http.post('cars/search', params)
        this.items = content
        this.lastPage = totalPages
      } catch (e) {
        this.$setResponseError({error: e})
      }
    },
  },
  components: {WarningDialog, CarCreateUpdateForm},
  async created() {
    this.options.pageNumber = getQueryPage(this.$route.query.page)
    await this.getItems()
  }
}
</script>
