<template>
  <div>
    <VContainer>
      <BackBtn></BackBtn>
      <h3 style="text-align: center">{{ itemNumber }}</h3>
      <h3 style="text-align: center" v-if="status">{{ ORDER_GROUP_STATUSES[status].text }}</h3>
      <VRow class="cash-collection-row">
        <CashCollectionCard v-for="item in items" :item="item" :key="item.id" :status="status"
                            @updateStatus="getOrderStatus"></CashCollectionCard>
      </VRow>
      <VBtn absolute color="primary" class="confirm-btn" v-if="showConfirmBtn"
            @click="confirmCollection">Подтвердить инкассацию
      </VBtn>
      <VBtn absolute color="error" class="confirm-btn" v-if="showFinishBtn && $can('ORDER_GROUP_MUST_END_DEPOSIT')"
            @click="$refs.terminateDialogRef.open(id)">Заранее завершить
      </VBtn>
    </VContainer>
    <TerminateCashCollectionDialog ref="terminateDialogRef" @terminated="terminated"></TerminateCashCollectionDialog>
  </div>
</template>

<script>
import {ORDER_GROUP_STATUSES} from "@/utils/constants.js";
import TerminateCashCollectionDialog from "../../components/TerminateCashCollectionDialog.vue";
import CashCollectionCard from "../../components/CashCollectionCard.vue"
import BackBtn from "../../components/ui/BackBtn.vue";

export default {
  name: "cash-collection-items",
  props: ['id'],
  data() {
    return {
      items: [],
      status: null,
      itemNumber: null
    }
  },
  components: {
    TerminateCashCollectionDialog,
    CashCollectionCard,
    BackBtn
  },
  created() {
    this.getCashCollectionItems()
  },
  computed: {
    ORDER_GROUP_STATUSES: () => ORDER_GROUP_STATUSES,
    showConfirmBtn() {
      return this.status === ORDER_GROUP_STATUSES.IN_PROGRESS_BY_OPERATOR.key
          && this.$can('ORDER_GROUP_START_COLLECTOR')
    },
    showFinishBtn() {
      return this.status !== ORDER_GROUP_STATUSES.PRE_COMPLETED.key
          && this.status !== ORDER_GROUP_STATUSES.COMPLETED_BY_COLLECTOR.key
          && !this.showConfirmBtn
    },
  },
  methods: {
    async getOrderStatus() {
      try {
        const {data} = await this.$http.get(`order-groups/get/${this.id}`)
        this.status = data.statusType
        this.itemNumber = data.number
      } catch (e) {
        this.$setResponseError({error: e})
      }
    },
    async getCashCollectionItems() {
      try {
        const {data} = await this.$http.get(`orders/get-by-group/${this.id}`)
        this.items = data
        await this.getOrderStatus()
      } catch (e) {
        this.$setResponseError({error: e})
      }
    },
    terminated() {
      this.getOrderStatus()
      this.getCashCollectionItems()
    },
    async confirmCollection() {
      try {
        await this.$http.post(`order-groups/start-collector`, {id: this.id})
        await this.getOrderStatus()
      } catch (e) {
        this.$setResponseError({error: e})
      }
    },
  }
}
</script>

<style lang="scss">
.cash-collection-row {
  max-height: calc(100vh - 220px);
  padding-bottom: 20px;
  overflow: auto;

  .order-item {
    padding: 21px !important;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.05) !important;
    border-radius: 20px !important;

    .atm-info {
      .tid {
        font-size: 14px;
        color: rgb(44, 62, 80);
      }

      span {
        font-size: 13px;
        color: rgb(44, 62, 80);
        font-weight: bold;
      }
    }

    .sum-and-status {
      h4 {
        font-size: 14px;
        color: #2D3748;
        margin-bottom: 5px;
      }

      .sum {
        font-size: 12px;
        color: rgb(44, 62, 80);
      }

      .status {
        background: rgba(38, 132, 255, 0.08);
        border: 1px solid rgba(38, 132, 255, 0.12);
        box-sizing: border-box;
        border-radius: 6px;
        padding: 4px 6px;
        margin-top: 8px;
        font-weight: 600;
        font-size: 12px;
        color: #2684FF;
      }
    }

    .card-btn {
      margin-top: 20px;

      .vue-btn {
        font-size: 14px;
        font-weight: bold;
        text-transform: capitalize;
      }
    }
  }
}

.confirm-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  margin-top: 10px;
}
</style>
