<template>
  <div>
    <VContainer >
<!--      <div class="text-right mb-3">-->
<!--        <VBtn color="primary" @click="$refs.filterDialogRef.open()">Фильтр</VBtn>-->
<!--      </div>-->
      <VRow v-if="orderGroups.length">
        <VCol
          v-for="(item, index) in orderGroups"
          :key="index"
          lg="4"
          md="6"
          sm="12"
        >
          <RouterLink :to="{name: 'cash-collection-items',params: { id: item.id}}" style="text-decoration: none">
          <VCard
            class="pa-4 order-card"
            rounded
            style="cursor: pointer; height: 100%"
          >
            <div class="d-flex justify-space-between">
              <div class="d-flex">
                <div class="doc-icon d-flex justify-center align-center">
                  <svg fill="none" height="27" viewBox="0 0 26 27" width="26" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M17.1167 2.63413C16.6725 2.18996 15.9033 2.4933 15.9033 3.1108V6.89163C15.9033 8.4733 17.2467 9.78413 18.8825 9.78413C19.9117 9.79496 21.3417 9.79496 22.5658 9.79496C23.1833 9.79496 23.5083 9.06913 23.075 8.6358C21.515 7.06496 18.72 4.23746 17.1167 2.63413Z"
                      fill="#2684FF"/>
                    <path
                      d="M22.2083 11.2791H19.0775C16.51 11.2791 14.4192 9.18828 14.4192 6.62078V3.48995C14.4192 2.89412 13.9317 2.40662 13.3358 2.40662H8.74251C5.40584 2.40662 2.70834 4.57328 2.70834 8.44078V18.0391C2.70834 21.9066 5.40584 24.0733 8.74251 24.0733H17.2575C20.5942 24.0733 23.2917 21.9066 23.2917 18.0391V12.3624C23.2917 11.7666 22.8042 11.2791 22.2083 11.2791ZM12.4583 19.4691H8.12501C7.68084 19.4691 7.31251 19.1008 7.31251 18.6566C7.31251 18.2124 7.68084 17.8441 8.12501 17.8441H12.4583C12.9025 17.8441 13.2708 18.2124 13.2708 18.6566C13.2708 19.1008 12.9025 19.4691 12.4583 19.4691ZM14.625 15.1358H8.12501C7.68084 15.1358 7.31251 14.7674 7.31251 14.3233C7.31251 13.8791 7.68084 13.5108 8.12501 13.5108H14.625C15.0692 13.5108 15.4375 13.8791 15.4375 14.3233C15.4375 14.7674 15.0692 15.1358 14.625 15.1358Z"
                      fill="#2684FF"/>
                  </svg>
                </div>
                <div class="number d-flex justify-center flex-column">
                  <h3>{{ item.number }}</h3>
                  <span>номер</span>
                </div>
              </div>
              <div class="sum-and-status d-flex justify-center flex-column align-end">
                <h4 v-if="item.depositSum">{{item.depositSum | money}} <span>сум</span></h4>
                <h4 v-if="item.depositDollar">{{item.depositDollar | money}} <span>$</span></h4>
                <div class="status">{{ ORDER_GROUP_STATUSES[item.statusType].text }}</div>
              </div>
            </div>
          </VCard>
          </RouterLink>
        </VCol>
      </VRow>
      <VBtn outlined rounded color="primary" class="mt-4" v-if="totalPages > orderGroupParams.pageNumber" @click="showMore">Показать ещё</VBtn>
    </VContainer>
    <div class="d-flex align-center justify-center" style="height: calc(100vh - 130px)" v-if="!orderGroups.length">
      <h2>нет созданных инкассаций</h2>
    </div>
    <FilterDialog :selected.sync="orderGroupParams.statusTypes" ref="filterDialogRef" @sendStatus="getOrders"></FilterDialog>
  </div>
</template>

<script>
import FilterDialog from "../../components/FilterDialog.vue";
import {ORDER_GROUP_STATUSES} from "@/utils/constants.js";
import {getQueryPage} from "@/utils/pureFunctions.js";

export default {
  name: "Cash-collection",
  data() {
    return {
      orderGroups: [],
      isShowMore: false,
      totalPages: null,
      orderGroupParams: {
        pageNumber: 1,
        pageSize: 10,
        statusTypes: [
          ORDER_GROUP_STATUSES.IN_PROGRESS_BY_OPERATOR.key,
          ORDER_GROUP_STATUSES.IN_PROGRESS_BY_COLLECTOR.key,
        ]
      }
    }
  },
  components: {
    FilterDialog
  },
  methods: {
    async getOrderGroups() {
      try {
        if(!this.isShowMore){
          this.orderGroupParams.pageSize = this.orderGroupParams.pageNumber * this.orderGroupParams.pageSize
          this.orderGroupParams.pageNumber = 1
        }

        const params = {
          ...this.orderGroupParams,
          pageNumber: this.orderGroupParams.pageNumber - 1,
        }
        const {data: {content, totalPages}} = await this.$http.post('order-groups/search-collector', params)
        this.totalPages = totalPages
        return content
      } catch (e) {
        this.$setResponseError({error: e})
        return Promise.reject(e)
      }
    },
    async getOrders() {
      // this.orderGroupParams.pageSize = this.orderGroupParams.pageNumber * this.orderGroupParams.pageSize
      //   this.orderGroupParams.pageNumber = 1
        this.orderGroups = await this.getOrderGroups()
    },
    async getMoreOrders() {
      const items = await this.getOrderGroups()
      this.orderGroups = [...this.orderGroups, ...items]
    },
    showMore() {
      this.isShowMore = true
      this.orderGroupParams.pageNumber++
      this.$router.replace({query: {page: this.orderGroupParams.pageNumber.toString()}})
      this.getMoreOrders()
    }
  },
  computed: {
    ORDER_GROUP_STATUSES: () => ORDER_GROUP_STATUSES
  },
  created() {
    this.orderGroupParams.pageNumber = getQueryPage(this.$route.query.page)
    this.getOrders()
    // for(let i = 0; i < this.orderGroupParams.pageNumber; i++) {
    //   this.getMoreOrders()
    // }
  }
}
</script>
<style lang="scss">
.order-card {
  padding: 21px !important;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.05) !important;
  border-radius: 20px !important;

  .doc-icon {
    width: 64px;
    height: 64px;
    background: rgba(49, 130, 206, 0.1);
    box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
    border-radius: 32px;
    margin-right: 15px;
  }

  .number {
    h3 {
      font-size: 18px;
      color: rgb(44,62,80);
    }

    span {
      font-size: 12px;
      color: rgb(44,62,80);
    }
  }

  .sum-and-status {
    h4 {
      font-size: 14px;
      color: #2D3748;
      margin-bottom: 5px;
    }

    .sum {
      font-size: 12px;
      color: rgb(44,62,80);
    }

    .status {
      background: rgba(38, 132, 255, 0.08);
      border: 1px solid rgba(38, 132, 255, 0.12);
      box-sizing: border-box;
      border-radius: 6px;
      padding: 4px 6px;
      margin-top: 8px;
      font-weight: 600;
      font-size: 12px;
      color: #2684FF;
    }
  }
}
</style>
