<template>
  <div>
    <div class="text-right mb-3">
      <VBtn v-if="$can(PERMISSIONS.OWN_CASSETTE_MODIFY)" @click="$refs.cassetteCreateUpdateDialogRef.open()"
            class-name="action-btn" color="primary">
        Создать
      </VBtn>
    </div>
    <v-card>
      <v-card-text>
        <VDataTable
          disable-pagination
          :headers="headers"
          disable-sort
          hide-default-footer
          :items="items">
          <template #item.index="{index}">{{ index + 1 }}</template>
          <template #item.statusType="{item}">
            <div style="width: 250px; ">
              <div v-if="!item.isChangingStatus">{{ CASSETTE_STATUS_TYPES[item.statusType] }}
                <VBtn icon v-if="$can(PERMISSIONS.CAR_MODIFY)" @click="onChangeStatus(item)" class="action-btn"
                      color="secondary">
                  <!--          TODO permissions-->
                  <v-icon x-small>fas fa-pencil-alt</v-icon>
                </VBtn>
              </div>
              <div v-else class="py-2">
                <CustomSelect
                  hide-details
                  label="Статус"
                  rules="required"
                  :items="statusTypes"
                  item-text="text"
                  item-value="value"
                  v-model="item.statusType"
                ></CustomSelect>
                <VBtn @click="changeStatusType(item)" width="100%" class="mt-1" small color="primary">Сохранить</VBtn>
              </div>
            </div>
          </template>
          <template #item.action="{item}">
            <div class="action-btn-wrap">
              <VBtn v-if="$can(PERMISSIONS.OWN_CASSETTE_MODIFY)" @click="$refs.cassetteCreateUpdateDialogRef.open(item)"
                    class="action-btn" color="secondary">
                <v-icon x-small>fas fa-pencil-alt</v-icon>
              </VBtn>
              <VBtn v-if="$can(PERMISSIONS.OWN_CASSETTE_DELETE)" @click="$refs.warningDialog.open(item.id)" class="action-btn"
                    color="error">
                <v-icon x-small>fas fa-trash</v-icon>
              </VBtn>
            </div>
          </template>
        </VDataTable>
      </v-card-text>
    </v-card>
    <div class="d-flex justify-center mt-5">
      <VPagination @input="changePage" :length="lastPage" v-if="lastPage > 1 || options.pageNumber> 1"
                   v-model="options.pageNumber"/>
    </div>
    <CassetteCreateUpdateDialog @saved="getItems" ref="cassetteCreateUpdateDialogRef"/>
    <WarningDialog
        @apply="onDelete"
        ref="warningDialog"
    ></WarningDialog>
  </div>
</template>

<script>
import {messages, PERMISSIONS, CASSETTE_STATUS_TYPES} from '@/utils/constants'
import {debounce, getQueryPage} from "@/utils/pureFunctions";
import CassetteCreateUpdateDialog from "@/components/CassetteCreateUpdateDialog";
import WarningDialog from "@/components/ui/prompt/warning-dialog";

export default {
  name: "Cassette",
  data() {
    return {
      statusChanged: false,
      statusType: null,
      lastPage: 0,
      options: {
        pageNumber: 1,
        search: null,
      },
      headers: [
        {
          text: '№',
          value: 'index'
        },
        {
          text: 'Номер',
          value: 'number'
        },
        {
          text: 'Статус',
          value: 'statusType'
        },
        {
          text: 'Действие',
          value: 'action'
        }
      ],
      items: [],
    }
  },
  computed: {
    PERMISSIONS: () => PERMISSIONS,
    CASSETTE_STATUS_TYPES: () => CASSETTE_STATUS_TYPES,
    statusTypes() {
      return [
        {
          text: 'Свободно',
          value: 'FREE',
          url: `own-cassettes/to-free`
        },
        {
          text: 'Используется',
          value: 'USED',
          url: `own-cassettes/to-used`
        },
        {
          text: 'Сломан',
          value: 'BROKEN',
          url: `own-cassettes/to-broken`
        },
      ]
    }
  },
  methods: {
    onChangeStatus(item) {
      this.items.forEach(c => c.isChangingStatus = false)
      item.isChangingStatus = true
    },
    async onDelete(id) {
      try {
        await this.$http.delete(`own-cassettes/delete/${id}`)
        this.$setSuccess({text: messages.onDelete})
        await this.getItems()
      } catch (e) {
        this.$setResponseError({error: e})
      }
    },
    onChangeFilter: debounce(function () {
      this.options.pageNumber = 1
      this.changePage()
    }, 300),
    async changePage() {
      const {page} = this.$route.query
      this.$showLoading()
      if (page !== `${this.options.pageNumber}`) {
        await this.$router.replace({query: {page: `${this.options.pageNumber}`}})
      }
      await this.getItems()
      this.$clearLoading()
    },
    async getItems() {
      try {
        const params = {
          ...this.options,
          pageNumber: this.options.pageNumber - 1
        }
        const {data: {content, totalPages}} = await this.$http.post('own-cassettes/search', params)
        this.items = content.map(item => {
          item.isChangingStatus = false
          return item
        })
        this.lastPage = totalPages
      } catch (e) {
        this.$setResponseError({error: e})
      }
    },
    async changeStatusType(cassette) {
      try {
        let {url} = this.statusTypes.find(item => item.value === cassette.statusType)
        await this.$http.put(`${url}/${cassette.id}`)
        this.$setSuccess({text: messages.onSave})
        cassette.isChangingStatus = false
      } catch (e) {
        this.$setResponseError({error: e})
      }
    }
  },
  components: {WarningDialog, CassetteCreateUpdateDialog},
  async created() {
    this.options.pageNumber = getQueryPage(this.$route.query.page)
    await this.getItems()
  }
}
</script>
