<template>
  <div>
    <div class="d-flex  justify-end align-center flex-wrap">
      <component
        v-for="(filterItem,index) in filters"
        v-model="filterItem.value"
        :is="filterItem.key"
        showAddBtn="no"
        class="mb-2 collection-list ml-3"
        @close="deleteCardFromFilters(index)"
        @input="filterCollectionList"
        ></component>
      <CollectionListFilter @addFilter="onAddFilter"></CollectionListFilter>
    </div>
    <v-card>
      <v-card-text>
        <v-data-table
          disable-pagination
          :headers="headers"
          disable-sort
          hide-default-footer
          :items="collectionData.items">
          <template #item.index="{index}">{{ index + 1 }}</template>
          <template #item.address="{item}">
            <a v-if="item.address != null && item.latitude != null && item.longitude != null" target="_blank"
               :href="constructMapsUrl(item.latitude, item.longitude, locationType)">{{ item.address }}</a>
            <span v-else>{{ item.address }}</span>
          </template>
          <template #item.tid="{item}">
            TID: {{ item.tid }}
            <div>MID: {{ item.mid }}</div>
          </template>
          <template
            #item.remains="{item}">
            <CollectionListIncome
              :remains-dollar="item.remainsDollar"
              :remains-sum="item.remainsSum"
              :income="item.incomeWithCassette"
            />
          </template>
          <template #item.tid="{item}">
            TID: {{ item.tid }}
            <div>MID: {{ item.mid }}</div>
          </template>
          <template #item.collectionDate="{item}">
            <div v-if="item.collectionDate != null">
              {{
                new Date(item.collectionDate).toLocaleString()
              }}
            </div>
          </template>
          <template #item.statusType="{item}">
            <v-chip
              class="ma-1"
              small
              :color="ORDER_STATUSES[item.statusType].color"
              label
              outlined
            >
              {{ ORDER_STATUSES[item.statusType].text }}
            </v-chip>
            <div class="lackOfMoneyReason">{{ item.lackOfMoneyReason }}</div>
          </template>
          <template #item.cashCollection="{item}">
            <CollectionListCassette
              :deposit-sum="item.depositSum"
              :deposit-dollar="item.depositDollar"
              :cassettes="item.cassettes"
            />
          </template>
          <template #item.action="{item}" >
            <v-btn @click="$refs.createCollectionDialogRef.open(item)" class="action-btn" v-if="item.statusType === ORDER_STATUSES.COMPLETED.key"
                   color="secondary">
              <v-icon x-small>fas fa-eye</v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
    <div class="d-flex justify-center mt-5">
      <v-pagination @input="changePage" :length="collectionData.totalPages"
                    v-if="collectionData.params.pageNumber > 1 || collectionData.totalPages > 1"
                    v-model="collectionData.params.pageNumber"/>
    </div>
    <ReceptionItemCreateCollectionDialog
      @changedStatus="getCollectionList"
      ref="createCollectionDialogRef"/>
  </div>
</template>

<script>
import {getQueryPage} from "@/utils/pureFunctions.js";
import { ORDER_STATUSES, PERMISSIONS} from "@/utils/constants.js";
import {constructMapsUrl} from "@/utils/locationMapHelper.js"
import CollectionListCassette from "@/components/CollectionListCassette";
import CollectionListIncome from "@/components/CollectionListIncome";
import ReceptionItemCreateCollectionDialog from '@/components/ReceptionItemCreateCollectionDialog.vue'
import CollectionListFilter from '@/components/CollectionListFilter.vue'
import CollectionListStatusFilter from "@/components/CollectionListStatusFilter.vue";
import CollectionListCarFilter from "@/components/CollectionListCarFilter.vue";
import CollectionListTidMidFilter from "@/components/CollectionListTidMidFilter.vue";
import CollectionListDateFilter from "@/components/CollectionListDateFilter.vue";
import "@/assets/scss/collectionListFilter.scss"

export default {
  name: "collection-list",
  components: {CollectionListIncome, CollectionListCassette, ReceptionItemCreateCollectionDialog, CollectionListFilter, CollectionListStatusFilter, CollectionListCarFilter,
    CollectionListTidMidFilter, CollectionListDateFilter},
  data() {
    return {
      filters: [
      ],
      collectionData: {
        items: [],
        params: {
          pageNumber: 1,
          pageSize: 10,
          sortBy: "collectionDate",
          sortDirection: "DESC"
        },
        totalPages: 0
      },
      headers: [
        {
          text: '№',
          value: 'index'
        },
        {
          text: 'Адрес',
          value: 'address'
        },
        {
          text: 'TID / MID',
          value: 'tid'
        },
        {
          text: 'Остаток',
          value: 'remains'
        },
        {
          text: 'Сумма инкассации',
          value: 'cashCollection'
        },
        {
          text: 'Время инкасации',
          value: 'collectionDate'
        },
        // {
        //   text: 'Причина нехватки',
        //   value: 'lackOfMoneyReason'
        // },
        {
          text: 'Статус',
          value: 'statusType'
        },
        {
          text: 'Действия ',
          value: 'action'
        },
      ],
    }
  },
  computed: {
    locationType() {
      return this.$store.getters.isMobile ? 'mobileYandex' : 'yandexDesktop'
    },
    PERMISSIONS: () => PERMISSIONS,
    ORDER_STATUSES: () => ORDER_STATUSES,
  },
  methods: {
    filterParams() {
      const params = {
      }
      this.filters.forEach(item => {
        if(item.paramKey === 'date'){
          if(item.value.every(item => item != null)) {
            params['fromDate'] = new Date(item.value[0]).toISOString()
            params['toDate'] = new Date(item.value[1]).toISOString()
          }
          return
        }
        if(!item.isMultiple) params[item.paramKey] = item.value
        else {
          if(!params[item.paramKey]) params[item.paramKey] = []
          if(item.value) params[item.paramKey].push(item.value)
        }
      })
      return params
    },
    onAddFilter(val){
      this.filters.push(val)
      this.filterCollectionList()
    },
    deleteCardFromFilters(index){
      this.filters.splice(index, 1)
    },
    filterCollectionList(){
      this.collectionData.params.pageNumber = 1
      this.changePage()
    },
    constructMapsUrl,
     changePage() {
      const {page} = this.$route.query
      if (page !== `${this.collectionData.params.pageNumber}`) {
        this.$router.replace({query: {page: `${this.collectionData.params.pageNumber}`}})
      }
       this.getCollectionList()
    },
    async getCollectionList() {
      try {
        this.$showLoading()
        const params = {
          ...this.collectionData.params,
          pageNumber: this.collectionData.params.pageNumber - 1,
          ...this.filterParams()
        }
        const {data: {content, totalPages}} = await this.$http.post('orders/search', params)
        this.collectionData.items = content
        this.collectionData.totalPages = totalPages
      } catch (e) {
        this.$setResponseError({error: e})
      } finally {
        this.$clearLoading()
      }
    },
  },
  async created() {
    this.collectionData.params.pageNumber = getQueryPage(this.$route.query.page)
    await this.getCollectionList()
  }
}
</script>