<template>
  <div class="current-analytics">
    <div class="justify-end mb-3 d-flex">
      <v-btn class="primary" @click="$refs.orderCreateDialogRef.open()">
        <v-icon class="mr-2">fas fa-plus</v-icon> Создать
      </v-btn>
    </div>
    <OrderCreateDialog ref="orderCreateDialogRef"/>
  </div>
</template>

<script>
  import OrderCreateDialog from "@/components/OrderCreateDialog";

  export default {
    components: {OrderCreateDialog},
  }
</script>

<style lang="scss">
  .analytics-offer {
    position: relative;
    &__all-offers {
      min-width: 100% !important;
      max-width: 200% !important;
      position: absolute;
      visibility: hidden;
      z-index: -1;
      transition: 0.3s all;
    }
  }
  .analytics-offer:hover .analytics-offer__all-offers {
    visibility: visible;
    z-index: 10;
  }
</style>
