<template>
    <div class="current-analytics">
        <div>
            <v-btn @click="$refs.orderCreateDialogRef.open()" color="secondary" dark>
                <v-icon class="mr-2" small>fas fa-plus</v-icon>
                Создать PDF
            </v-btn>

            <v-btn @click="downloadPdf" class="ml-6" color="info" dark>
                <v-icon class="mr-2" small>fas fa-download</v-icon>
                Экспорт PDF
            </v-btn>
        </div>
        <div class="d-flex justify-center mb-3">
            <!--      <CustomAutocomplete-->
            <!--          hide-details-->
            <!--          v-model="analyticData.filters.code"-->
            <!--          @input="onChangeFilter"-->
            <!--          item-value="code"-->
            <!--          clearable-->
            <!--          placeholder="Регионы"-->
            <!--          :items="regions"-->
            <!--      ></CustomAutocomplete>-->

            <vue-html2pdf
                    :show-layout="controlValue.showLayout"
                    :float-layout="controlValue.floatLayout"
                    :enable-download="controlValue.enableDownload"
                    :preview-modal="controlValue.previewModal"
                    :filename="controlValue.filename"
                    :paginate-elements-by-height="controlValue.paginateElementsByHeight"
                    :pdf-quality="controlValue.pdfQuality"
                    :pdf-format="controlValue.pdfFormat"
                    :pdf-orientation="controlValue.pdfOrientation"
                    :pdf-content-width="controlValue.pdfContentWidth"
                    :manual-pagination="controlValue.manualPagination"
                    @startPagination="startPagination()"
                    @hasDownloaded="hasDownloaded($event)"
                    ref="html2Pdf"
            >
                <pdf-content @domRendered="domRendered()" slot="pdf-content" />
            </vue-html2pdf>
        </div>
        <OrderCreateDialog @saved="getItems" ref="orderCreateDialogRef"/>
    </div>
</template>

<script>
    import {messages, PERMISSIONS} from '@/utils/constants'
    import {debounce, getQueryPage} from "@/utils/pureFunctions";
    import OrderCreateDialog from "@/components/OrderCreateDialog";
    import WarningDialog from "@/components/ui/prompt/warning-dialog";
    import AnalyticsDailyTransactions from '@/components/skeleton/AnalyticsDailyTransaction.vue'
    import {constructMapsUrl} from "@/utils/locationMapHelper";
    import {timeToString} from "@/utils/dateFormatHelpers";
    import PdfContent from "@/components/documents/PdfContent3";
    import VueHtml2pdf from 'vue-html2pdf'
    import { mapFields } from 'vuex-map-fields'

    export default {
        components: {WarningDialog, OrderCreateDialog, AnalyticsDailyTransactions, PdfContent, VueHtml2pdf},
        data() {
            return {
                contentRendered: false,
                pdfDownloaded: false,

                loading: false,
                selection: 1,

                desserts: [
                    {
                        name: '24.11.2023',
                        calories: '1 000 000',
                        fat: ' Пополнение уставного фонда от учрд. KARIMOV\n' +
                            ' SOBIRJON RAIMOVICH',
                        carbs: 51,
                        protein: 4.9,
                        iron: 22,
                    },
                    {
                        name: '07.12.2023',
                        calories: '1 000 000',
                        fat: ' Пополнение уставного фонда от учрд. KARIMOV\n' +
                            ' SOBIRJON RAIMOVICH',
                        carbs: 51,
                        protein: 4.9,
                        iron: 22,
                    },
                    {
                        name: '13.12.2023',
                        calories: '1 000 000',
                        fat: ' Пополнение уставного фонда от учрд. KARIMOV\n' +
                            ' SOBIRJON RAIMOVICH',
                        carbs: 65,
                        protein: 7,
                        iron: 6,
                    },
                    {
                        name: '17.01.2024',
                        calories: '1 000 000',
                        fat: ' Пополнение уставного фонда от учрд. KARIMOV\n' +
                            ' SOBIRJON RAIMOVICH',
                        carbs: 65,
                        protein: 7,
                        iron: 6,
                    },
                ],
                heads: [
                    {
                        text: 'Дата',
                        align: 'start',
                        sortable: false,
                        value: 'name',
                    },
                    { text: 'Сумма', value: 'calories' },
                    { text: 'Детали', value: 'fat' }
                ],

                headers: [
                    {
                        text: '№',
                        value: 'index',
                        sortable: false
                    },
                    {
                        text: 'Адрес ATM',
                        value: 'address',
                        sortable: false
                    },
                    {
                        text: 'Деньги закончится примерно',
                        value: 'forecastEndDate',
                        sortable: true
                    },
                    {
                        text: 'Предложенная сумма инкассации',
                        value: 'offers',
                    },
                    {
                        text: 'MFO',
                        value: 'mfo',
                        sortable: false
                    },
                    {
                        text: 'TID && MID',
                        value: 'tid',
                        sortable: false
                    },
                    {
                        text: 'Максимум сумма инкассации',
                        value: 'uzs',
                    },
                    {
                        text: 'Банк',
                        value: 'bankName',
                        sortable: false,
                        visibleOnlyAdmin: true
                    },
                    {
                        text: 'Действия',
                        value: 'action',
                        sortable: false
                    }
                ],
                analyticData: {
                    options: {
                        sortDesc: [false],
                        sortBy: ['forecastEndDate'],
                    },
                    sortDesc: [],
                    items: [],
                    lastPage: 0,
                    params: {pageNumber: 1},
                    filters: {}
                }
            }
        },
        methods: {
            async downloadPdf() {
                if (!(await this.validateControlValue())) return;

                this.$refs.html2Pdf.generatePdf();
            },

            validateControlValue() {
                if (this.controlValue.pdfQuality > 2) {
                    alert("pdf-quality value should only be 0 - 2");
                    this.controlValue.pdfQuality = 2;

                    return false;
                }

                if (!this.controlValue.paginateElementsByHeight) {
                    alert("paginate-elements-by-height value cannot be empty");
                    this.controlValue.paginateElementsByHeight = 1400;

                    return false;
                }

                const paperSizes = [
                    "a0",
                    "a1",
                    "a2",
                    "a3",
                    "a4",
                    "letter",
                    "legal",
                    "a5",
                    "a6",
                    "a7",
                    "a8",
                    "a9",
                    "a10",
                ];

                if (!paperSizes.includes(this.controlValue.pdfFormat)) {
                    alert(`pdf-format value should only be ${paperSizes}`);
                    this.controlValue.pdfFormat = "a4";

                    return false;
                }

                if (!this.controlValue.pdfOrientation) {
                    alert("pdf-orientation value cannot be empty");
                    this.controlValue.pdfOrientation = "portrait";

                    return false;
                }

                if (!this.controlValue.pdfContentWidth) {
                    alert("pdf-content-width value cannot be empty");
                    this.controlValue.pdfContentWidth = "800px";

                    return false;
                }

                return true;
            },

            startPagination() {
                console.log(`PDF has started pagination`)
            },

            hasDownloaded (blobPdf) {
                this.pdfDownloaded = true
            },

            domRendered() {
                this.contentRendered = true;
            },

            selectedPrice(item, sum, day) {
                item.uzs = sum
                item.selectedDay = day
            },
            timeToString,
            constructMapsUrl,
            onChangeFilter: debounce(function () {
                this.analyticData.params.pageNumber = 1
                this.changePage()
            }, 300),
            async onDeleteOrder(id) {
                try {
                    await this.$http.delete(`pre-orders/delete/${id}`)
                    await this.getItems()
                    this.$setSuccess({text: messages.onDelete})

                } catch (e) {
                    return Promise.reject(e)
                }
            },
            async changePage() {
                const {page} = this.$route.query
                const {pageNumber} = this.analyticData.params
                this.$showLoading()
                if (page !== `${pageNumber}`) {
                    await this.$router.replace({query: {page: `${pageNumber}`}})
                }
                await this.getItems()
                this.$clearLoading()
            },
            async getItems() {
                this.$showLoading()
                try {
                    const {sortBy: [sortBy], sortDesc: [sortDesc]} = this.analyticData.options
                    const params = {
                        ...this.analyticData.filters,
                        pageNumber: this.analyticData.params.pageNumber - 1
                    }
                    if (sortBy) params.sortBy = sortBy
                    params.sortDirection = sortDesc ? 'desc' : 'asc'
                    const {data: {content, totalPages}} = await this.$http.post('offers/search', params)
                    this.analyticData.items = content.map(item => {
                        item.forecastEndDate = timeToString(item.forecastEndDate)
                        item.selectedOffer = `${item.uzs}`
                        Object.keys(item.offers).forEach(p => {
                            if(+item.offers[p] === item.uzs) item.selectedDay = p
                        })
                        return item
                    })
                    this.analyticData.lastPage = totalPages
                } catch (e) {
                    this.$setResponseError({error: e})
                } finally {
                    this.$clearLoading()
                }
            },
            /*async getRegions() {
              const {data: {content}} = await this.$http.post('regions/search')
              this.regions = content
            },*/
        },
        computed: {
            ...mapFields(['controlValue']),
            isUserFromMainBranch() {
                return this.$store.getters.isUserFromMainBranch
            },
            isAdmin() {
                return this.$store.getters.isAdmin
            },
            PERMISSIONS: () => PERMISSIONS,
            canModify() {
                return !this.isUserFromMainBranch && !this.isAdmin
            }
        },
        async created() {
            this.headers = this.headers.filter(item => {
                return !item.visibleOnlyAdmin || this.isAdmin
            })
            this.analyticData.params.pageNumber = getQueryPage(this.$route.query.page)
            // await this.getRegions()
        }
    }
</script>

<style lang="scss" scoped>
    .v-card__text {
        padding: 35px 90px;
    }

    .card-logo {
        width: 400px;
        margin-left: 5px;
    }
</style>

<style lang="scss">
    .analytics-offer {
        position: relative;
        &__all-offers {
            min-width: 100% !important;
            max-width: 200% !important;
            position: absolute;
            visibility: hidden;
            z-index: -1;
            transition: 0.3s all;
        }
    }
    .analytics-offer:hover .analytics-offer__all-offers {
        visibility: visible;
        z-index: 10;
    }
</style>
