<template>
  <div class="current-analytics">
    <v-card>
      <v-card-text>
        <v-data-table
            dense
            :custom-sort="items => items"
            item-key="dd"
            :options.sync="analyticData.options"
            disable-pagination
            @update:options="getItems"
            :headers="headers"
            hide-default-footer
            :items="analyticData.items">
          <template #body.prepend>
            <tr>
              <td></td>
              <td>
                <CustomInputText
                    clearable
                    @input="onChangeFilter"
                    v-model.trim="analyticData.filters.machineNumber"
                    style="max-width: 450px" hide-details></CustomInputText>
              </td>
              <td>
                <CustomInputText
                    clearable
                    @input="onChangeFilter"
                    v-model.trim="analyticData.filters.srNumber"
                    style="max-width: 450px" hide-details></CustomInputText>
              </td>
              <td>
                <CustomInputText
                    clearable
                    @input="onChangeFilter"
                    v-model.trim="analyticData.filters.terminalId"
                    style="max-width: 450px" hide-details></CustomInputText>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </template>
          <template #item.id="{index}">{{ ((analyticData.params.pageNumber - 1) * 10) + (index + 1) }}</template>
          <template #item.mfo="{item}">
            <p class="mb-0 white-space-no-wrap">MFO: {{ item.mfo }}</p>
          </template>
          <template #item.action="{item}">
            <div class="action-btn-wrap">
              <VBtn @click="$refs.machineCreateDialogRef.open(item)"
                    class="action-btn" color="secondary">
                <VIcon x-small>fas fa-pencil-alt</VIcon>
              </VBtn>
            </div>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
    <div class="d-flex justify-center mt-5">
      <v-pagination :total-visible="10" @input="changePage" :length="analyticData.lastPage"
                    v-if="analyticData.lastPage > 1 || analyticData.params.pageNumber> 1"
                    v-model="analyticData.params.pageNumber" color="#dda24d"/>
    </div>
    <MachineCreateUpdateDialog @saved="getItems" ref="machineCreateDialogRef"/>
  </div>
</template>

<script>
import {debounce, getQueryPage} from "@/utils/pureFunctions";
import MachineCreateUpdateDialog from "@/components/MachineCreateUpdateDialog";
import WarningDialog from "@/components/ui/prompt/warning-dialog";

export default {
  data() {
    return {
      headers: [
        {
          text: '№',
          value: 'id',
          sortable: true
        },
        {
          text: 'Номер машины',
          value: 'machineNumber',
          sortable: false
        },
        {
          text: 'Серийный номер',
          value: 'srNumber',
          sortable: false
        },
        {
          text: 'Тид',
          value: 'terminalId',
          sortable: false
        },
        {
          text: 'Адрес',
          value: 'address',
          sortable: false
        },
        {
          text: 'Лат',
          value: 'latitude',
          sortable: false
        },
        {
          text: 'Лон',
          value: 'longitude',
          sortable: false
        },
        {
          text: 'Мид',
          value: 'merchantId',
          sortable: false,
        },
        {
          text: 'Мфо',
          value: 'mfo',
          sortable: false,
        },
        {
          text: 'Модел',
          value: 'modelName',
          sortable: false,
        },
        {
          text: 'Действия',
          value: 'action',
          sortable: false
        }
      ],
      analyticData: {
        options: {
          sortDesc: [true],
          sortBy: ['id'],
        },
        sortDesc: [],
        items: [],
        lastPage: 0,
        params: {pageNumber: 1},
        filters: {}
      }
    }
  },
  methods: {
    selectedPrice(item, sum, day) {
      item.uzs = sum
      item.selectedDay = day
    },
    onChangeFilter: debounce(function () {
      this.analyticData.params.pageNumber = 1
      this.changePage()
    }, 300),
    async changePage() {
      const {page} = this.$route.query
      const {pageNumber} = this.analyticData.params
      this.$showLoading()
      if (page !== `${pageNumber}`) {
        await this.$router.replace({query: {page: `${pageNumber}`}})
      }
      await this.getItems()
      this.$clearLoading()
    },
    async getItems() {
      this.$showLoading()
      try {
        const {sortBy: [sortBy], sortDesc: [sortDesc]} = this.analyticData.options
        const params = {
          ...this.analyticData.filters,
          pageNumber: this.analyticData.params.pageNumber - 1
        }
        if (sortBy) params.sortBy = sortBy
        params.sortDirection = sortDesc ? 'desc' : 'asc'
        const {data: {content, totalPages}} = await this.$http.get('machine/list', {
          params
        })
        this.analyticData.items = content
        this.analyticData.lastPage = totalPages
      } catch (e) {
        this.$setResponseError({error: e})
      } finally {
        this.$clearLoading()
      }
    },
  },
  components: {WarningDialog, MachineCreateUpdateDialog},
  async created() {
    this.analyticData.params.pageNumber = getQueryPage(this.$route.query.page)
  }
}
</script>

<style lang="scss">
.analytics-offer {
  position: relative;
  &__all-offers {
    min-width: 100% !important;
    max-width: 200% !important;
    position: absolute;
    visibility: hidden;
    z-index: -1;
    transition: 0.3s all;
  }
}
.analytics-offer:hover .analytics-offer__all-offers {
  visibility: visible;
  z-index: 10;
}
</style>
