<template>
  <div>
    <v-card>
      <v-card-text>
        <v-simple-table fixed-header height="96vh">
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">№</th>
                <th class="text-left">Код</th>
                <th v-for="role in items" class="text-left">
                  {{ role.code }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(perms, index) in permissions" :key="index">
                <td>{{ index + 1 }}</td>
                <td>{{ perms.code }}</td>
                <td v-for="role in items">
                  <v-progress-circular
                    v-if="itemId === role.id && itemCode === perms.code"
                    indeterminate
                    color="#dda24d"
                  ></v-progress-circular>
                  <v-checkbox
                    v-else
                    :value="role.permissions.includes(perms.code)"
                    :input-value="role.permissions.includes(perms.code)"
                    @change="statusHandler($event, role.id, perms.code, index)"
                    dense hide-details class="mt-0 pt-0"
                    color="#dda24d"
                  />
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { messages, PERMISSIONS } from "@/utils/constants";

export default {
  name: "permission",
  data() {
    return {
      items: [],
      itemId: null,
      itemCode: null,
      itemIndex: null,
      permissions: [],
    };
  },
  methods: {
    async getItems() {
      try {
        const { data } = await this.$http.get("roles/list");
        this.items = data;
        this.permissions = [];
        Object.keys(PERMISSIONS).forEach((perm) => {
          this.permissions.push({ code: perm });
        });
      } catch (e) {
        this.$setResponseError({ error: e });
      } 
    },
    async statusHandler(event, roleId, permCode, index) {
      try {
        this.itemId = roleId
        this.itemCode = permCode
        this.itemIndex = index
        await this.$http.post(`roles/synchronized-attach-permission`, {
          allow: !!event,
          roleId: roleId,
          permission: permCode,
        });
        let tempArr = this.items.filter(item => item.id === roleId)[0]
        if(event) tempArr.permissions.push(permCode)
        else tempArr.permissions = tempArr.permissions.filter(perm => perm !== permCode)
        this.$setSuccess({ text: messages.onSave });
      } catch (e) {
        this.$setResponseError({ error: e });
      } finally {
        this.itemId = null
        this.itemCode = null
        this.itemIndex = null
      }
    },
  },
  async created() {
    await this.getItems();
  },
};
</script>

<style scoped></style>
