<template>
  <div>
    <div class="mb-3 ">
      <VRow>
        <VCol cols="12" lg="3" md="6">
        <VCard>
          <VCardText class="d-flex justify-space-between align-center">
            <div>
              <h4 class="font-weight-regular">СКАЧАТЬ</h4>
              <h3>Отчет по банкоматом</h3>
            </div>
            <VSheet color="primary" rounded class="d-flex justify-center align-center" height="48px" width="48px"
                    style="border-radius: 8px !important;">
              <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M9.1875 20.625H14.8125C19.5 20.625 21.375 18.75 21.375 14.0625V8.4375C21.375 3.75 19.5 1.875 14.8125 1.875H9.1875C4.5 1.875 2.625 3.75 2.625 8.4375V14.0625C2.625 18.75 4.5 20.625 9.1875 20.625Z"
                  stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path
                  d="M17.625 7.26562V13.5938C17.625 12.5625 16.7813 11.7188 15.75 11.7188H8.25C7.21875 11.7188 6.375 12.5625 6.375 13.5938V7.26562C6.375 6.23437 7.21875 5.39062 8.25 5.39062H15.75C16.7813 5.39062 17.625 6.23437 17.625 7.26562Z"
                  stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18.5625 14.7656H17.625" stroke="white" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
                <path d="M6.375 14.7656H5.4375" stroke="white" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
                <path
                  d="M17.625 13.125V10.3125C17.625 9.28125 16.7813 8.4375 15.75 8.4375H8.25C7.21875 8.4375 6.375 9.28125 6.375 10.3125V13.125"
                  stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path
                  d="M17.625 13.5938V14.7656H14.3438C14.3438 16.0594 13.2937 17.1094 12 17.1094C10.7063 17.1094 9.65625 16.0594 9.65625 14.7656H6.375V13.5938C6.375 12.5625 7.21875 11.7188 8.25 11.7188H15.75C16.7813 11.7188 17.625 12.5625 17.625 13.5938Z"
                  stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </VSheet>
          </VCardText>
        </VCard>
      </VCol>
        <VCol cols="12" lg="3" md="6">
        <VCard>
          <VCardText class="d-flex justify-space-between align-center">
            <div>
              <h4 class="font-weight-regular">СКАЧАТЬ</h4>
              <h3>Отчет по банкоматом</h3>
            </div>
            <VSheet color="primary" rounded class="d-flex justify-center align-center" height="48px" width="48px"
                    style="border-radius: 8px !important;">
              <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M9.1875 20.625H14.8125C19.5 20.625 21.375 18.75 21.375 14.0625V8.4375C21.375 3.75 19.5 1.875 14.8125 1.875H9.1875C4.5 1.875 2.625 3.75 2.625 8.4375V14.0625C2.625 18.75 4.5 20.625 9.1875 20.625Z"
                  stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path
                  d="M17.625 7.26562V13.5938C17.625 12.5625 16.7813 11.7188 15.75 11.7188H8.25C7.21875 11.7188 6.375 12.5625 6.375 13.5938V7.26562C6.375 6.23437 7.21875 5.39062 8.25 5.39062H15.75C16.7813 5.39062 17.625 6.23437 17.625 7.26562Z"
                  stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18.5625 14.7656H17.625" stroke="white" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
                <path d="M6.375 14.7656H5.4375" stroke="white" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
                <path
                  d="M17.625 13.125V10.3125C17.625 9.28125 16.7813 8.4375 15.75 8.4375H8.25C7.21875 8.4375 6.375 9.28125 6.375 10.3125V13.125"
                  stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path
                  d="M17.625 13.5938V14.7656H14.3438C14.3438 16.0594 13.2937 17.1094 12 17.1094C10.7063 17.1094 9.65625 16.0594 9.65625 14.7656H6.375V13.5938C6.375 12.5625 7.21875 11.7188 8.25 11.7188H15.75C16.7813 11.7188 17.625 12.5625 17.625 13.5938Z"
                  stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </VSheet>
          </VCardText>
        </VCard>
      </VCol>
        <VCol cols="12" lg="3" md="6">
        <VCard>
          <VCardText class="d-flex justify-space-between align-center">
            <div>
              <h4 class="font-weight-regular">СКАЧАТЬ</h4>
              <h3>Отчет по банкоматом</h3>
            </div>
            <VSheet color="primary" rounded class="d-flex justify-center align-center" height="48px" width="48px"
                    style="border-radius: 8px !important;">
              <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M9.1875 20.625H14.8125C19.5 20.625 21.375 18.75 21.375 14.0625V8.4375C21.375 3.75 19.5 1.875 14.8125 1.875H9.1875C4.5 1.875 2.625 3.75 2.625 8.4375V14.0625C2.625 18.75 4.5 20.625 9.1875 20.625Z"
                  stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path
                  d="M17.625 7.26562V13.5938C17.625 12.5625 16.7813 11.7188 15.75 11.7188H8.25C7.21875 11.7188 6.375 12.5625 6.375 13.5938V7.26562C6.375 6.23437 7.21875 5.39062 8.25 5.39062H15.75C16.7813 5.39062 17.625 6.23437 17.625 7.26562Z"
                  stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18.5625 14.7656H17.625" stroke="white" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
                <path d="M6.375 14.7656H5.4375" stroke="white" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
                <path
                  d="M17.625 13.125V10.3125C17.625 9.28125 16.7813 8.4375 15.75 8.4375H8.25C7.21875 8.4375 6.375 9.28125 6.375 10.3125V13.125"
                  stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path
                  d="M17.625 13.5938V14.7656H14.3438C14.3438 16.0594 13.2937 17.1094 12 17.1094C10.7063 17.1094 9.65625 16.0594 9.65625 14.7656H6.375V13.5938C6.375 12.5625 7.21875 11.7188 8.25 11.7188H15.75C16.7813 11.7188 17.625 12.5625 17.625 13.5938Z"
                  stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </VSheet>
          </VCardText>
        </VCard>
      </VCol>
        <VCol cols="12" lg="3" md="6">
        <VCard>
          <VCardText class="d-flex justify-space-between align-center">
            <div>
              <h4 class="font-weight-regular">СКАЧАТЬ</h4>
              <h3>Отчет по банкоматом</h3>
            </div>
            <VSheet color="primary" rounded class="d-flex justify-center align-center" height="48px" width="48px"
                    style="border-radius: 8px !important;">
              <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M9.1875 20.625H14.8125C19.5 20.625 21.375 18.75 21.375 14.0625V8.4375C21.375 3.75 19.5 1.875 14.8125 1.875H9.1875C4.5 1.875 2.625 3.75 2.625 8.4375V14.0625C2.625 18.75 4.5 20.625 9.1875 20.625Z"
                  stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path
                  d="M17.625 7.26562V13.5938C17.625 12.5625 16.7813 11.7188 15.75 11.7188H8.25C7.21875 11.7188 6.375 12.5625 6.375 13.5938V7.26562C6.375 6.23437 7.21875 5.39062 8.25 5.39062H15.75C16.7813 5.39062 17.625 6.23437 17.625 7.26562Z"
                  stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18.5625 14.7656H17.625" stroke="white" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
                <path d="M6.375 14.7656H5.4375" stroke="white" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
                <path
                  d="M17.625 13.125V10.3125C17.625 9.28125 16.7813 8.4375 15.75 8.4375H8.25C7.21875 8.4375 6.375 9.28125 6.375 10.3125V13.125"
                  stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path
                  d="M17.625 13.5938V14.7656H14.3438C14.3438 16.0594 13.2937 17.1094 12 17.1094C10.7063 17.1094 9.65625 16.0594 9.65625 14.7656H6.375V13.5938C6.375 12.5625 7.21875 11.7188 8.25 11.7188H15.75C16.7813 11.7188 17.625 12.5625 17.625 13.5938Z"
                  stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </VSheet>
          </VCardText>
        </VCard>
      </VCol>
      </VRow>
    </div>
    <VCard>
      <div class="d-flex justify-space-between align-center pt-6 pr-11 pl-4">
        <h3>Отчёты</h3>
        <div class="date-and-dwn d-flex align-center">
          <v-menu
              v-model="menu"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="auto"
              class="report-date"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                  v-model="date"
                  prepend-icon="far fa-calendar-alt"
                  readonly
                  v-bind="attrs"
                  v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
                locale="ru"
                v-model="date"
                @input="menu = false"
            ></v-date-picker>
          </v-menu>
          <VBtn class="ml-5" color="primary">Скачать в Excel
            <svg class="ml-2" width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                  d="M8.99189 7.26543C9.01498 7.26545 9.03756 7.25865 9.05679 7.24589C9.07603 7.23312 9.09107 7.21496 9.10002 7.19368C9.10897 7.1724 9.11143 7.14895 9.1071 7.12627C9.10277 7.10359 9.09184 7.0827 9.07568 7.06621L6.77881 4.73067C6.76249 4.7141 6.7416 4.70275 6.71881 4.69809C6.69602 4.69342 6.67236 4.69565 6.65084 4.70448C6.62931 4.71331 6.61091 4.72834 6.59796 4.74766C6.58501 4.76699 6.57811 4.78973 6.57813 4.81299V6.91387C6.57813 7.00711 6.61516 7.09653 6.6811 7.16246C6.74703 7.22839 6.83645 7.26543 6.92969 7.26543H8.99189Z"
                  fill="white"/>
              <path
                  d="M6.02148 7.82225C5.90115 7.70353 5.80554 7.56215 5.74017 7.40626C5.67479 7.25038 5.64096 7.08308 5.64062 6.91405V4.21873H3.53125C3.03442 4.2202 2.55836 4.41822 2.20705 4.76953C1.85573 5.12084 1.65772 5.59691 1.65625 6.09373V12.6562C1.65625 13.1535 1.85379 13.6304 2.20542 13.9821C2.55706 14.3337 3.03397 14.5312 3.53125 14.5312H7.75C8.24728 14.5312 8.72419 14.3337 9.07582 13.9821C9.42745 13.6304 9.625 13.1535 9.625 12.6562V8.20311H6.92969C6.76063 8.20287 6.59331 8.16908 6.43741 8.1037C6.28152 8.03833 6.14014 7.94266 6.02148 7.82225Z"
                  fill="white"/>
              <path
                  d="M11.1484 3.51516H13.2106C13.2337 3.51518 13.2563 3.50838 13.2755 3.49561C13.2948 3.48285 13.3098 3.46469 13.3188 3.4434C13.3277 3.42212 13.3302 3.39867 13.3259 3.376C13.3215 3.35332 13.3106 3.33243 13.2944 3.31594L10.9976 0.980395C10.9812 0.963821 10.9604 0.952479 10.9376 0.947815C10.9148 0.94315 10.8911 0.945374 10.8696 0.954202C10.8481 0.963031 10.8297 0.978065 10.8167 0.99739C10.8038 1.01672 10.7969 1.03946 10.7969 1.06272V3.1636C10.7969 3.25684 10.8339 3.34626 10.8998 3.41219C10.9658 3.47812 11.0552 3.51516 11.1484 3.51516Z"
                  fill="white"/>
              <path
                  d="M11.1483 4.45283C10.8072 4.45023 10.4809 4.31358 10.2397 4.0724C9.99851 3.83121 9.86186 3.50485 9.85925 3.16377V0.46846H6.69519C6.22916 0.469003 5.78236 0.654375 5.45283 0.983911C5.12329 1.31345 4.93792 1.76024 4.93738 2.22627V3.28096H6.17136C6.32887 3.28159 6.4847 3.31333 6.6299 3.37437C6.7751 3.43541 6.9068 3.52453 7.01746 3.63662L10.2155 6.88858C10.4386 7.11495 10.5632 7.42034 10.5621 7.73819V11.7185H12.1163C13.0687 11.7185 13.8433 10.9298 13.8433 9.96064V4.45283H11.1483Z"
                  fill="white"/>
            </svg>
          </VBtn>
        </div>
      </div>
      <VCardText>
        <v-data-table
          disable-pagination
          :headers="headers"
          disable-sort
          hide-default-footer
          :items="analyticData.items">
          <template #item.address="{item}">
            <a target="_blank" v-if="item.latitude && item.longitude"
               :href="constructMapsUrl(item.latitude, item.latitude, 'yandexDesktop')">{{ item.address }}</a>
            <span v-else>{{ item.address }}</span>
          </template>
          <template #item.index="{index}">{{ index + 1 }}</template>
          <template #item.action="{item}">
            <div class="action-btn-wrap">
              <VBtn @click="$refs.reportsItemDialogRef.open(item)" class="action-btn" color="secondary">
                <VIcon x-small>fas fa-eye</VIcon>
              </VBtn>
            </div>
          </template>
        </v-data-table>
      </VCardText>
    </VCard>
    <div class="d-flex justify-center mt-5">
      <v-pagination :total-visible="10" @input="changePage" :length="analyticData.lastPage"
                    v-if="analyticData.lastPage > 1 || analyticData.params.pageNumber> 1"
                    v-model="analyticData.params.pageNumber"/>
    </div>
    <ReportsItemDialog ref="reportsItemDialogRef"></ReportsItemDialog>
  </div>
</template>

<script>
import {getQueryPage} from "@/utils/pureFunctions";
import {constructMapsUrl} from "@/utils/locationMapHelper";
import ReportsItemDialog from "@/components/ReportsItemDialog.vue";
import VMaskInput from "@/components/VMaskInput";

export default {
  data() {
    return {
      num: '998977684724',
      menu: false,
      date: null,
      headers: [
        {
          text: '№',
          value: 'index'
        },
        {
          text: 'Группа',
          value: 'group'
        },
        {
          text: 'Адрес',
          value: 'address'
        },
        {
          text: 'MID',
          value: 'mid'
        },
        {
          text: 'TID',
          value: 'tid'
        },
        {
          text: 'Остаток',
          value: 'remainder'
        },
        {
          text: 'Предложенная сумма инкассации',
          value: 'sumCollection'
        },
        {
          text: 'Время инкассации',
          value: 'collectionTime'
        },
        {
          text: 'Дата инкассации',
          value: 'collectionDate'
        },
        {
          text: 'Действие',
          value: 'action'
        }
      ],
      analyticData: {
        params: {
          pageNumber: 1,
        },
        filters: {
          address: null
        },
        items: [
          {
            index: 0,
            group: 'Group-32',
            address: 'Uzbekistan',
            mid: 65345,
            tid: 65253,
            remainder: 64334,
            sumCollection: 21335,
            collectionTime: "11:03",
            collectionDate: "21.03.2022",
          }
        ],
        lastPage: 0
      }
    }
  },
  components: {
    VMaskInput,
    ReportsItemDialog
  },
  methods: {
    constructMapsUrl,
    async changePage() {
      const {page} = this.$route.query
      if (page !== `${this.analyticData.params.pageNumber}`) {
        await this.$router.replace({query: {page: `${this.analyticData.params.pageNumber}`}})
      }
      await this.getItems()
    },
    async getItems() {
      this.$showLoading()
      try {
        const params = {
          ...this.analyticData.params,
          ...this.analyticData.filters,
          pageNumber: this.analyticData.params.pageNumber - 1,
        }
        const {data: {content, totalPages}} = await this.$http.post('pre-orders/forecast-search', params)
        this.analyticData.items = content
        this.analyticData.lastPage = totalPages
      } catch (e) {
        this.$setResponseError({error: e})
      } finally {
        this.$clearLoading()
      }
    },
  },
  async created() {
    this.analyticData.params.pageNumber = getQueryPage(this.$route.query.page)
    // await this.getItems()
  }
}
</script>
