<template>
  <div>
    <div class="text-right mb-3">
      <btn-with-tooltip @click="$refs.roleCreateUpdateForm.open()" class-name="action-btn" color="#dda24d" dark>
        <v-icon small>fas fa-plus</v-icon>
        <template #tooltip>Создать</template>
      </btn-with-tooltip>
    </div>
    <v-card>
      <v-card-text>
        <v-data-table
          dense
          disable-pagination
          disable-sort
          hide-default-footer
          :headers="headers"
          :items="items"
        >
          <template #item.index="{index}">{{ index + 1 }}</template>
          <template #item.action="{item}">
            <div class="action-btn-wrap">
              <v-btn @click="$refs.roleCreateUpdateForm.open(item)" class="action-btn" color="secondary">
                <v-icon x-small>fas fa-pencil-alt</v-icon>
              </v-btn>
              <v-btn @click="$refs.warningDialog.open(item.id)" class="action-btn" color="error">
                <v-icon x-small>fas fa-trash</v-icon>
              </v-btn>
            </div>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
    <div class="d-flex justify-center mt-5">
      <v-pagination @input="changePage" :length="lastPage" v-if="lastPage > 1 || options.page> 1"
                    v-model="options.page" color="#dda24d"/>
    </div>
    <RoleCreateUpdateForm @saved="getItems" ref="roleCreateUpdateForm"/>
    <WarningDialog
      @apply="onDelete"
      ref="warningDialog"
    />
  </div>
</template>

<script>
import RoleCreateUpdateForm from "@/components/roleCreateUpdateForm";
import WarningDialog from "@/components/ui/prompt/warning-dialog";
import {debounce, getQueryPage} from "@/utils/pureFunctions";
import {messages} from "@/utils/constants";

export default {
  name: "role",
  components: {WarningDialog, RoleCreateUpdateForm},
  data() {
    return {
      headers: [
        {
          text: '№',
          value: 'index'
        },
        {
          text: 'Код',
          value: 'code'
        },
        {
          text: 'Описание',
          value: 'description'
        },
        {
          text: 'Имя',
          value: 'name'
        },
        {
          text: 'Действие',
          value: 'action'
        }
      ],
      lastPage: 0,
      options: {
        pageNumber: 1,
        search: null,
      },
      items: [],
    }
  },
  methods: {
    onChangeFilter: debounce(function () {
      this.options.pageNumber = 1
      this.changePage()
    }, 300),
    async changePage() {
      const {page} = this.$route.query
      this.$showLoading()
      if (page !== `${this.options.pageNumber}`) {
        await this.$router.replace({query: {page: `${this.options.pageNumber}`}})
      }
      await this.getItems()
      this.$clearLoading()
    },
    async onDelete(id) {
      try {
        await this.$http.delete(`roles/delete/${id}`)
        this.$setSuccess({text: messages.onDelete})
        await this.getItems()
      } catch (e) {
        this.$setResponseError({error: e})
      }
    },
    async getItems() {
      try {
        const params = {
          ...this.options,
          pageNumber: this.options.pageNumber - 1
        }
        const {data: {content, totalPages}} = await this.$http.post('roles/search', params)
        this.items = content
        this.lastPage = totalPages
      } catch (e) {
        this.$setResponseError({error: e})
      }
    }
  },
  async created() {
    this.options.pageNumber = getQueryPage(this.$route.query.page)
    await this.getItems()
  }
}
</script>

<style scoped>

</style>
