<template>
  <div>
    <v-card>
      <v-card-text>
        <v-data-table
          disable-pagination
          :headers="headers"
          disable-sort
          hide-default-footer
          :items="routesData.items">
          <template #item.index="{index}">{{ index + 1 }}</template>
          <template #item.carNumbers="{item}">
            {{item.carNumber}} | {{item.carModel}}
          </template>
          <template #item.groupUserCount="{item}">{{ item.groupUserCount }} человек</template>
          <template #item.atmCount="{item}">{{ item.atmCount }} штук</template>
          <template #item.mileage="{item}">
            <div class="soum">{{ item.depositSum }} сум</div>
            <div class="dollar">{{ item.depositDollar }} $</div>
          </template>
          <template #item.statusType="{item}">
            <v-chip
              class="ma-1"
              small
              :color="ORDER_GROUP_STATUSES[item.statusType].color"
              label
              outlined
            >
              {{ ORDER_GROUP_STATUSES[item.statusType].text }}
            </v-chip>
          </template>
          <template #item.direction="{item}">
            <div class="action-btn-wrap">
              <v-btn class="action-btn" @click="$refs.viewNavigationMap.open(item)" color="#dda24d" dark>
                <v-icon x-small>fas fa-map-marker-alt</v-icon>
              </v-btn>
            </div>
          </template>
          <template #item.action="{item}">
            <div class="action-btn-wrap">
              <v-btn v-if="$can(PERMISSIONS.ORDER_MODIFY)" @click="$refs.viewAnalyticItem.open(item)" class="action-btn" color="secondary">
                <v-icon x-small>fas fa-eye</v-icon>
              </v-btn>
            </div>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
    <div class="d-flex justify-center mt-5">
      <v-pagination @input="changePage" :length="routesData.totalPages" v-if="routesData.params.pageNumber > 1 || routesData.totalPages> 1"
                    v-model="routesData.params.pageNumber" color="#dda24d"/>
    </div>
    <ViewAnalyticItem @saved="getItems" ref="viewAnalyticItem"/>
    <NavigationMap ref="viewNavigationMap" />
  </div>
</template>

<script>
import ViewAnalyticItem from "@/components/ViewAnalyticItem";
import {getQueryPage} from "@/utils/pureFunctions";
import {ORDER_GROUP_STATUSES, PERMISSIONS} from "@/utils/constants.js";
import NavigationMap from "@/components/NavigationMap.vue";

export default {
  name: "routes",
  components: {NavigationMap, ViewAnalyticItem},
  data() {
    return {
      routesData: {
        items: [],
        params: {
          pageNumber: 1,
          sortBy: 'createDate',
          sortDirection: 'desc'
        },
        totalPages: 0
      },
      headers: [
        {
          text: '№',
          value: 'index'
        },
        {
          text: "Номер запроса",
          value: 'number'
        },
        {
          text: 'Автомобиль',
          value: 'carNumbers'
        },
        {
          text: 'Количество участников',
          value: 'groupUserCount'
        },
        {
          text: 'Количество банкоматов',
          value: 'atmCount'
        },
        {
          text: 'Общая сумма инкассации',
          value: 'totalCollectionAmount'
        },
        {
          text: 'Статус',
          value: 'statusType'
        },
        {
          text: 'Направление',
          value: 'direction'
        },
        {
          text: 'Действия',
          value: 'action'
        }
      ],
    }
  },
  computed: {
    PERMISSIONS: () => PERMISSIONS,
    ORDER_GROUP_STATUSES: () => ORDER_GROUP_STATUSES
  },
  methods: {
    async changePage() {
      const {page} = this.$route.query
      this.$showLoading()
      if (page !== `${this.routesData.params.pageNumber}`) {
        await this.$router.replace({query: {page: `${this.routesData.params.pageNumber}`}})
      }
      await this.getItems()
      this.$clearLoading()
    },
    async getItems() {
      try {
        const params = {
          ...this.routesData.params,
          pageNumber: this.routesData.params.pageNumber - 1
        }
        const {data: {content, totalPages}} = await this.$http.post('order-groups/search-operator', params)
        this.routesData.items = content
        this.routesData.totalPages = totalPages
      } catch (e) {
        this.$setResponseError({error: e})
      }
    },
  },
  async created() {
    this.routesData.params.pageNumber = getQueryPage(this.$route.query.page)
    await this.getItems()
  }
}
</script>

<style >
.sortable-ghost {
  opacity: 0.4;
}
</style>
