<template>
  <div>
    <div class="text-right mb-3">
      <btn-with-tooltip v-if="$can(PERMISSIONS.USER)" @click="$refs.userCreateUpdateForm.open()" class-name="action-btn" color="#dda24d" dark>
        <VIcon small >fas fa-plus</VIcon>
        <template #tooltip>Создать</template>
      </btn-with-tooltip> <!-- USER_MODIFY -->
    </div>
    <v-card>
      <v-card-text>
        <VDataTable
          dense
          item-key="dd"
          :options.sync="options"
          disable-pagination
          @update:options="getItems"
          :headers="headers"
          disable-sort
          hide-default-footer
          :items="items">
          <template #body.prepend>
            <tr>
              <td></td>
              <td>
                <CustomInputText
                    clearable
                    @input="onChangeFilter"
                    v-model="filters.userName"
                    style="max-width: 450px" hide-details></CustomInputText>
              </td>
              <td>
                <CustomInputText
                    clearable
                    @input="onChangeFilter"
                    v-model="filters.name"
                    style="max-width: 450px" hide-details></CustomInputText>
              </td>
              <td></td>
              <td>
                <CustomInputText
                    clearable
                    @input="onChangeFilter"
                    v-model="filters.phoneNumber"
                    style="max-width: 450px" hide-details></CustomInputText>
              </td>
              <td>
                <CustomInputText
                    clearable
                    @input="onChangeFilter"
                    v-model="filters.mfo"
                    style="max-width: 450px" hide-details></CustomInputText>
              </td>
              <td></td>
              <td></td>
            </tr>
          </template>
          <template #item.index="{index}">{{ options.pageNumber === 1 ? index + 1 : (options.pageNumber - 1) * 10 + index + 1 }}</template>
          <template #item.roles="{item}">
            <div v-if="item.roles.length > 1">
              <span v-for="(role, idx) in item.roles" :key="idx">{{ role }} <br></span>
            </div>
            <div v-else>{{ item.roles[0] }}</div>
          </template>
          <template #item.action="{item}">
            <div class="action-btn-wrap">
              <VBtn v-if="$can(PERMISSIONS.USER)" @click="$refs.userCreateUpdateForm.open(item.id)" class="action-btn" color="secondary">
                <VIcon x-small>fas fa-pencil-alt</VIcon>
              </VBtn> <!-- USER_MODIFY -->
              <VBtn v-if="$can(PERMISSIONS.USER)" @click="$refs.warningDialog.open(item.id)" class="action-btn" color="error">
                <VIcon x-small>fas fa-trash</VIcon>
              </VBtn> <!-- USER_DELETE -->
            </div>
          </template>
        </VDataTable>
      </v-card-text>
    </v-card>
    <div class="d-flex justify-center mt-5">
      <VPagination @input="changePage" :length="lastPage" v-if="lastPage > 1 || options.pageNumber> 1"
                   v-model="options.pageNumber" color="#dda24d"/>
    </div>
    <UserCreateUpdateForm @saved="getItems" ref="userCreateUpdateForm"/>
    <WarningDialog
        @apply="onDelete"
        ref="warningDialog"
    ></WarningDialog>
  </div>
</template>

<script>
import {messages, PERMISSIONS} from '@/utils/constants'
import {debounce, getQueryPage} from "@/utils/pureFunctions";
import UserCreateUpdateForm from "@/components/UserCreateUpdateForm";
import WarningDialog from "@/components/ui/prompt/warning-dialog";
import '../../assets/scss/button.scss'

export default {
  name: "user",
  data() {
    return {
      headers: [
        {
          text: '№',
          value: 'index'
        },
        {
          text: 'Логин',
          value: 'userName'
        },
        {
          text: 'Имя',
          value: 'firstName'
        },
        {
          text: 'Фамилия',
          value: 'lastName'
        },
        {
          text: 'Номер телефона',
          value: 'phoneNumber'
        },
        {
          text: 'МФО',
          value: 'mfo'
        },
        {
          text: 'Роль',
          value: 'roles'
        },
        {
          text: 'Действие',
          value: 'action'
        }
      ],
      lastPage: 0,
      options: {
        pageNumber: 1,
      },
      items: [],
      filters: {},
    }
  },
  computed: {
    PERMISSIONS: () => PERMISSIONS
  },
  methods: {
    async onDelete(id) {
      try {
        await this.$http.delete(`users/delete/${id}`)
        this.$setSuccess({text: messages.onDelete})
        await this.getItems()
      } catch (e) {
        this.$setResponseError({error: e})
      }
    },
    onChangeFilter: debounce(function () {
      this.options.pageNumber = 1
      this.changePage()
    }, 300),
    async changePage() {
      const {page} = this.$route.query
      this.$showLoading()
      if (page !== `${this.options.pageNumber}`) {
        await this.$router.replace({query: {page: `${this.options.pageNumber}`}})
      }
      await this.getItems()
      this.$clearLoading()
    },
    async getItems() {
      try {
        const params = {
          ...this.filters,
          pageNumber: this.options.pageNumber - 1
        }
        const {data: {content, totalPages}} = await this.$http.post('users/search', params)
        this.items = content
        this.lastPage = totalPages
      } catch (e) {
        this.$setResponseError({error: e})
      }
    },
  },
  components: {WarningDialog, UserCreateUpdateForm},
  async created() {
    this.options.pageNumber = getQueryPage(this.$route.query.page)
    // await this.getItems()
  }
}
</script>
