<template>
  <div class="d-flex mx-n2 align-end justify-end">
    <div class="px-2">
      <VFadeTransition mode="out-in">
        <v-skeleton-loader
            v-if="loading"
            class="mx-auto"
            height="76"
            width="300"
            style="border-radius: 10px;"
            type="card"
        ></v-skeleton-loader>
        <VCard v-else>
          <VCardText>
            <div class="d-flex sum pr-4 pl-4">
              <div class="d-flex flex-column align-start mr-4">
                <div class="currency">Выбранная дата для прогноза</div>
                <div class="currency-number font-weight-bold">{{ forecastTime }}</div>
              </div>
            </div>
          </VCardText>
        </VCard>
      </VFadeTransition>
    </div>
    <div class="px-2">
      <VFadeTransition mode="out-in">
        <v-skeleton-loader
            v-if="loading"
            class="mx-auto"
            height="76"
            width="300"
            style="border-radius: 10px;"
            type="card"
        ></v-skeleton-loader>
        <VCard v-else>
          <VCardText class="d-flex justify-space-between align-center">
            <VChip color="primary">
              <VIcon>fas fa-dollar-sign</VIcon>
            </VChip>
            <div class="d-flex sum pr-4 pl-4">
              <div class="d-flex flex-column align-start mr-4">
                <div class="currency">Сум</div>
                <div class="currency-number font-weight-bold">{{ dailyTransactionsData.depositSum|money }}</div>
              </div>
              <div class="d-flex flex-column align-start">
                <div class="currency">Доллар</div>
                <div class="currency-number font-weight-bold">{{ dailyTransactionsData.depositDollar|money }}</div>
              </div>
            </div>
          </VCardText>
        </VCard>
      </VFadeTransition>
    </div>
  </div>
</template>

<script>
import {FORECAST_TYPE} from "@/utils/constants";

export default {
  props: {
    foreCastType: {
      type: String,
      default: FORECAST_TYPE.IN_ONE_DAY
    }
  },
  data: () => ({
    dailyTransactionsData: {},
    loading: true,
    forecastTime: null
  }),
  watch: {
    foreCastType() {
      this.getDailyTransactions()
    }
  },
  methods: {
    async getDailyForecastTime() {
      try {
        const {data: {forecastDate}} = await this.$http.post('forecast-money/full-date')
        if (forecastDate) this.forecastTime = forecastDate
      } catch (e) {
        this.$setResponseError({error: e})
      }
    },
    async getDailyTransactions() {
      try {
        const {data} = await this.$http.post('pre-orders/daily-transactions', {
          forecastType: this.foreCastType
        })
        if (data) {
          data.createDate = new Date(new Date(data.createDate).getTime()).toLocaleDateString()
          this.dailyTransactionsData = data
        }
      } catch (e) {
        this.$setResponseError({error: e})
      } finally {
        this.loading = false
      }
    },
    reset() {
      this.getDailyTransactions()
    }
  },
  created() {
    this.getDailyTransactions()
    this.getDailyForecastTime()
  }
}
</script>
