<template>
  <v-dialog persistent @click:outside="close" v-model="value" :width="500">
    <v-card>
      <v-btn icon small @click="close" absolute right class="mt-4">
        <v-icon small>fas fa-times</v-icon>
      </v-btn>
      <v-card-text class="text-center">
        <transition name="slide-y-transition" mode="out-in">
          <validation-observer v-if="status === CARD_CREATE_STATUS.create" v-slot="{handleSubmit}" ref="cardFormObs">
            <form @submit.prevent="handleSubmit(addCard)">
              <div class="title  py-4">
                <h5>Добавить карту</h5>
              </div>
              <v-row no-gutters class="mx-n2">
                <v-col cols="12">
                  <custom-input-text
                    pattern="####-####-####-####"
                    label="Номер карты"
                    name="Номер карты"
                    rules="required|card_number"
                    vid="card_number"
                    v-model="newCardForm.number"
                    placeholder="8888-8888-8888-8888"
                  ></custom-input-text>
                </v-col>
                <v-col cols="12">
                  <custom-input-text
                          label="Срок действия"
                          rules="required"
                          name="Срок действия"
                          vid="expiry_date"
                          v-model="newCardForm.expiry_date"
                          pattern="##/##"
                          placeholder="00/00"
                  ></custom-input-text>
<!--                  <div class="d-flex mx-n2">-->
<!--                    <div class="px-2">-->
<!--                    </div>-->
<!--                    <div class="px-2">-->
<!--                      <custom-input-text-->
<!--                        label="Номер телефона"-->
<!--                        name="Номер телефона"-->
<!--                        rules="required"-->
<!--                        v-model="newCardForm.phone"-->
<!--                        prefix="+998"-->
<!--                        vid="phone"-->
<!--                        pattern="##-###-##-##"-->
<!--                      ></custom-input-text>-->
<!--                    </div>-->
<!--                  </div>-->
                </v-col>
                <v-col cols="12" class="text-right">
                  <v-btn color="primary" width="100%" type="submit" :loading="loading">Добавить
                  </v-btn>
                </v-col>
              </v-row>
            </form>
          </validation-observer>
          <validation-observer v-slot="{handleSubmit}" v-else tag="div" ref="confirmFormObs">
            <div class="title pb-2 pt-4">
              <h5>Подверждение</h5>
            </div>
            <p class="mb-1">Смс код отправлен на телефон номер</p>
            <form @submit.prevent="handleSubmit(confirmHandler)">
              <custom-input-text
                pattern="######"
                placeholder="666666"
                rules="required"
                vid="confirm"
                name="Код"
                label="Код"
                v-model="code"
              ></custom-input-text>
              <v-sheet color="primary" dark class="pa-2 px-4 mb-3 rounded" v-if="timeout >0">
                Вы можете снова отправить через 00:{{timeout.length === 1 ? `0${timeout}` : timeout}}
              </v-sheet>
              <v-btn @click="addCard" v-else color="primary" width="100%" class="mb-2">Отправит еще</v-btn>
              <div class="text-center">
                <v-btn color="primary" width="100%" :loading="loading" type="submit">Подтверждать</v-btn>
              </div>
            </form>
          </validation-observer>
        </transition>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
  const CARD_CREATE_STATUS = {
    create: 'CREATE',
    confirm: "CONFIRM"
  }
  const CONFIRM_DELAY_SECOND = 59

  import {refactorNumber} from "@/utils/pureFunctions";
  import {messages} from "@/utils/constants";

  export default {
    name: 'create-card-dialog',
    props: {
      value: {},
      mko_id: {},
      user_id: {}
    },
    data() {
      return {
        interval: null,
        timeout: 0,
        card_id: null,
        code: null,
        loading: false,
        newCardForm: {
          number: null,
          expiry_date: null
        },
        transaction_id: null,
        status: CARD_CREATE_STATUS.create,
        CARD_CREATE_STATUS
      }
    },
    watch: {
      value(val) {
        if (!val) {
          this.clearCardForm()
        }
      }
    },
    methods: {
      close() {
        this.$emit('input', false)
      },
      setTime() {
        this.timeout = CONFIRM_DELAY_SECOND;
        this.interval = setInterval(() => {
          this.timeout--
          if (this.timeout === 0) {
            clearInterval(this.interval)
            this.interval = null
          }
        }, 1000);
      },
      async confirmHandler() {
        this.loading = true
        try {
          const formData = {
            ...this.newCardForm,
            mko_id: this.mko_id,
            code: this.code,
            transaction_id: this.transaction_id
          }
          if(this.user_id) {
            formData.user_id = this.user_id
          }
          const {data: {data}} = await this.$http.post('admin/users/confirm-card', formData)
          this.loading = false;
          this.card_id = data.id;
          this.$emit('save', {
            card_id: this.card_id,
            pan: data.pan,
            phone: data.phone
          })
          this.$setSuccess({text: messages.onAddedCard})
          this.$emit('input', false)
          this.clearCardForm()
        } catch (e) {
          this.loading = false
          this.$setResponseError({error: e})
          this.$setFormError({error: e, obs: this.$refs['confirmFormObs']})
        }

      },
      clearCardForm() {
        const {cardFormObs, confirmFormObs} = this.$refs
        this.newCardForm = {
          number: null,
          phone: null,
          mko_id: this.mko_id,
          expiry_date: null
        }
        this.card_id = null
        this.code = null
        this.interval = null
        this.timeout = 0
        if (cardFormObs) cardFormObs.reset()
        if (confirmFormObs) confirmFormObs.reset()
      },
      async addCard() {
        if (this.mko_id) {
          try {
            this.loading = true
            const formData = {
              ...this.newCardForm,
              mko_id: this.mko_id,
            }
            if(this.user_id) {
              formData.user_id = this.user_id
            }
            const {data: {data}} = await this.$http.post('admin/users/add-card', formData)
            this.transaction_id = data.transaction_id
            this.status = CARD_CREATE_STATUS.confirm
            this.loading = false
            this.setTime()
          } catch (e) {
            this.loading = false
            this.$setResponseError({error: e})
            this.$setFormError({error: e, obs: this.$refs['cardFormObs']})
          }
        } else {
          this.$setErrors({text: messages.selectMkoBeforeCreateCard})
        }
      },
    },
  }
</script>
