<template>
  <v-dialog  v-model="dialog" :max-width="maxWidth" @input="val => !val && onClose()">
    <v-card>
      <v-card-title class="headline">{{ title }}</v-card-title>
      <v-card-text>{{ description }}</v-card-text>
      <v-card-actions class="justify-end">
        <v-btn color="#dda24d" small @click="cancel" dark>Нет</v-btn>
        <v-btn color="error" small @click="apply" :loading="loading">{{yesDeleteBtnText}}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'warning-dialog',
  props: {
    yesDeleteBtnText: {
      default: 'Да удалить'
    },
    maxWidth: {
      type: Number,
      default: 350
    },
    value: {
      type: Boolean
    },
    title: {
      type: String,
      default: 'Предупреждение!'
    },
    description: {
      type: String,
      default: 'Вы действительно хотите это удалить?'
    }
  },
  data() {
    return {
      dialog: false,
      loading: false,
      data: null
    }
  },
  watch: {
    dialog(val) {
      if (val) this.$emit('opened')
      else this.$emit('closed')
    }
  },
  methods: {
    onClose() {
      this.data = null
    },
    close() {
      this.dialog = false
    },
    open(data = null) {
      this.dialog = true
      this.data = data
    },
    apply() {
      this.$emit('apply', this.data);
      this.close()
    },
    cancel() {
      this.$emit('cancel', this.data);
      this.close()
    },
    setLoading(val) {
      this.loading = val
    }
  }
}
</script>
