.daily-setting {
  &__top-info-card {
    border-radius: 10px;
    padding: 25px 30px;
    background: #5dc697 !important;
    color: #fff !important;
    height: 100%;
    position: relative;

    &__icon {
      position: absolute;
      width: 80px;
      height: 80px;
      bottom: 5px;
      right: 20px;
      opacity: .7;
    }
  }
}