<template>
  <v-dialog v-model="dialog" width="700">
    <v-card>
      <v-btn @click="dialog = false" absolute right class="mt-2" icon small>
        <v-icon>fas fa-times</v-icon>
      </v-btn>
      <slot name="form-title" :isUpdate="isUpdate">
        <div class="py-4 px-6">
          <h5 class="title" v-if="!isUpdate">Создать</h5>
          <h5 class="title" v-else>Изменить</h5>
        </div>
      </slot>
      <v-card-text>
        <v-list v-if="formData.ERROR">{{ formData.ERROR }}</v-list>
        <v-list v-else-if="formData.WFSCDMCUINFO">
          <v-list-group v-for="(a, index) in formData.WFSCDMCUINFO.lpCashInfo" :key="index">
            <template v-slot:activator>
              <v-list-item-title>
                <span>usNumber: {{ a.usNumber }}</span>&nbsp;
                <span>cCurrencyID: {{ a.cCurrencyID }}</span>&nbsp;&nbsp;
                <span>ulValues: {{ a.ulValues }}</span>&nbsp;
                <span>ulCount: {{ a.ulCount }}</span>
              </v-list-item-title>
            </template>
            <pre>{{ a }}</pre>
          </v-list-group>
        </v-list>
        <v-list v-else-if="formData.WFSCIMCASHINFO">
          <v-list-group v-for="(a, idx) in formData.WFSCIMCASHINFO.lpCashInfo" :key="idx">
            <template v-slot:activator>
              <v-list-item-title>
                <span>usNumber: {{ a.usNumber }}</span>&nbsp;
                <span>cCurrencyID: {{ a.cCurrencyID }}</span>&nbsp;
                <span>ulValues: {{ a.ulValues }}</span>&nbsp;
                <span>ulCount: {{ a.ulCount }}</span>
              </v-list-item-title>
            </template>
            <pre>{{ a }}</pre>
          </v-list-group>
        </v-list>
        <v-list v-else-if="formData.WFS_SRVE_SIU_PORT_STATUS">
          <v-list-group v-for="(a, i) in formData.WFS_SRVE_SIU_PORT_STATUS.lpCashInfo" :key="i">
            <template v-slot:activator>
              <v-list-item-title>
                <span>usNumber: {{ a.usNumber }}</span>&nbsp;
                <span>cCurrencyID: {{ a.cCurrencyID }}</span>&nbsp;
                <span>ulValues: {{ a.ulValues }}</span>&nbsp;
                <span>ulCount: {{ a.ulCount }}</span>
              </v-list-item-title>
            </template>
            <pre>{{ a }}</pre>
          </v-list-group>
        </v-list>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "AgentCreateUpdateForm",
  data() {
    return {
      dialog: false,
      formData: {},
    }
  },
  computed: {
    isUpdate() {
      return !!this.formData.id
    }
  },
  watch: {
    dialog(val) {
      if(!val) this.onClose()
    }
  },
  methods: {
    onClose() {
      this.formData = {}
    },
    open(item) {
      this.dialog = true
      if (item) {
        this.formData = item
      }
    },
  }
}
</script>

<style lang="scss" scoped>
.v-application .primary--text {
  color: #000!important;
}
</style>