<template>
  <div class="pl-2 pr-2" >
    <VCard
      :color="CARD_ITEM_COLOR[atm.statusType]"
      class="pl-2"
      style="height: 100%; position: relative"
    >
        <VBtn
          v-if="ORDER_GROUP_STATUSES.NEW.key === item.statusType  && index !== 0 && $can(PERMISSIONS.ORDER_CHANGE_NUMBER)"
          class="mx-2 elevation-0 pa-0 card_item_arrows_btn-up"
          color="transparent"
          dark
          fab
          height="20"
          small
          width="20"
          style="transform: rotate(-90deg);"
          @click="$emit('changeItem', {status: 'next', index})">
          <img alt="right" src="../assets/images/up.svg">
        </VBtn>
        <VBtn
          v-if="ORDER_GROUP_STATUSES.NEW.key === item.statusType && index !== itemsLength - 1 && $can(PERMISSIONS.ORDER_CHANGE_NUMBER)"
          class="mx-2 elevation-0 pa-0 card_item_arrows_btn-down"
          color="transparent"
          dark
          fab
          height="20"
          style="transform: rotate(-90deg);"
          small
          width="20"
          @click="$emit('changeItem', {status: 'prev', index})">
          <img alt="left" src="../assets/images/down.svg">
        </VBtn>
      <div class="card_item_cover">
        <div class="card_item ml-3 mr-3">
          <div class="">
            <h5><b>Позиция: {{ index + 1 }}</b></h5>
            <p>Адрес: <b>{{ atm.address }}</b></p>
            <p v-if="atm.remainsSum">Остаток: <b>{{ atm.remainsSum|money }}</b></p>
            <p> Сумма инкассации: <b>{{ atm.depositSum|money }} сум</b></p>
            <p>
              Статус:
              <b>{{ORDER_STATUSES[atm.statusType].text}}</b>
            </p>
          </div>
        </div>
      </div>
    </VCard>
  </div>
</template>

<script>
import {ORDER_GROUP_STATUSES, ORDER_STATUSES, PERMISSIONS} from "@/utils/constants.js";

export default {
  name: 'AnalyticItemSideBySide',
  props: ['atm', 'index', 'item', 'itemsLength'],
  computed: {
    ORDER_STATUSES: () => ORDER_STATUSES,
    ORDER_GROUP_STATUSES: () => ORDER_GROUP_STATUSES,
    PERMISSIONS: () => PERMISSIONS,
    CARD_ITEM_COLOR: () => {
      return {
        [ORDER_GROUP_STATUSES.EXPECTATION.key]: 'rgba(242, 153, 74, 0.1)',
        [ORDER_GROUP_STATUSES.IN_PROGRESS.key]: 'rgba(38, 132, 255, 0.1)',
        [ORDER_GROUP_STATUSES.COMPLETED.key]: 'rgba(116, 121, 125, 0.1)',
        [ORDER_GROUP_STATUSES.COMPLETED_IN_ADVANCE.key]: 'rgba(242, 153, 74, 0.1)',
        [ORDER_GROUP_STATUSES.NEW.key]: 'rgba(242, 153, 74, 0.1)',
      }
    },
  }
}
</script>

<style scoped>
.card_item {
  padding: 20px 15px;
}

.card_item > div {
  max-width: 400px;
}

.card_item_arrows_btn-down {
  position: absolute;
  top: 50%;
  right: 0;
}

.card_item_arrows_btn-up {
  position: absolute;
  top: 50%;
  left: -5px;
}

.card_item p {
  font-size: 12px;
  margin-bottom: 5px;
}
</style>