<template>
  <VCard
    :color="CARD_ITEM_COLOR[atm.statusType]"
  >
    <div class="card_item_cover">
      <div class="card_item">
        <div class="mr-3">
          <h5><b>Позиция: {{ index + 1 }}</b></h5>
          <p>Адрес: <b>{{ atm.address }}</b></p>
          <p>Модель: <b>{{ atm.model }}</b></p>
          <p>MID: <b>{{ atm.mid }}</b></p>
          <p>TID: <b>{{ atm.tid }}</b></p>
          <p v-if="atm.remainsSum">Остаток: <b>{{ atm.remainsSum|money }}</b></p>
        </div>
        <div>
          <p> Сумма инкассации: <b>{{ atm.depositSum|money }} сум</b></p>
          <p v-for="cassette in atm.cassettes">
            {{cassette.number}}-касета:
            <b>{{ cassette.currencyCount }} х {{ cassette.nominal |money }} сум {{cassette.ownCassetteNumber}}</b>
          </p>
          <p>
            Статус:
            <b>{{ORDER_STATUSES[atm.statusType].text}}</b>
          </p>
        </div>
      </div>
      <div class="card_item_arrows">
        <VBtn
          v-if="(ORDER_GROUP_STATUSES.NEW.key === item.statusType && index !== 0) && $can(PERMISSIONS.ORDER_CHANGE_NUMBER)"
          class="mx-2 elevation-0 pa-0 card_item_arrows_btn-up"
          color="transparent"
          dark
          fab
          height="20"
          small
          width="20"
          @click="$emit('changeItem', {status: 'next', index})">
          <img alt="" src="../assets/images/up.svg">
        </VBtn>
        <VBtn
          v-if="ORDER_GROUP_STATUSES.NEW.key === item.statusType && index !== itemsLength - 1 && $can(PERMISSIONS.ORDER_CHANGE_NUMBER)"
          class="mx-2 elevation-0 pa-0 card_item_arrows_btn-down"
          color="transparent"
          dark
          fab
          height="20"
          small
          width="20"
          @click="$emit('changeItem', {status: 'prev', index})">
          <img alt="" src="../assets/images/down.svg">
        </VBtn>
      </div>
    </div>
  </VCard>
</template>

<script>
import {ORDER_GROUP_STATUSES, ORDER_STATUSES, PERMISSIONS} from "@/utils/constants.js";

export default {
  name: 'AnalyticItemSeries',
  props: ['atm', 'index', 'item', 'itemsLength'],
  computed: {
    ORDER_GROUP_STATUSES: () => ORDER_GROUP_STATUSES,
    ORDER_STATUSES: () => ORDER_STATUSES,
    PERMISSIONS: () => PERMISSIONS,
    CARD_ITEM_COLOR: () => {
      return {
        [ORDER_GROUP_STATUSES.COMPLETED.key]: 'rgba(242, 153, 74, 0.1)',
        [ORDER_GROUP_STATUSES.IN_PROGRESS.key]: 'rgba(38, 132, 255, 0.1)',
        [ORDER_GROUP_STATUSES.COMPLETED.key]: 'rgba(116, 121, 125, 0.1)',
        [ORDER_GROUP_STATUSES.COMPLETED_IN_ADVANCE.key]: 'rgba(242, 153, 74, 0.1)',
        [ORDER_GROUP_STATUSES.NEW.key]: 'rgba(242, 153, 74, 0.1)',
      }
    },
  }
}
</script>

<style scoped>
.card_item_cover {
  padding: 25px 25px 20px 0;
  position: relative;
}

.card_item {
  display: flex;
  justify-content: space-between;
}

.card_item > div {
  max-width: 400px;
}

.card_item_arrows_btn-down {
  position: absolute;
  bottom: 0;
  right: 0;
}

.card_item_arrows_btn-up {
  position: absolute;
  top: 0;
  right: 0;
}

.card_item p {
  font-size: 12px;
  margin-bottom: 5px;
}
</style>