<template>
  <VDialog v-model="dialog" width="600">
    <VCard>
      <VBtn @click="dialog = false" absolute right class="mt-2" icon small>
        <VIcon>fas fa-times</VIcon>
      </VBtn>
      <div class="py-4 px-6">
        <h5 class="title" v-if="!isUpdate">Создать</h5>
        <h5 class="title" v-else>Изменить</h5>
      </div>
      <VCardText>
        <ValidationObserver ref="formObs" v-slot="{handleSubmit, errors}">
          <form @submit.prevent="handleSubmit(save)">
            <CustomInputText
                label="Номер тех паспорта"
                rules="required"
                name="texPassport"
                v-model="formData.texPassport"
            ></CustomInputText>
            <CustomInputText
                label="Модель"
                rules="required"
                v-model="formData.model"
            ></CustomInputText>
            <CustomInputText
                label="Номер авто"
                rules="required"
                name="number"
                v-model="formData.number"
            ></CustomInputText>
            <CustomSelect
                label="Начальник"
                rules="required"
                :items="members"
                :item-text="(item) => `${item.lastName} ${item.firstName}`"
                item-value="id"
                v-model="formData.chief"
            ></CustomSelect>
            <CustomSelect
                label="Участники"
                rules="required"
                multiple
                :items="members"
                :item-text="(item) => `${item.lastName} ${item.firstName}`"
                item-value="id"
                v-model="formData.members"
            ></CustomSelect>
            <CustomInputText
                type="number"
                label="Расход топлива"
                rules="required"
                v-model="formData.fuelConsumption"
            ></CustomInputText>
            <CustomInputText
                label="Пробег"
                type="number"
                rules="required"
                v-model="formData.mileage"
            ></CustomInputText>
            <div class="mt-3">
              <VBtn width="100%" color="#dda24d" type="submit" :loading="loading" dark>Сохранить</VBtn>
            </div>
          </form>
        </ValidationObserver>
      </VCardText>
    </VCard>
  </VDialog>
</template>

<script>
import {messages} from "@/utils/constants";

const CAR_DEFAULT_FORM_DATA = {
  "fuelConsumption": null,
  "mileage": null,
  "mileageOfMonth": null,
  "mileageOfWeek": null,
  "model": null,
  "number": null,
  "texPassport": null,
  "members": []
}
export default {
  name: 'CarCreateUpdateForm',
  data() {
    return {
      members: [],
      dialog: false,
      loading: false,
      formData: {
        ...CAR_DEFAULT_FORM_DATA,
        members: []
      },
    }
  },
  computed: {
    isUpdate() {
      return !!this.formData.id
    }
  },
  watch: {
    dialog(val) {
      if (!val) this.onClose()
    }
  },
  methods: {
    async getUsers() {
      try {
        const {data} = await this.$http.post('users/by-mfo', {params: {}})
        this.members = data
      } catch (e) {
        this.$setResponseError({error: e})
      }
    },
    onClose() {
      const {formObs} = this.$refs
      this.formData = {...CAR_DEFAULT_FORM_DATA, members: []}
      formObs.reset()
    },
    close() {
      this.dialog = false
    },
    open(item) {
      this.dialog = true
      if (item) {
        this.formData = {...item, chief: item.chiefId}
      }
    },
    async save() {
      this.loading = true
      try {
        await this.$http.post('cars/modify', this.formData)
        this.$emit('saved')
        this.close()
        this.$setSuccess({text: messages.onSave})
      } catch (e) {
        this.$setFormError({error: e, obs: this.$refs.formObs})
        this.$setResponseError({error: e})
      } finally {
        this.loading = false
      }
    }
  },
  created() {
    this.getUsers()
  }
}
</script>
