<template>
  <v-col
      lg="4"
      md="6"
      sm="12"
  >
    <v-card
        class="pa-4 order-item"
        rounded
        style="height: 100%"
    >
      <div class="d-flex justify-space-between">
        <div class="atm-info">
          <div class="tid">MID: <span>{{ item.mid }}</span></div>
          <div class="tid">TID: <span>{{ item.tid }}</span></div>
          <div class="tid">Model: <span>{{ item.model }}</span></div>
          <div class="tid">Address: <span>{{ item.address }}</span></div>
        </div>
        <div class="sum-and-status d-flex justify-space-between flex-column align-end">
          <div></div>
          <h4 class="white-space-no-wrap" v-if="item.depositSum">{{ item.depositSum | money }} сум</h4>
          <h4 class="white-space-no-wrap" v-if="item.depositDollar">{{ item.depositDollar | money }} $<span></span></h4>
          <div class="sum">Сумма загрузки</div>
          <div class="status white-space-no-wrap">{{ ORDER_STATUSES[item.statusType].text }}</div>
        </div>
      </div>
      <div class="card-btn d-flex align-center justify-space-between" v-if="showCardButtons">
        <VBtn outlined target="_blank" :href="constructMapsUrl(item.latitude, item.longitude, locationType)"
              color="primary" class="vue-btn" v-if="showLocationBtn">
          <VIcon style="margin-right: 6px">fas fa-map-marker-alt</VIcon>
          Локация
        </VBtn>
        <VBtn color="success" class="vue-btn" v-if="showStartBtn" @click="startCollection(item)">Начать</VBtn>
                  <VBtn color="error" class="vue-btn" v-if="showCompleteBtn" @click="finishCollection(item)">Завершить</VBtn>
      </div>
    </v-card>
  </v-col>
</template>

<script>
import {ORDER_GROUP_STATUSES, ORDER_STATUSES} from "@/utils/constants.js";
import {constructMapsUrl} from "@/utils/locationMapHelper.js"

export default {
  name: "CashCollectionCard",
  props: ['item', 'status'],
  data() {
    return {}
  },
  computed: {
    showCompleteBtn() {
      return this.$can('ORDER_GROUP_END_DEPOSIT')
      && this.item.statusType === ORDER_STATUSES.IN_PROGRESS.key
    },
    locationType() {
      return this.$store.getters.isMobile ? 'mobileYandex' : 'yandexDesktop'
    },
    ORDER_STATUSES: () => ORDER_STATUSES,
    showCardButtons() {
      return this.status === ORDER_GROUP_STATUSES.IN_PROGRESS_BY_COLLECTOR.key
    },
    showStartBtn() {
      return this.item.statusType === ORDER_STATUSES.WAITING.key
          && this.$can('ORDER_GROUP_START_COLLECTOR')
    },
    showLocationBtn() {
      return this.item.longitude
          && this.item.latitude
    }
  },
  methods: {
    constructMapsUrl,
    async startCollection(order) {
      try {
        order.statusType = ORDER_STATUSES.IN_PROGRESS.key
        await this.$http.post(`orders/progress?orderId=${order.id}`)
        this.$emit('updateStatus')
      } catch (e) {
        this.$setResponseError({error: e})
      }
    },
    async finishCollection(order) {
      try {
        order.statusType = ORDER_STATUSES.COMPLETED.key
        await this.$http.post(`orders/completed?orderId=${order.id}`)
        this.$emit('updateStatus')
      } catch (e) {
        this.$setResponseError({error: e})
      }
    }
  }
}
</script>
