<template>
  <VDialog v-model="dialog" width="600">
    <VCard>
      <VBtn @click="dialog = false" absolute right class="mt-2" icon small>
        <VIcon>fas fa-times</VIcon>
      </VBtn>
      <div class="py-4 px-6">
        <h5 class="title" v-if="isUpdate">Изменить</h5>
        <h5 class="title" v-else>Создать</h5>
      </div>
      <VCardText>
        <ValidationObserver ref="formObs" v-slot="{handleSubmit, errors}">
          <form @submit.prevent="handleSubmit(save)">
            <CustomInputText
              label="Номер"
              rules="required"
              v-model="params.number"
            ></CustomInputText>
            <div class="mt-3">
              <VBtn width="100%" color="primary" type="submit" :loading="loading">Сохранить</VBtn>
            </div>
          </form>
        </ValidationObserver>
      </VCardText>
    </VCard>
  </VDialog>

</template>

<script>

import {messages} from "@/utils/constants";

const CAR_DEFAULT_FORM_DATA = {
  "number": null,
  "id": null
}
export default {
  name: 'CassetteCreateUpdateDialog',
  data() {
    return {
      dialog: false,
      loading: false,
      params: {
        ...CAR_DEFAULT_FORM_DATA,
      },
    }
  },
  computed: {
    isUpdate() {
      return !!this.params.id
    }
  },
  watch: {
    dialog(val) {
      if (!val) this.onClose()
    }
  },
  methods: {
    onClose() {
      const {formObs} = this.$refs
      this.params = {...CAR_DEFAULT_FORM_DATA}
      formObs.reset()
    },
    close() {
      this.dialog = false
    },
    open(item) {
      this.dialog = true
      if (item) {
        this.params.number = item.number
        this.params.id = item.id
      }
    },
    async save() {
      this.loading = true
      try {
        await this.$http.post('own-cassettes/modify', this.params)
        this.$emit('saved')
        this.close()
        this.$setSuccess({text: messages.onSave})
      } catch (e) {
        this.$setResponseError({error: e})
      } finally {
        this.loading = false
      }
    }
  },
}
</script>
