<template>
  <div>
    <v-tooltip bottom v-if="remainsSum != 0 && remainsSum != null">
      <template v-slot:activator="{ on, attrs }">
        <p
          class="font-weight-bold mb-1"
          v-bind="attrs"
          v-on="on"
        >{{ remainsSum|money }} сум</p>
      </template>
      <p style="margin: 0px 0;"
         v-for="income in somIncome">{{ income.nominal }} *
        {{ income.count }} = {{ income.amount|money }}</p>
    </v-tooltip>

<!--    <p style="margin: 0px;" v-for="income in somIncome" :key="income.index">{{ income.nominal }} *-->
<!--      {{ income.count }} = {{ income.amount|money }}</p>-->
<!--    <p class="font-weight-bold mb-2" style="border-top: 2px solid gray" v-if="remainsSum != 0 && remainsSum != null">{{ remainsSum|money }} сум-->


<!--    <p class="mb-2" v-for="income in dollarIncome" :key="income.index">{{ income.nominal }} *-->
<!--      {{ income.count }} = {{ income.amount|money }}</p>-->
<!--    <p class="font-weight-bold" v-if="remainsDollar != 0 && remainsDollar != null">{{ remainsDollar|money }}$</p>-->

    <v-tooltip bottom v-if="remainsDollar != 0 && remainsDollar != null">
      <template v-slot:activator="{ on, attrs }">
        <p
          class="font-weight-bold mb-1"
          v-bind="attrs"
          v-on="on"
        >{{ remainsDollar|money }}$</p>
      </template>
      <p style="margin: 0px 0;"
         v-for="income in dollarIncome">{{ income.nominal }} *
        {{ income.count }} = {{ income.amount|money }}</p>
    </v-tooltip>
  </div>
</template>

<script>

export default {
  name: 'CollectionListIncome',
  props: {
    remainsDollar: {
      type: [String, Number],
      default: ''
    },
    remainsSum: {
      type: [String, Number],
      default: ''
    },
    income: {
      type: Object,
      default: () => ({})
    }
  },
  computed: {
    somIncome() {
      if(!this.income) return  []
      return Object.entries(this.income).map(([key, value], index) => {
        const [[nominal, count]] = Object.entries(value)
        return {
          index: index,
          nominal,
          count,
          amount: nominal * count
        }
      })
    },
    dollarIncome() {
      return  []
      return Object.entries(this.income['840']).map(([key, value], index) => {
        return {
          index: index,
          nominal: key,
          count: value,
          amount: key * value
        }
      })
    }
  }
}
</script>