<template>
  <div class="filter-component d-flex justify-end">
    <v-card class="filter-card position-absolute pa-3" width="400px" outlined>
      <div class="d-flex align-center justify-space-between collection-list-filter">
      <VIcon size="14" class="mr-2">fas fa-info-circle</VIcon>
        Статус
            <CustomAutocomplete
              dense
              hide-details
              :value="value"
              :items="statusList"
              @input="$emit('input', $event)"
              item-text="text"
              item-value="value"
              placeholder="Выберите статус"
              class="mr-1 ml-2"
              solo
            ></CustomAutocomplete>
      <VBtn @click="close" right icon small>
        <VIcon>fas fa-times</VIcon>
      </VBtn>
      </div>
      <VBtn v-if="!showAddBtn" class="mt-3" width="100%" @click="addToFilters" color="primary">Добавить</VBtn>
    </v-card>
  </div>
</template>

<script>
import {ORDER_STATUSES} from "@/utils/constants.js";
import CustomSelect from "@/plugins/vuetify/components/CustomSelect.vue";

export default {
  name: "CollectionListStatusFilter",
  props: {
    value: {
      type: String
    },
    showAddBtn: {
      type: String
    }
  },
  data: () => ({
    statusList: [
      {text: ORDER_STATUSES.IN_PROGRESS.text, value: ORDER_STATUSES.IN_PROGRESS.key},
      {text: ORDER_STATUSES.WAITING.text, value: ORDER_STATUSES.WAITING.key},
      {text: ORDER_STATUSES.COMPLETED_BY_OPERATOR.text, value: ORDER_STATUSES.COMPLETED_BY_OPERATOR.key},
      {text: ORDER_STATUSES.LACK_OF_MONEY.text, value: ORDER_STATUSES.LACK_OF_MONEY.key},
      {text: ORDER_STATUSES.COMPLETED.text, value: ORDER_STATUSES.COMPLETED.key},
    ],
  }),
  components: {CustomSelect},
  methods: {
    addToFilters(){
      this.$emit('addFilter', {
        key: 'CollectionListStatusFilter',
        value: this.value,
        isMultiple: true,
        paramKey: 'statusTypes'
      })
    },
    close(){
      this.$emit('input', '')
      this.$nextTick(() => {
        this.$emit('close')
      });
    }
  }
}
</script>