<template>
  <div class="filter-component d-flex justify-end">
    <v-card class="filter-card position-absolute pa-3" width="300px" outlined>
      <div class="d-flex align-center justify-space-between collection-list-filter">
      <VIcon size="14" class="mr-2 mb-1">fas fa-calendar-alt</VIcon>
        <div class="date-name">
          <div class="name mr-2 mb-6">От</div>
          <div class="name mr-2">До</div>
        </div>
        <div class="date-filter">
          <div class="date-from mb-2">
            <CustomDatePicker
              dense
              hide-details
              :value="value[0]"
              @input="$emit('input', [$event, value[1]])"
              placeholder="Выберите дату"
              solo
            ></CustomDatePicker>
          </div>
          <div class="date-to">
            <CustomDatePicker
              dense
              hide-details
              :value="value[1]"
              @input="$emit('input', [value[0], $event])"
              placeholder="Выберите дату"
              solo
            ></CustomDatePicker>
          </div>
        </div>
      <VBtn @click="close" right icon small>
        <VIcon>fas fa-times</VIcon>
      </VBtn>
      </div>
      <VBtn v-if="!showAddBtn" class="mt-3" width="100%" color="primary" @click="addToFilters">Добавить</VBtn>
    </v-card>
  </div>
</template>

<script>
import CustomSelect from "@/plugins/vuetify/components/CustomSelect.vue";
export default {
  name: "CollectionListDateFilter",
  props: {
    value: {
      type: Array
    },
    showAddBtn: {
      type: String
    }
  },
  data: () => ({

  }),
  components: {CustomSelect},
  methods: {
    addToFilters(){
      if(this.value.every(item => item != null)) {
        this.$emit('addFilter', {
          key: 'CollectionListDateFilter',
          value: this.value,
          isMultiple: false,
          paramKey: 'date'
        })
        this.close()
      }
    },
    close(){
      this.$emit('input', [null, null])
      this.$nextTick(() => {
        this.$emit('close')
      });
    }
  },
}
</script>