<template>
  <div class="collection-list-filter">
    <div class="filter-btn d-flex justify-end">
      <v-menu
        top
        :nudge-top="-65"
      >
        <template v-slot:activator="{ on, attrs }">
          <VBtn class="mb-2 ml-3" color="#F2F7FA" depressed v-bind="attrs"
                v-on="on">
            <VIcon size="14" class="mr-2">fas fa-filter</VIcon>
            Фильтр</VBtn>
        </template>
        <v-list>
          <v-list-item
            v-for="(item, index) in items"
            :key="index"
            style="cursor: pointer"
            @click="selectComponent(item)"
          >
            <v-list-item-title>{{ item.name }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </div>
    <component v-model="filters[filterKeyByComponent[showComponent]]" @close="showComponent = ''" :is="showComponent" @addFilter="$emit('addFilter', $event)"></component>
  </div>
</template>

<script>
import CollectionListStatusFilter from "@/components/CollectionListStatusFilter.vue";
import CollectionListCarFilter from "@/components/CollectionListCarFilter.vue";
import CollectionListTidMidFilter from "@/components/CollectionListTidMidFilter.vue";
import CollectionListDateFilter from "@/components/CollectionListDateFilter.vue";
import "@/assets/scss/collectionListFilter.scss"
import {ORDER_STATUSES} from "@/utils/constants.js";
import {dateFormatIso} from "@/utils/dateFormatHelpers.js";
export default {
  name: "collection-list-filter",
  data(){
    return {
      filters: {
        status: '',
        car: '',
        tidMid: '',
        date: [null, null]
      },
      items: [
        {name: "Статус: Завершено", componentName: 'CollectionListStatusFilterCompleted'},
        {name: "Дата: последние 2 дня", componentName: 'CollectionListDateFilterLast2Days'},
        {name: "Статус", componentName: 'CollectionListStatusFilter'},
        // {name: "Автомобиль", componentName: 'CollectionListCarFilter'},
        {name: "TID&MID", componentName: 'CollectionListTidMidFilter'},
        {name: "Дата", componentName: 'CollectionListDateFilter'},
      ],
      showComponent: "",
    }
  },
  components: {
    CollectionListStatusFilter, CollectionListCarFilter, CollectionListTidMidFilter, CollectionListDateFilter
  },
  computed: {
    filterKeyByComponent() {
      return {
        CollectionListStatusFilter: 'status',
        CollectionListCarFilter: 'car',
        CollectionListTidMidFilter: 'tidMId',
        CollectionListDateFilter: 'date'
      }
    },
  },
  methods: {
    selectComponent(item){
      if(item.componentName === 'CollectionListStatusFilterCompleted') {
        this.$emit('addFilter', {
          key: 'CollectionListStatusFilter',
          value: ORDER_STATUSES.COMPLETED.key,
          isMultiple: true,
          paramKey: 'statusTypes'
        })
      } else if(item.componentName === 'CollectionListDateFilterLast2Days') {
        this.$emit('addFilter', {
          key: 'CollectionListDateFilter',
          value: [dateFormatIso(new Date().setDate(new Date().getDate() - 2)), dateFormatIso(new Date())],
          isMultiple: false,
          paramKey: 'date'
        })
      } else {
        this.showComponent = item.componentName || "";
      }
    },
  }
}
</script>