<template>
  <div>
<!--    <p-->
<!--        style="margin: 0px 0;"-->
<!--        v-for="currency in parsedCurrency['860']"-->
<!--    >{{ currency.nominal|money }} x {{ currency.currencyCount }} =-->
<!--      {{ currency.amount | money }}</p>-->
    <v-tooltip bottom v-if="depositSum != 0 && depositSum != null">
      <template v-slot:activator="{ on, attrs }">
        <p
          class="font-weight-bold mb-1"
          v-bind="attrs"
          v-on="on"
        >{{depositSum|money}} Сум</p>
      </template>
      <p style="margin: 0px 0;"
            v-for="currency in parsedCurrency['860']">{{ currency.nominal|money }} x {{ currency.currencyCount }} =
      {{ currency.amount | money }}</p>
    </v-tooltip>
<!--    <p class="font-weight-bold mb-1" style="border-top: 2px solid gray" v-if="depositSum != 0 && depositSum != null">{{depositSum|money}} Сум</p>-->
    <VDivider v-if="parsedCurrency['840'].length"/>

    <v-tooltip bottom v-if="remainsDollar != 0">
      <template v-slot:activator="{ on, attrs }">
        <p
          class="font-weight-bold mb-1"
          v-bind="attrs"
          v-on="on"
        >{{remainsDollar}} $</p>
      </template>
      <p style="margin: 0px 0;"
         v-for="currency in parsedCurrency['840']">{{ currency.nominal|money }} x {{ currency.currencyCount }} =
        {{ currency.nominal * currency.currencyCount | money }}</p>
    </v-tooltip>
<!--    <p-->
<!--        style="margin-bottom: 0;"-->
<!--        v-for="currency in parsedCurrency['840']"-->
<!--    >{{ currency.nominal|money }} x {{ currency.currencyCount }} =-->
<!--      {{ currency.nominal * currency.currencyCount | money }}</p>-->
<!--    <p class="font-weight-bold" v-if="remainsDollar != 0">{{remainsDollar}} $</p>-->
  </div>
</template>

<script>
import {CURRENCIES} from "@/utils/constants";

export default {
  name: 'CollectionListCassette',
  props: {
    remainsDollar: {
      type: [String, Number],
      default: '0'
    },
    depositSum: {
      type: [String, Number],
      default: ''
    },
    cassettes: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {}
  },
  computed: {
    parsedCurrency() {
      const currencies = {
        [CURRENCIES["860"]]: [],
        [CURRENCIES["840"]]: [],
        [CURRENCIES["978"]]: [],
      }

      this.cassettes.forEach(item => {
        if (currencies[item.currencyCode]) {
          item.amount = item.nominal * item.currencyCount
          currencies[item.currencyCode].push(item)
        }
      })
      return currencies
    },
  }
}
</script>