<template>
  <div class="filter-component d-flex justify-end">
    <v-card class="filter-card position-absolute pa-3" width="380px" outlined>
      <div class="d-flex align-center justify-space-between collection-list-filter">
      <VIcon size="14" class="mr-2">fas fa-car</VIcon>
        Автомобиль
        <CustomAutocomplete
          dense
          hide-details
          :value="value"
          :items="cars"
          @input="$emit('input', $event)"
          :item-text="item => `${item.number} | ${item.model}`"
          :item-value="item => `${item.id}`"
          placeholder="Выберите машину"
          class="mr-1 ml-2"
          solo
        ></CustomAutocomplete>
      <VBtn @click="close" right icon small>
        <VIcon>fas fa-times</VIcon>
      </VBtn>
      </div>
      <VBtn v-if="!showAddBtn" width="100%" color="primary" class="mt-3" @click="addToFilters">Добавить</VBtn>
    </v-card>
    </div>
</template>

<script>
import CustomSelect from "@/plugins/vuetify/components/CustomSelect.vue";
export default {
  name: "CollectionListCarFilter",
  data: () => ({
    cars: [],
  }),
  props: {
    value: {
      type: String
    },
    showAddBtn: {
      type: String
    }
  },
  components: {CustomSelect},
  methods: {
    async getCars() {
      try {
        const params = {
          pageNumber: 0
        }
        const {data: {content}} = await this.$http.post('cars/search', params)
        this.cars = content
      } catch (e) {
        this.$setResponseError({error: e})
      }
    },
    addToFilters(){
      this.$emit('addFilter', {
        key: 'CollectionListCarFilter',
        value: this.value,
        isMultiple: true,
        paramKey: 'cars'
      })
    },
    close(){
      this.$emit('input', '')
      this.$nextTick(() => {
        this.$emit('close')
      });
    }
  },
  created() {
    this.getCars()
  }
}
</script>