<template>
  <div class="filter-component d-flex justify-end">
    <v-card class="filter-card position-absolute pa-3" width="300px" outlined>
      <div class="d-flex align-center justify-space-between collection-list-filter">
      <VIcon size="14" class="mr-2 mb-1">fas fa-hashtag</VIcon>
        TID&MID
        <CustomInputText
          dense
          hide-details
          :value="value"
          @input="$emit('input', $event)"
          placeholder="Выберите TID&MID"
          solo
          class="mr-1 ml-2"
        ></CustomInputText>
      <VBtn @click="close" right icon small>
        <VIcon>fas fa-times</VIcon>
      </VBtn>
      </div>
      <VBtn v-if="!showAddBtn" class="mt-3" width="100%" color="primary" @click="addToFilters">Добавить</VBtn>
    </v-card>
  </div>
</template>

<script>
import CustomSelect from "@/plugins/vuetify/components/CustomSelect.vue";
export default {
  name: "CollectionListTidMidFilter",
  props: {
    value: {
      type: String
    },
    showAddBtn: {
      type: String
    }
  },
  data: () => ({
  }),
  components: {CustomSelect},
  methods: {
    addToFilters(){
      this.$emit('addFilter', {
        key: 'CollectionListTidMidFilter',
        value: this.value,
        isMultiple: false,
        paramKey: 'tidOrMid'
      })
      this.close()
    },
    close(){
      this.$emit('input', '')
      this.$nextTick(() => {
        this.$emit('close')
      });
    }
  },
}
</script>