<template>
  <v-dialog v-model="dialog" width="300">
    <v-card>
      <VBtn absolute class="mt-2" icon right small @click="dialog = false">
        <v-icon>fas fa-times</v-icon>
      </VBtn>
      <v-card-text class="pt-3">
        <v-checkbox
          v-model="isSelectedAllValue"
          :color="selectedAllColor"
          hide-details
          label="Все"
          @change="onSelectAllValue"
          color="#dda24d"
        ></v-checkbox>
        <v-checkbox
          :input-value="selected"
          v-for="status in ORDER_GROUP_STATUS_KEYS"
          :key="status"
          :color="ORDER_GROUP_STATUSES[status].color"
          :label="ORDER_GROUP_STATUSES[status].text"
          @change="$emit('update:selected', $event)"
          :value="status"
          class="status-checkbox"
          hide-details
          color="#dda24d"
        ></v-checkbox>
        <div class="text-center">
          <VBtn :disabled="!selected.length" center class="mt-3" color="primary" @click="sendStatus">Применить</VBtn>
        </div>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import {ORDER_GROUP_STATUSES, ORDER_GROUP_STATUS_KEYS_WITHOUT_NEW} from "@/utils/constants.js";

export default {
  name: 'FilterDialog',
  props: {
    selected: {
      type: Array
    }
  },
  data() {
    return {
      isSelectedAllValue: false,
      dialog: false,
    }
  },
  watch: {
    selected(val) {
      this.isSelectedAllValue = val.length === ORDER_GROUP_STATUS_KEYS_WITHOUT_NEW.length
    }
  },
  computed: {
    ORDER_GROUP_STATUSES: () => ORDER_GROUP_STATUSES,
    ORDER_GROUP_STATUS_KEYS: () => ORDER_GROUP_STATUS_KEYS_WITHOUT_NEW,
    selectedAllColor() {
      return '#718096'
    }
  },
  methods: {
    onSelectAllValue(val) {
      if (val) {
        this.$emit('update:selected', [...ORDER_GROUP_STATUS_KEYS_WITHOUT_NEW])
      } else {
        this.$emit('update:selected', [])
      }
    },
    sendStatus() {
      this.$emit('sendStatus')
      this.close()
    },
    close() {
      this.dialog = false
    },
    open() {
      this.dialog = true
    },
  }
}
</script>

<style lang="scss">
.status-checkbox {
  label {
    color: inherit !important;
  }
}

.selected-all {
  label {
    color: #718096 !important;
  }
}
</style>
