<template>
  <VDialog v-model="dialog" width="600">
    <VCard>
      <VBtn @click="dialog = false" absolute right class="mt-2" icon small>
        <VIcon>fas fa-times</VIcon>
      </VBtn>
      <div class="py-4 px-6">
        <h5 class="title" v-if="!isUpdate">Создать</h5>
        <h5 class="title" v-else>Изменить</h5>
      </div>
      <VCardText>
        <ValidationObserver ref="formObs" v-slot="{handleSubmit, errors}">
          <form @submit.prevent="handleSubmit(save)">
            <CustomInputText
                v-if="!isUpdate"
                type="number"
                label="Номер машины"
                rules="required"
                name="machineNumber"
                v-model="formData.machineNumber"
            ></CustomInputText>
            <CustomInputText
                type="text"
                label="Серийный номер"
                rules="required"
                name="srNumber"
                v-model="formData.srNumber"
            ></CustomInputText>
            <CustomInputText
                type="text"
                label="Тид"
                rules="required"
                name="terminalId"
                v-model="formData.terminalId"
            ></CustomInputText>
            <CustomInputText
                type="text"
                label="Адрес"
                rules="required"
                name="address"
                v-model="formData.address"
            ></CustomInputText>
            <CustomInputText
                type="text"
                label="Лат"
                rules="required"
                name="latitude"
                v-model="formData.latitude"
            ></CustomInputText>
            <CustomInputText
                type="text"
                label="Лон"
                rules="required"
                name="longitude"
                v-model="formData.longitude"
            ></CustomInputText>
            <CustomInputText
                type="text"
                label="Мид"
                rules="required"
                name="merchantId"
                v-model="formData.merchantId"
            ></CustomInputText>
            <CustomSelect
                label="Мфо"
                rules="required"
                :items="mfos"
                v-model="formData.mfo"
            ></CustomSelect>
            <CustomSelect
                label="Модел"
                rules="required"
                item-text=""
                item-value=""
                :items="modelNames"
                v-model="formData.modelName"
            ></CustomSelect>
            <div>
              <VBtn width="100%" color="#dda24d" type="submit" :loading="loading" dark>Сохранить</VBtn>
            </div>
          </form>
        </ValidationObserver>
      </VCardText>
    </VCard>
  </VDialog>
</template>

<script>
import {messages} from "@/utils/constants";

const USER_DEFAULT_FORM_DATA = {
  "machineNumber": null,
  "address": null,
  "mfo": null,
  "modelName": null,
  "latitude": null,
  "longitude": null,
  "merchantId": null,
  "pid": null,
  "srNumber": null,
  "terminalId": null,
}
export default {
  name: 'UserCreateUpdateForm',
  data() {
    return {
      dialog: false,
      loading: false,
      mfos: [],
      modelNames: [],
      formData: {
        ...USER_DEFAULT_FORM_DATA,
        mfos: [],
        modelNames: [],
      },
    }
  },
  computed: {
    isUpdate() {
      return !!this.formData.id
    }
  },
  watch: {
    dialog(val) {
      if (!val) this.onClose()
    },
  },
  methods: {
    async getMfos() {
      try {
        const {data} = await this.$http.get('machine/all/branches')
        this.mfos = data
      } catch (e) {
        this.$setResponseError({error: e})
      }
    },
    async getModels() {
      try {
        const {data} = await this.$http.get('machine/all/atmTypes')
        this.modelNames = data
      } catch (e) {
        this.$setResponseError({error: e})
      }
    },
    onClose() {
      const {formObs} = this.$refs
      this.formData = {...USER_DEFAULT_FORM_DATA, mfos: [], modelNames: []}
      formObs.reset()
    },
    close() {
      this.dialog = false
    },
    async open(itemId) {
      this.dialog = true
      if (itemId) {
        this.formData = {...itemId}
      }
    },
    async save() {
      this.loading = true
      try {
        await this.$http.post('machine/save', this.formData)
        this.$emit('saved')
        this.close()
        this.$setSuccess({text: messages.onSave})
      } catch (e) {
        this.$setFormError({error: e, obs: this.$refs.formObs})
        this.$setResponseError({error: e})
      } finally {
        this.loading = false
      }
    }
  },
  created() {
    this.getMfos()
    this.getModels()
  }
}
</script>
