<template>
  <VDialog v-model="dialog" width="900">
    <VCard class="px-4 py-4">
      <l-map
          v-if="showMap"
          :zoom="zoom"
          :center="center"
          :options="mapOptions"
          style="height: 700px; width: 100%"
      >
        <l-tile-layer
            :url="url"
        />
        <l-marker
            v-for="(location, index) in locations"
            @click="toYandex(location.longitude, location.latitude)"
            :lat-lng="toLatLng(location.latitude, location.longitude)"
        >
          <l-tooltip :options="{ permanent: true, interactive: true }">
            <div>
              {{ index + 1 }}
            </div>
          </l-tooltip>
        </l-marker>
      </l-map>
    </VCard>
  </VDialog>
</template>

<script>
import {LMap, LTileLayer, LMarker, LTooltip, LIconDefault} from 'vue2-leaflet';
import 'leaflet/dist/leaflet.css';
import {latLng} from "leaflet/src/geo";
import {Icon} from 'leaflet';
import L from 'leaflet'

delete L.Icon.Default.prototype._getIconUrl;
Icon.Default.mergeOptions({
  iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
  iconUrl: require('leaflet/dist/images/marker-icon.png'),
  shadowUrl: require('leaflet/dist/images/marker-shadow.png'),
});

export default {
  name: "NavigationMap",
  components: {
    LMap, LTileLayer, LMarker, LTooltip, LIconDefault
  },
  data() {
    return {
      dialog: false,
      locations: [],
      item: {},

      zoom: 6,
      center: latLng(40.122183, 64.761654),
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      currentZoom: 7,
      showParagraph: false,
      mapOptions: {
        zoomSnap: 0.5
      },
      showMap: false
    }
  },
  watch: {
    dialog(val) {
      if (!val) {
        this.close()
      }
    }
  },
  methods: {
    async open(item) {
      this.dialog = true
      try {
        const {data} = await this.$http.get('order-groups/atm-info/' + item.id)
        this.locations = [...data]
        this.item = item
      } catch (e) {
        this.$esetResponseError({error: e})
      } finally {
        this.showMap = true
      }
    },
    toLatLng(latitude, longitude) {
      return latLng(latitude, longitude);
    },
    toYandex(longitude, latitude) {
      let rText = ''
      this.locations.forEach(location => {
        rText += `~${location.latitude}%2C${location.longitude}`
      })
      const link = `https://yandex.uz/maps/?ll=${longitude}%2C${latitude}&mode=routes&rtext=${rText}&rtt=auto&ruri=~&z=14`
      window.open(link, "_blank", "noreferrer")
    },
    close() {
      this.dialog = false;
      this.showMap = false;
      this.locations = []
    }
  }
}
</script>

<style scoped>

</style>
