<template>
  <VRow>
    <VCol class="pl-3 pr-1">
      <CustomInputText
          type="number"
          only="number"
          step="1"
          @input="onInputCount"
          label="Количество купюр"
          title="Количество купюр"
          :tabindex="item.number"
          v-model.number="item.currencyCount"
      />
    </VCol>
    <VCol class="px-1">
      <VSheet dark rounded class="pa-2" color="primary">
        {{ item.nominal | money }}
      </VSheet>
    </VCol>
    <VCol class="px-1">
      <VSheet dark rounded class="pa-2" color="primary">
        {{ CURRENCY_TYPE[item.currencyCode] || 'Cум' }}
      </VSheet>
    </VCol>
<!--    <VCol style="flex: 0 0 150px; max-width: 150px" class="pl-3 pr-1">-->
<!--      <CustomAutocomplete-->
<!--          clearable-->
<!--          label="Касета"-->
<!--          rules="required"-->
<!--          custom-item-->
<!--          :items="cassettes"-->
<!--          item-text="number"-->
<!--          item-value="id"-->
<!--          v-model="item.ownCassetteId"-->
<!--      >-->
<!--        <template #item="{item, on}">-->
<!--          <VListItem v-on="on" :disabled="selectedCassettes[item.id]">-->
<!--            <VListItemContent>-->
<!--              <VListItemTitle>{{ item.number }}</VListItemTitle>-->
<!--            </VListItemContent>-->
<!--          </VListItem>-->
<!--        </template>-->
<!--      </CustomAutocomplete>-->
<!--    </VCol>-->
    <VCol class="px-1">
      <div class="d-flex align-center">
        <span class="mr-2">=</span>
        <VSheet
            dark rounded class="pa-2"
            style="width: 100%"
            color="primary"
            label
        > {{ total|money }}
        </VSheet>
      </div>
    </VCol>
  </VRow>

</template>

<script>
import {CURRENCY_TYPE} from "@/utils/constants";

export default {
  name: 'OrderCreateDialogCassete',
  props: {
    selectedCassettes: {
      type: Object,
      default: () => ({})
    },
    cassettes: {
      type: Array,
      default: () => []
    },
    item: {
      type: Object
    },
    maxCount: {
      type: Number,
      default: 2000
    }
  },
  methods: {
    onInputCount(val) {
      if (val && val > this.maxCount) {
        this.$nextTick(() => {
          this.item.currencyCount = this.maxCount
        })
      }
    }
  },
  computed: {
    CURRENCY_TYPE: () => CURRENCY_TYPE,
    total() {
      if (!this.item.currencyCount) {
        return '0000.0000'
      }
      return this.item.currencyCount * this.item.nominal
    }
  },
}
</script>
