<template>
  <VDialog v-model="dialog" width="1600">
    <VCard>
      <VBtn @click="dialog = false" absolute right class="mt-2" icon small>
        <VIcon>fas fa-times</VIcon>
      </VBtn>
      <div class="py-4 px-6">
        <h5 class="title">{{ isConfirm ? 'Подтверждать' : 'Создать' }}</h5>
      </div>
      <VCardText>
        <ValidationObserver
          ref="orderItemObs"
          v-slot="{handleSubmit}"
        >
          <form @submit.prevent="handleSubmit(submit)">

            <div class="justify-end mb-3 d-flex">
              <!--      <CustomAutocomplete-->
              <!--          hide-details-->
              <!--          v-model="analyticData.filters.code"-->
              <!--          @input="onChangeFilter"-->
              <!--          item-value="code"-->
              <!--          clearable-->
              <!--          placeholder="Регионы"-->
              <!--          :items="regions"-->
              <!--      ></CustomAutocomplete>-->
<!--              <btn-with-tooltip @click="$refs.orderCreateDialogRef.open()" class-name="action-btn" color="#dda24d" dark>-->
<!--                <VIcon small >fas fa-plus</VIcon>-->
<!--                <template #tooltip>Создать</template>-->
<!--              </btn-with-tooltip>-->
            </div>
            <v-card>
              <v-card-text>
                <v-data-table
                        dense
                        :custom-sort="items => items"
                        item-key="dd"
                        :options.sync="analyticData.options"
                        disable-pagination
                        @update:options="getItems"
                        :headers="headers"
                        hide-default-footer
                        :items="analyticData.items">
                  <template #body.prepend>
                    <tr>
                      <td></td>
                      <td>
                        <CustomInputText
                                clearable
                                @input="onChangeFilter"
                                v-model.trim="analyticData.filters.address"
                                style="max-width: 450px" hide-details></CustomInputText>
                      </td>
                      <td></td>
                      <td></td>
                      <td>
                        <CustomInputText
                                clearable
                                @input="onChangeFilter"
                                v-model="analyticData.filters.mfo"
                                style="max-width: 450px" hide-details></CustomInputText>
                      </td>
                      <td>
                        <CustomInputText
                                clearable
                                @input="onChangeFilter"
                                v-model="analyticData.filters.midOrTid"
                                style="max-width: 450px" hide-details></CustomInputText>
                      </td>
                      <td></td>
                      <td></td>
                    </tr>
                  </template>
                  <template #item.forecastEndDate="{item}">
                    <span v-if="item.forecastEndDate">{{ item.forecastEndDate }}</span>
                    <VChip v-else color="error" label small outlined>Деньги закончились</VChip>
                  </template>
                  <template #item.address="{item}">
                    <div v-if="item.latitude && item.longitude" class="d-flex align-start">
                      <img src="@/assets/icons/map.svg" width="18" alt="" class="mr-1">
                      <a target="_blank" class="grey--text"
                         :href="constructMapsUrl(item.latitude, item.longitude, 'yandexDesktop')">
                        {{ item.address }}
                      </a>
                      <span style="color: red" v-if="!item.active">Offline</span>
                    </div>
                    <p v-else>{{ item.address }} <span v-if="!item.active" style="color: red">Offline</span></p>
                  </template>
                  <template #item.offers="{item}">
                    <div class="pt-3 analytics-offer" v-if="item.offers">
                      <p v-for="(offerValue, offerKey) in item.offers" class="mb-1 white-space-no-wrap font-weight-bold analytics-offer__title">
             <span v-if="offerValue && item.uzs && +offerValue === +item.uzs">
               {{ offerValue | money }} <span style="color: #626161; font-weight: 300">сум <b style="color: #000; font-weight: bold">{{ offerKey }}</b> x кун учун</span>...
             </span>
                      </p>
                      <v-card class="analytics-offer__all-offers">
                        <v-card-text>
                          <p v-for="(offerValue, offerKey) in item.offers" class="mb-1 white-space-no-wrap font-weight-bold d-flex align-center">
                            <v-checkbox @change="selectedPrice(item, offerValue, offerKey)" :value="offerValue" v-model="item.selectedOffer" class="mt-0 pt-0" hide-details color="#dda24d" />
                            <span>
                   {{ offerValue | money }} <span style="color: #626161; font-weight: 300">сум <b style="color: #000; font-weight: bold">{{ offerKey }}</b> x кун учун</span>
                 </span>
                          </p>
                        </v-card-text>
                      </v-card>
                    </div>
                  </template>
                  <template #item.uzs="{item}">
                    <div class="pt-3">
                      <p v-if="item.uzs" class="mb-1 white-space-no-wrap font-weight-bold">
                        {{ item.uzs | money }} сум
                      </p>
                    </div>
                  </template>
                  <template #item.mfo="{item}">
                    <p class="mb-0 white-space-no-wrap">MFO: {{ item.mfo }}</p>
                  </template>
                  <template #item.tid="{item}">
                    <p class="mb-0 white-space-no-wrap">TID: {{ item.terminalId }}</p>
                    <p class="mb-0 white-space-no-wrap">MID: {{ item.merchantId }}</p>
                  </template>
                  <template #item.index="{index}">{{ ((analyticData.params.pageNumber - 1) * 10) + (index + 1) }}</template>
                  <template #item.remains="{item: {remains}}">{{ remains|numberToString }}</template>
                  <template #item.action="{item}">
                    <div class="action-btn-wrap">
                      <VBtn @click="$refs.orderCreateDialogRef.open(item)"
                            class="action-btn" color="secondary">
                        <VIcon x-small>fas fa-pencil-alt</VIcon>
                      </VBtn>
                      <VBtn @click="$refs.warningDialogRef.open(item.id)" class="action-btn" color="error">
                        <VIcon x-small>fas fa-trash</VIcon>
                      </VBtn>
                    </div>
                  </template>
                </v-data-table>
              </v-card-text>
            </v-card>
            <div class="d-flex justify-center mt-5">
              <v-pagination :total-visible="10" @input="changePage" :length="analyticData.lastPage"
                            v-if="analyticData.lastPage > 1 || analyticData.params.pageNumber> 1"
                            v-model="analyticData.params.pageNumber" color="#dda24d"/>
            </div>
            <OrderCreateDialog v-if="!isAdmin" @saved="getItems" ref="orderCreateDialogRef"/>
            <WarningDialog
                    @apply="onDeleteOrder"
                    ref="warningDialogRef"
            ></WarningDialog>

<!--            <VBtn width="100%" color="primary" type="submit" :loading="loading">Сохранить</VBtn>-->
          </form>
        </ValidationObserver>
      </VCardText>
    </VCard>
  </VDialog>
</template>

<script>
import OrderCreateDialogCassete from "@/components/OrderCreateDialogCassete";
import WarningDialog from "@/components/ui/prompt/warning-dialog.vue";

import {CURRENCIES, messages, PERMISSIONS} from '@/utils/constants'
import {debounce, getQueryPage} from "@/utils/pureFunctions";
import OrderCreateDialog from "@/components/OrderCreateDialog";
import AnalyticsDailyTransactions from '@/components/skeleton/AnalyticsDailyTransaction.vue'
import {constructMapsUrl} from "@/utils/locationMapHelper";
import {timeToString} from "@/utils/dateFormatHelpers";

const DEFAULT_ORDER_ITEM = {
  "atmId": null,
  "carId": null,
  "moneyCassetteDto": [],
  remains: null
}
export default {
  name: 'OrderCreateDialog',
  components: {OrderCreateDialogCassete, WarningDialog, OrderCreateDialog, AnalyticsDailyTransactions},
  data() {
    return {
      headers: [
        {
          text: '№',
          value: 'index',
          sortable: false
        },
        {
          text: 'Адрес ATM',
          value: 'address',
          sortable: false
        },
        {
          text: 'Деньги закончится примерно',
          value: 'forecastEndDate',
          sortable: true
        },
        {
          text: 'Предложенная сумма инкассации',
          value: 'offers',
        },
        {
          text: 'MFO',
          value: 'mfo',
          sortable: false
        },
        {
          text: 'TID && MID',
          value: 'tid',
          sortable: false
        },
        {
          text: 'Максимум сумма инкассации',
          value: 'uzs',
        },
        {
          text: 'Банк',
          value: 'bankName',
          sortable: false,
          visibleOnlyAdmin: true
        },
        {
          text: 'Действия',
          value: 'action',
          sortable: false
        }
      ],
      analyticData: {
        options: {
          sortDesc: [false],
          sortBy: ['forecastEndDate'],
        },
        sortDesc: [],
        items: [],
        lastPage: 0,
        params: {pageNumber: 1},
        filters: {}
      },


      freeCassettes: [],
      casseteLoading: false,
      isConfirm: false,
      loading: false,
      dialog: false,
      cars: [],
      atmData: {
        items: [],
        totalPages: 1,
        params: {
          pageNumber: -1,
          tidOrMid: null
        }
      },
      midTidData: {},
      orderItem: {
        ...DEFAULT_ORDER_ITEM,
        moneyCassetteDto: []
      },
      informationData: {},
      maxCount: null,
      offers: {},
      littleAmount: true,
      averageForCreate: null,
    }
  },
  methods: {
    selectedPrice(item, sum, day) {
      item.uzs = sum
      item.selectedDay = day
    },
    timeToString,
    constructMapsUrl,
    onChangeFilter: debounce(function () {
      this.analyticData.params.pageNumber = 1
      this.changePage()
    }, 300),
    async onDeleteOrder(id) {
      try {
        await this.$http.delete(`pre-orders/delete/${id}`)
        await this.getItems()
        this.$setSuccess({text: messages.onDelete})

      } catch (e) {
        return Promise.reject(e)
      }
    },
    async changePage() {
      const {page} = this.$route.query
      const {pageNumber} = this.analyticData.params
      this.$showLoading()
      if (page !== `${pageNumber}`) {
        await this.$router.replace({query: {page: `${pageNumber}`}})
      }
      await this.getItems()
      this.$clearLoading()
    },
    async getItems() {
      this.$showLoading()
      try {
        const {sortBy: [sortBy], sortDesc: [sortDesc]} = this.analyticData.options
        const params = {
          ...this.analyticData.filters,
          pageNumber: this.analyticData.params.pageNumber - 1
        }
        if (sortBy) params.sortBy = sortBy
        params.sortDirection = sortDesc ? 'desc' : 'asc'
        const {data: {content, totalPages}} = await this.$http.post('offers/search', params)
        this.analyticData.items = content.map(item => {
          item.forecastEndDate = timeToString(item.forecastEndDate)
          item.selectedOffer = `${item.uzs}`
          Object.keys(item.offers).forEach(p => {
            if(+item.offers[p] === item.uzs) item.selectedDay = p
          })
          return item
        })
        this.analyticData.lastPage = totalPages
      } catch (e) {
        this.$setResponseError({error: e})
      } finally {
        this.$clearLoading()
      }
    },
    /*async getRegions() {
      const {data: {content}} = await this.$http.post('regions/search')
      this.regions = content
    },*/

    // async getAverageForCreate() {
    //   try {
    //     const {data: { average }} = await this.$http.post('offers/get-average-atm', {
    //       atmId: this.orderItem.atmId
    //     })
    //     this.averageForCreate = average
    //     this.informationData.average = average
    //   } catch (err) {
    //     this.$setResponseError({error: err})
    //   }
    // },
    // async getOneOffer() {
    //   try {
    //     const {data: {counts, remains}} = await this.$http.post('offers/get-one', {
    //       sum: this.informationData.uzs.toString(),
    //       offerId: this.informationData.id
    //     })
    //     this.maxCount = counts
    //     this.informationData.remains = remains ?? null
    //   } catch (err) {
    //     this.$setResponseError({error: err})
    //   }
    // },
    // async getFreeCassette() {
    //   try {
    //     const {data: {content}} = await this.$http.post('own-cassettes/search', {
    //       "statusType": "FREE",
    //       "pageSize": 50
    //     })
    //     this.freeCassettes = content
    //   } catch (e) {
    //
    //   }
    // },
    // async onSelectAtm(atmId) {
    //   this.casseteLoading = true
    //   try {
    //     let {cassettes, remains} = await this.$store.dispatch('getCasseteByAtmId', atmId)
    //     this.orderItem.remains = remains
    //     if (!cassettes) cassettes = []
    //     let allSum = 0;
    //     this.orderItem.moneyCassetteDto = cassettes.map(item => {
    //       if(this.isConfirm) {
    //         if (item.currencyCode === CURRENCIES["840"]) {
    //           item.currencyCount = this.maxCount[item.number]
    //         } else {
    //           item.currencyCount = this.maxCount[item.number]
    //         }
    //       } else {
    //         if (item.currencyCode === CURRENCIES["840"]) {
    //           item.currencyCount = ''
    //         } else {
    //           item.currencyCount = 2000
    //           allSum+= item.nominal*2000;
    //         }
    //       }
    //       return item
    //     })
    //     this.informationData.uzs = allSum ?? 0;
    //     await this.getAverageForCreate()
    //   } catch (e) {
    //     this.$setResponseError({error: e})
    //   } finally {
    //     this.casseteLoading = false
    //   }
    // },
    // async getCars() {
    //   try {
    //     const params = {
    //       pageNumber: 0
    //     }
    //     const {data: {content, totalPages}} = await this.$http.post('cars/search', params)
    //     this.cars = content
    //     this.lastPage = totalPages
    //   } catch (e) {
    //     this.$setResponseError({error: e})
    //   }
    // },
    async submit() {
      if (!this.loading) {
        this.loading = true
        const url = this.isConfirm ? "orders/pre-create" : 'orders/create'
        try {
          this.orderItem.moneyCassetteDto = this.orderItem.moneyCassetteDto.filter(cassette => cassette.currencyCount)
          await this.$http.post(url, this.orderItem)
          this.$setSuccess({text: messages.onSave})
          this.$emit('saved')
          this.close()
        } catch (e) {
          this.$setResponseError({error: e})
        } finally {
          this.loading = false
        }
      }
    },
    async open(item) {
      this.dialog = true
      await this.getFreeCassette()
      if (item?.id) {
        this.informationData.address = item.address ?? null
        this.informationData.average = item.average ?? 0
        this.informationData.merchantId = item.merchantId ?? null
        this.informationData.pid = item.pid ?? null
        this.informationData.id = item.id ?? null
        this.informationData.uzs = item.uzs ?? null
        this.informationData.selectedDay = item.selectedDay ?? null
        this.orderItem.atmId = item.atmId
        this.offers = item.offers || {}
        this.isConfirm = true
        this.orderItem.offerId = item.id
        await this.getOneOffer()
        try {
          this.$store.dispatch('getAtmById', item.atmId).then(res => {
            this.midTidData = res
            this.onSelectAtm(item.atmId)
          })
        } catch (e) {
          this.$setResponseError({error: e})
        }
      }
    },
    close() {
      this.dialog = false
    },
    onClose() {
      const {orderItemObs} = this.$refs
      this.isConfirm = false
      this.orderItem = {
        ...DEFAULT_ORDER_ITEM,
        moneyCassetteDto: []
      }
      this.atmData = {
        params: {
          pageNumber: -1,
          pid: null
        },
        totalPages: 1,
        items: []
      }
      this.midTidData = {}
      this.informationData = {}
      this.maxCount = 2000
      orderItemObs.reset()
      this.averageForCreate = null
    },
    getAtmList(isNextPage = false) {
      this.$store.dispatch('getAtmList', this.atmData.params).then(({content, totalPages}) => {
        if (isNextPage) {
          this.atmData.items = [...this.atmData.items, ...content]
        } else {
          this.atmData.items = content
        }
        this.atmData.totalPages = totalPages
      })
    }
  },
  computed: {
    isUserFromMainBranch() {
      return this.$store.getters.isUserFromMainBranch
    },
    isAdmin() {
      return this.$store.getters.isAdmin
    },
    PERMISSIONS: () => PERMISSIONS,
    canModify() {
      return !this.isUserFromMainBranch && !this.isAdmin
    },


    calcDay() {
      let day = this.informationData.selectedDay
      let firstDay = 0;
      if(Object.entries(this.offers).length) firstDay = Object.keys(this.offers)[0]
      if (this.allAmount && this.informationData && +this.allAmount.uzs > +this.informationData.uzs) {
        const distinction = +this.allAmount.uzs - +this.informationData.uzs
        const residue = distinction / this.informationData.average
        day = (+day) + (+Math.floor(residue))
        if (+residue.toFixed(2) !== Math.floor(+residue.toFixed(2)) && +day >= 1) day = `${day}+`
        else if(day < 1) day = 1
        this.littleAmount = true
      }
      if (this.allAmount && this.informationData && +this.allAmount.uzs < +this.informationData.uzs && this.offers[firstDay] < this.allAmount.uzs) {
        Object.entries(this.offers).forEach(([key, value]) => {
          if(+this.allAmount.uzs === value) day = key
          if(+this.allAmount.uzs > value) {
            day = `${key}+`
          }
        })
        this.littleAmount = false
      }
      if((this.offers[firstDay] && this.offers[firstDay] > +this.allAmount.uzs) || this.averageForCreate) {
        const residue = +this.allAmount.uzs / this.informationData.average
        day = (+Math.floor(residue))
        if (+residue.toFixed(2) !== Math.floor(+residue.toFixed(2)) && +day >= 1) {
          day = `${day}+`
          this.littleAmount = true
        }
        if(+this.allAmount.uzs < this.informationData.average) {
          day = 'суммы не хватит на один день'
          this.littleAmount = false
        }
      }
      return day
    },
    sortedFreeCassettes() {
      return this.freeCassettes
    },
    selectedCassettes() {
      const item = {}
      this.orderItem.moneyCassetteDto.forEach(c => {
        if (c.ownCassetteId) {
          item[c.ownCassetteId] = true
        }
      })
      return item
    },
    allAmount() {
      const amounts = {
        uzs: 0,
        usd: 0
      }
      this.orderItem.moneyCassetteDto.forEach((item) => {
        const total = (item.currencyCount || 0) * item.nominal
        if (item.currencyCode === CURRENCIES["840"]) {
          amounts.usd = amounts.usd + total
        } else if (item.currencyCode === CURRENCIES["860"]) {
          amounts.uzs = amounts.uzs + total
        }
      })
      return amounts
    }
  },
  watch: {
    dialog(val) {
      if (!val) this.onClose()
    }
  },
  created() {
    this.headers = this.headers.filter(item => {
      return !item.visibleOnlyAdmin || this.isAdmin
    })
    this.analyticData.params.pageNumber = getQueryPage(this.$route.query.page)
    // await this.getRegions()
    // this.$store.dispatch('getGroupList').then(({content}) => {
    //   this.groups = content
    // })
    // this.getCars()
  }
}
</script>

<style lang="scss">
.mid-tid-search {
  margin-bottom: 22px;

  .search-title {
    margin-bottom: 5px;
    color: #2D3748;
    font-size: 14px;
  }

  .search-text {
    background: #FFFFFF;
    border: 1px solid #E2E8F0;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 15px 20px;

    .search-mid, .search-tid, .search-address {
      color: rgb(44, 62, 80);

      font-size: 14px;

      span {
        font-weight: bold;
        font-size: 13px;
      }
    }

    .search-mid {
      margin-right: 10px;
    }
  }
}
</style>
