<template>
  <VDialog v-model="dialog" width="600">
    <VCard>
      <VBtn @click="dialog = false" absolute right class="mt-2" icon small>
        <VIcon>fas fa-times</VIcon>
      </VBtn>
      <div class="py-4 px-6">
        <h5 class="title">{{ 'Принимать касету' }}</h5>
      </div>
      <VCardText>

        <div class="mid-tid-search">
          <h3 class="search-title">Банкомат</h3>
          <div class="search-text">
            <span class="search-mid">MID: <span>{{ midTidData.merchantId }}</span></span> <span class="search-tid">PID: <span>{{
              midTidData.pid
            }}</span></span>
            <div class="search-address">Адрес: <span>{{ midTidData.address }}</span></div>
            <!--            <div class="search-address">Остаток в банкомате: <span>{{ orderItem.remains | money }}</span></div>-->
          </div>
        </div>
        <ReceptionItemCassetteBlock
            :index="index"
            v-for="(item, index) in cassettes" :key="`number-${index}`"
            :item="item"
            :cassetteCheckedStatus="cassetteCheckedValues"
        ></ReceptionItemCassetteBlock>
        <div class="text-right mb-3 mt-3">Общая сумма:
          <VChip label color="primary">{{ allAmount|money }}</VChip>
        </div>
        <VBtn @click="onCompleteOrder" v-if="cassetteCheckedValues.length === cassettes.length" width="100%"
              color="primary" :loading="loading">
          Принять
        </VBtn>
        <div v-else>
          <ValidationObserver v-slot="{handleSubmit}">
          <CustomTextTextarea rules="required" height="60px" label="Укажите причину" v-model="reason"></CustomTextTextarea>
          <VBtn width="100%" color="error" @click="handleSubmit(lackMoney)" :loading="loading">Завершить с нехваткой денег</VBtn>
          </ValidationObserver>
        </div>
      </VCardText>
    </VCard>
  </VDialog>
</template>

<script>
import ReceptionItemCassetteBlock from "@/components/ReceptionItemCassetteBlock.vue";
import {messages, ORDER_STATUSES} from "@/utils/constants";

const DEFAULT_ORDER_ITEM = {
  "atmId": null,
  "carId": null,
  "preOrderId": null,
  "moneyCassetteDto": [],
  remains: null
}
export default {
  name: 'ReceptionItemCreateCollectionDialog',
  components: {ReceptionItemCassetteBlock},
  data() {
    return {
      item: null,
      loading: false,
      dialog: false,
      midTidData: {},
      reason: null,
      cassetteCheckedValues: [],
      cassettes: []
    }
  },
  methods: {
    async getAtmData(id) {
      try {
        const {data} = await this.$http.get(`atms/get/${id}`)
        this.midTidData = data
      } catch (e) {

      } finally {

      }
    },
    async open(item) {
      this.dialog = true
      this.item = item
      this.getAtmData(item.atmId).then()
      if (item.incomeWithCassette) {
        let cassettes = []
        Object.values(item.incomeWithCassette).forEach(item => {
          let c = Object.entries(item)[0]
          if (c) {
            cassettes.push({
              nominal: c[1],
              currencyCount: c[0],
              currencyCode: '860'
            })
          }
        })
        this.cassettes = cassettes
      }
    },
    close() {
      this.dialog = false
    },
    onClose() {
      this.item = null
      this.cassettes = []
      this.cassetteCheckedValues = []
      this.reason = null
      this.midTidData = {}
    },
    async onCompleteOrder() {
      this.loading = true
      try {
        await this.$http.post('orders/complete-by-operator', null, {
          params: {
            orderId: this.item.id
          }
        })
        this.$setSuccess({text: messages.onSave})
        this.dialog = false
        this.item.statusType = ORDER_STATUSES.COMPLETED.key
        this.$emit('changedStatus')
      } catch (e) {
        this.$setResponseError({error: e})
      } finally {
        this.loading = false
      }
    },
    async lackMoney() {
      this.loading = true
      try {
        await this.$http.post('orders/lack-of-money', {
          orderId: this.item.id,
          reason: this.reason
        })
        this.$emit('changedStatus')
        this.$setSuccess({text: messages.onSave})
        this.item.statusType = ORDER_STATUSES.LACK_OF_MONEY.key
        this.dialog = false
      } catch (e) {
        this.$setResponseError({error: e})
      } finally {
        this.loading = false
      }
    }
  },
  computed: {
    allAmount() {
      return this.cassettes.reduce((total, item) => {
        total += (item.currencyCount || 0) * item.nominal
        return total
      }, 0)
    }
  },
  watch: {
    dialog(val) {
      if (!val) this.onClose()
    }
  },
  created() {

  }
}
</script>

<style lang="scss">
.mid-tid-search {
  margin-bottom: 22px;

  .search-title {
    margin-bottom: 5px;
    color: #2D3748;
    font-size: 14px;
  }

  .search-text {
    background: #FFFFFF;
    border: 1px solid #E2E8F0;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 15px 20px;

    .search-mid, .search-tid, .search-address {
      color: rgb(44, 62, 80);

      font-size: 14px;

      span {
        font-weight: bold;
        font-size: 13px;
      }
    }

    .search-mid {
      margin-right: 10px;
    }
  }
}
</style>
