<template>
  <VDialog v-model="dialog" width="832">
    <VCard class="px-4 py-4">
      <h2 class="text-center mb-3">Список инкассируемых банкоматов</h2>
      <VDivider></VDivider>
      <div class="d-flex ml-n2 mr-n2 flex-wrap">
        <ReceptionItem
            v-for="(order, index) in items"
            :class="['elevation-0 my-2 pa-2 v-card-item', `card-item-cover-${order.statusType.toLowerCase()}`]"
            :key="index" :atm="order" :item="item" :itemsLength="items.length" :index="index"
            style="width: 33%" @onClickToCard="openReceptionItemCreateCollectionDialog(order)"></ReceptionItem>
      </div>
    </VCard>
    <ReceptionItemCreateCollectionDialog
        @changedStatus="getOrderData"
        ref="createCollectionDialogRef"/>
  </VDialog>
</template>

<script>
import Draggable from 'vuedraggable'
import {ORDER_GROUP_STATUSES, ORDER_STATUSES, PERMISSIONS} from "@/utils/constants";
import TerminateCashCollectionDialog from "@/components/TerminateCashCollectionDialog.vue";
import ReceptionItem from "@/components/ReceptionItem.vue";
import ReceptionItemCreateCollectionDialog from '@/components/ReceptionItemCreateCollectionDialog.vue'

export default {
  name: "ReceptionItemsView",
  components: {
    Draggable, TerminateCashCollectionDialog, ReceptionItem,
    ReceptionItemCreateCollectionDialog
  },
  computed: {
    ORDER_GROUP_STATUSES: () => ORDER_GROUP_STATUSES,
    PERMISSIONS: () => PERMISSIONS
  },
  data() {
    return {
      dialog: false,
      loading: false,
      items: [],
      item: {},
    }
  },
  watch: {
    dialog(val) {
      if (!val) this.onClose()
    }
  },
  methods: {
    openReceptionItemCreateCollectionDialog(order) {
      if (order.statusType === ORDER_STATUSES.COMPLETED.key) {
        this.$refs.createCollectionDialogRef.open(order)
      }
    },
    async getOrderData() {
      try {
        const {data} = await this.$http.get('orders/get-by-group/' + this.item.id)
        this.items = [...data]
      } catch (e) {
        this.$setResponseError({error: e})
      }
    },

    open(item) {
      this.dialog = true
      this.item = item
      this.getOrderData(item)
    },
    onClose() {
      this.items = []
    },
    close() {
      this.dialog = false
    }
  }
}
</script>

<style>
.layout-icons-btn .v-btn__content {
  opacity: 1 !important;
}
</style>
