<template>
  <VRow>
    <div class="pl-3 pr-1 mt-5">
      <input
        class="custom-checkbox"
        type="checkbox"
        v-model="isCassetteChecked"
        @change="emitCassetteCheckedStatus"
        name="cassetteCheckbox"
      >
    </div>
    <VCol class="pl-3 pr-1">
      <VSheet dark rounded class="pa-2" color="primary">
        {{item.currencyCount | money}}
      </VSheet>
    </VCol>
    <VCol class="px-1">
      <VSheet dark rounded class="pa-2" color="primary">
        {{item.nominal | money}}
      </VSheet>
    </VCol>
    <VCol class="px-1">
      <VSheet dark rounded class="pa-2" color="primary">
        {{CURRENCY_TYPE[item.currencyCode] || 'Cум'}}
      </VSheet>
    </VCol>
    <VCol class="px-1">
      <div class="d-flex align-center">
        <span class="mr-2">=</span>
        <VSheet
          dark rounded class="pa-2"
          style="width: 100%"
          color="primary"
          label
        > {{ total|money }}</VSheet>
      </div>
    </VCol>
  </VRow>

</template>

<script>
import {CURRENCY_TYPE} from "@/utils/constants";

export default {
  name: 'ReceptionItemCassetteBlock',
  data(){
    return {
      isCassetteChecked: false
    }
  },
  props: {
    index: {
      type: Number
    },
    item: {
      type: Object
    },
    cassetteCheckedStatus: {
      type: Array
    }
  },
  methods: {
    emitCassetteCheckedStatus(){
      if(this.isCassetteChecked && !this.cassetteCheckedStatus.includes(this.index)){
        this.cassetteCheckedStatus.push(this.index)
      } else if(!this.isCassetteChecked){
        let index = this.cassetteCheckedStatus.findIndex(item => item === this.index)
        this.cassetteCheckedStatus.splice(index,1)
      }
    }
  },
  computed: {
    CURRENCY_TYPE: () => CURRENCY_TYPE,
    total() {
      if (!this.item.currencyCount) {
        return '0000.0000'
      }
      return  this.item.currencyCount * this.item.nominal
    }
  },
}
</script>

<style scoped>
.custom-checkbox {
  width: 23px;
  height: 23px;
  left: 747px;
  top: 537px;
cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #E2E8F0;
  border-radius: 5px;
}
</style>
