<template>
  <div class="pl-2 pr-2">
    <VCard
        :ripple="false"
        :color="CARD_ITEM_COLOR[atm.statusType]"
        class="pl-2"
        style="height: 100%; position: relative"
        @click="$emit('onClickToCard', atm.id)"
    >
      <div class="card_item_cover">
        <div class="card_item ml-3 mr-3">
          <div class="">
            <h5><b>Позиция: {{ index + 1 }}</b></h5>
            <p>Адрес: <b>{{ atm.address }}</b></p>
            <p>MID: <b>{{ atm.mid }}</b></p>
            <p v-if="atm.remainsSum">Остаток: <b>{{ atm.remainsSum|money }}</b></p>
            <p> Сумма инкассации: <b>{{ atm.depositSum|money }} сум</b></p>
            <p>
              Статус:
              <b>{{ ORDER_STATUSES[atm.statusType].text }}</b>
            </p>
          </div>
        </div>
      </div>
    </VCard>
  </div>
</template>

<script>
import {ORDER_GROUP_STATUSES, ORDER_STATUSES, PERMISSIONS} from "@/utils/constants.js";

export default {
  name: 'ReceptionItem',
  props: ['atm', 'index', 'item', 'itemsLength'],
  computed: {
    ORDER_STATUSES: () => ORDER_STATUSES,
    PERMISSIONS: () => PERMISSIONS,
    CARD_ITEM_COLOR: () => {
      return {
        COMPLETED: 'rgba(116, 121, 125, 0.1)',
        LACK_OF_MONEY: 'rgba(215,34,74,0.1)',
      }
    },
  }
}
</script>c

<style scoped>
.card_item {
  padding: 20px 15px;
}

.card_item > div {
  max-width: 400px;
}

.card_item_arrows_btn-down {
  position: absolute;
  top: 50%;
  right: 0;
}

.card_item_arrows_btn-up {
  position: absolute;
  top: 50%;
  left: -5px;
}

.card_item p {
  font-size: 12px;
  margin-bottom: 5px;
}
</style>