<template>
  <VDialog v-model="dialog" :width="500">
    <VCard>
      <VBtn icon small @click="close" absolute right class="mt-4">
        <VIcon small>fas fa-times</VIcon>
      </VBtn>
      <VCardText class="pt-7 pb-7">
        <h2>{{reportsItem.group}}</h2>
        <div class="d-flex justify-space-between align-center mt-7 mb-6">
          <div class="chief">
            <h4 class="font-weight-regular">Инкассатор</h4>
            <h3>Махмудов С</h3>
          </div>
          <div class="car">
            <h4 class="font-weight-regular">Автомобиль</h4>
            <h3>01|911 KDB Orlando</h3>
          </div>
        </div>
        <div class="users ">
          <h4 class="font-weight-regular">Участники</h4>
          <h3>Умаров К, Мусаев Ф, Норов К</h3>
        </div>
        <h4 class="font-weight-regular mt-8 mb-5" >ИСТОРИЙ ИНКАССАЦИЙ</h4>
        <div class="d-flex justify-space-between align-center">
          <div class="collection-number">
            <h4 class="font-weight-regular">Номер инкассации</h4>
            <h3>AB911</h3>
          </div>
          <div class="remainder">
            <h4 class="font-weight-regular">Остаток</h4>
            <h3>{{reportsItem.remainder}}</h3>
          </div>
        </div>
        <div class="d-flex justify-space-between align-center mt-4 mb-4">
          <div class="mid">
            <h4 class="font-weight-regular">MID</h4>
            <h3>{{ reportsItem.mid }}</h3>
          </div>
          <div class="cassette">
            <h4 class="font-weight-regular">1-я касета</h4>
            <h3>2400х100.000</h3>
          </div>
        </div>
        <div class="d-flex justify-space-between align-center">
          <div class="mid">
            <h4 class="font-weight-regular">TID</h4>
            <h3>{{ reportsItem.tid }}</h3>
          </div>
          <div class="cassette">
            <h4 class="font-weight-regular">2-я касета</h4>
            <h3>2400х100.000</h3>
          </div>
        </div>
        <div class="d-flex justify-space-between align-center mt-4 mb-4">
          <div class="address">
            <h4 class="font-weight-regular">Адрес</h4>
            <h3>г.Такшент, Юнусабадский р-н, Военная часть</h3>
          </div>
          <div class="cassette">
            <h4 class="font-weight-regular">3-я касета</h4>
            <h3>2400х50.000</h3>
          </div>
        </div>
        <div class="d-flex justify-space-between align-center">
          <div class="collection-time">
            <h4 class="font-weight-regular">Время инкассации</h4>
            <h3>07.02.2022, в 11:00 - 11:30</h3>
          </div>
          <div class="cassette">
            <h4 class="font-weight-regular">4-я касета</h4>
            <h3>2400х10.000</h3>
          </div>
        </div>
        <div class="text-right mt-9">
          <h3 class="font-weight-regular">ОБЩАЯ СУММА: <span class="font-weight-bold" style="color: #3182CE">250.000.00 сум</span></h3>
        </div>
      </VCardText>
    </VCard>
  </VDialog>

</template>

<script>

export default {
  name: 'ReportsItemDialog',
  data() {
    return {
      dialog: false,
      loading: false,
      reportsItem: {}
    }
  },
  watch: {
    dialog(val){
      if (!val) {
        this.loading = false;
      }
    }
  },
  methods: {
    open(item) {
      this.dialog = true
      this.reportsItem = item
    },
    close() {
      this.dialog = false
    }
  }
}
</script>
