<template>
  <v-dialog v-model="dialog" width="600">
      <v-card>
        <v-btn @click="dialog = false" absolute right class="mt-2" icon small>
          <v-icon>fas fa-times</v-icon>
        </v-btn>
        <slot name="form-title" :isUpdate="isUpdate">
          <div class="py-4 px-6">
            <h5 class="title" v-if="!isUpdate">Создать</h5>
            <h5 class="title" v-else>Изменить</h5>
          </div>
        </slot>
        <v-card-text>
          <validation-observer ref="formObs" v-slot="{handleSubmit, errors}">
            <form @submit.prevent="handleSubmit(save)">
              <custom-input-text
                label="Код"
                rules="required"
                v-model="formData.code"
              ></custom-input-text>
              <custom-input-text
                label="Описание"
                rules="required"
                v-model="formData.description"
              ></custom-input-text>
              <custom-input-text
                label="Имя"
                rules="required"
                v-model="formData.name"
              ></custom-input-text>
              <v-col cols="12">
                <v-btn width="100%" color="#dda24d" type="submit" :loading="loading" dark>Сохранить</v-btn>
              </v-col>
            </form>
          </validation-observer>
        </v-card-text>
      </v-card>
  </v-dialog>
</template>

<script>
import {messages} from "@/utils/constants";

const ROLE_DEFAULT_FORM_DATA = {
  code: null,
  description: null,
  id: null,
  name: null
}

export default {
  name: "roleCreateUpdateForm",
  data() {
    return {
      dialog: false,
      loading: false,
      formData: {
        ...ROLE_DEFAULT_FORM_DATA
      },
    }
  },
  computed: {
    isUpdate() {
      return !!this.formData.id
    }
  },
  watch: {
    dialog(val) {
      if(!val) this.onClose()
    }
  },
  methods: {
    onClose() {
      const {formObs} = this.$refs
      this.formData = {...ROLE_DEFAULT_FORM_DATA}
      formObs.reset()
    },
    close() {
      this.dialog = false
    },
    open(item) {
      this.dialog = true
      if (item) {
        this.formData = {...item}
      }
    },
    async save() {
      this.loading = true
      try {
        await this.$http.post('roles/modify', this.formData)
        this.$emit('saved')
        this.close()
        this.$setSuccess({text: messages.onSave})
      }catch (e) {
        this.$setResponseError({error:e})
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style scoped>

</style>
