<template>
  <VDialog v-model="dialog" :width="500">
    <VCard>
      <VBtn icon small @click="close" absolute right class="mt-4">
        <VIcon small>fas fa-times</VIcon>
      </VBtn>
      <VCardText class="text-center">
        <ValidationObserver ref="formObs" v-slot="{handleSubmit}">
          <form @submit.prevent="handleSubmit(submit)">
            <VCardTitle class="px-0 pb-0">
              <h5>Заранее завершение</h5>
            </VCardTitle>
            <CustomTextTextarea
                v-model="order.reason"
                name="причина"
                placeholder="Укажите причину заранее завершение"
                rules="required"
            ></CustomTextTextarea>
            <VBtn :loading="loading" width="100%" type="submit" color="error">Завершить</VBtn>
          </form>
        </ValidationObserver>
      </VCardText>
    </VCard>
  </VDialog>

</template>

<script>
import {messages} from "@/utils/constants";

export default {
  name: 'TerminateCashCollectionDialog',
  data() {
    return {
      dialog: false,
      loading: false,
      order: {
        orderGroupId: null,
        reason: null
      }
    }
  },
  watch: {
    dialog(val){
      if (!val) {
        this.$refs.formObs.reset()
        this.loading = false;
        this.order.reason = null;
      }
    }
  },
  methods: {
    async submit() {
      this.loading = true
      try {
        await this.$http.post('order-groups/must-end-deposit', this.order)
        this.$emit('terminated')
        this.close()
        this.$setSuccess({text: messages.onSave})
      } catch (e) {
        this.$setResponseError({error: e})
      } finally {
        this.loading = false
      }
    },
    open(orderGroupId) {
      this.dialog = true
      this.order = {
        reason: null,
        orderGroupId
      }
    },
    close() {
      this.dialog = false
    }
  }
}
</script>
