<template>
  <VDialog v-model="dialog" width="600">
    <VCard>
      <VBtn @click="dialog = false" absolute right class="mt-2" icon small>
        <VIcon>fas fa-times</VIcon>
      </VBtn>
      <div class="py-4 px-6">
        <h5 class="title" v-if="!isUpdate">Создать</h5>
        <h5 class="title" v-else>Изменить</h5>
      </div>
      <VCardText>
        <ValidationObserver ref="formObs" v-slot="{handleSubmit, errors}">
          <form @submit.prevent="handleSubmit(save)">
            <CustomInputText
                label="Логин"
                rules="required"
                v-model="formData.userName"
            ></CustomInputText>
            <CustomInputText
                label="Пароль"
                :rules="!isUpdate ? 'required' : ''"
                name="password"
                v-model="formData.password"
                type="password"
                autocomplete="new-password"
            >
              <template #prepend-inner>
                <div class="pt-1">
                  <VIcon>fas fa-lock</VIcon>
                </div>
              </template>
            </CustomInputText>
            <CustomInputText
                label="Имя"
                rules="required"
                v-model="formData.firstName"
            ></CustomInputText>
            <CustomInputText
                label="Фамилия"
                rules="required"
                v-model="formData.lastName"
            ></CustomInputText>
            <CustomInputText
                label="Номер телефона"
                v-model="formData.phone"
                vid="phone"
                pattern="+### ## ###-##-##"
            ></CustomInputText>
            <CustomInputText
                type="number"
                label="МФО"
                rules="required"
                name="mfo"
                v-model="formData.mfo"
            ></CustomInputText>
            <CustomSelect
                label="Тип пользователя"
                rules="required"
                :items="branches"
                item-text="userType"
                item-value="userRoleType"
                v-model="formData.userType"
            ></CustomSelect>
            <CustomSelect
                label="Роль"
                rules="required"
                :items="roles"
                item-text="name"
                item-value="id"
                multiple
                v-model="formData.roles"
            ></CustomSelect>
            <div class="d-flex justify-center">
              <v-checkbox
                  v-model="formData.active"
                  class="mt-0"
                  label="Активность"
                  color="#dda24d"
              ></v-checkbox>
              <v-checkbox
                  v-if="isUpdate"
                  v-model="formData.locked"
                  class="mt-0 ml-3"
                  label="Заблокирован"
                  color="#dda24d"
              ></v-checkbox>
            </div>
            <div>
              <VBtn width="100%" color="#dda24d" type="submit" :loading="loading" dark>Сохранить</VBtn>
            </div>
          </form>
        </ValidationObserver>
      </VCardText>
    </VCard>
  </VDialog>
</template>

<script>
import {messages} from "@/utils/constants";

const USER_DEFAULT_FORM_DATA = {
  "userName": null,
  "password": null,
  "firstName": null,
  "lastName": null,
  "phone": null,
  "mfo": null,
  "userType": null,
  "active": true,
  "locked": false,
}
export default {
  name: 'UserCreateUpdateForm',
  data() {
    return {
      roles: [],
      branches: [
        { id: 1, userType: "Main branch", userRoleType: "MAIN_BRANCH" },
        { id: 2, userType: "Main region branch", userRoleType: "MAIN_REGION_BRANCH" },
        { id: 3, userType: "Branch", userRoleType: "BRANCH" },
      ],
      dialog: false,
      loading: false,
      formData: {
        ...USER_DEFAULT_FORM_DATA,
        roles: [],
        branches: [],
      },
    }
  },
  computed: {
    isUpdate() {
      return !!this.formData.id
    }
  },
  watch: {
    dialog(val) {
      if (!val) this.onClose()
    },
    'formData.active'(val) {
      if (val) this.formData.locked = false
    },
    'formData.locked'(val) {
      if (val) this.formData.active = false
    },
  },
  methods: {
    async getRoles() {
      try {
        const {data} = await this.$http.get('roles/short-list')
        this.roles = data
      } catch (e) {
        this.$setResponseError({error: e})
      }
    },
    onClose() {
      const {formObs} = this.$refs
      this.formData = {...USER_DEFAULT_FORM_DATA, roles: []}
      formObs.reset()
    },
    close() {
      this.dialog = false
    },
    async open(itemId) {
      this.dialog = true
      if (itemId) {
        const {data} = await this.$http.get(`users/get/${itemId}`)
        data.phone = data.phoneNumber
        data.active = data.state === 'ACTIVE'
        delete data.phoneNumber
        delete data.state
        this.formData = {...data}
      }
    },
    async save() {
      this.loading = true
      try {
        this.formData.phone = this.formData.phone ? '+' + this.formData.phone.replace(/[^0-9]/g, '') : ""
        const url = this.isUpdate ? "users/update" : 'users/create'
        await this.$http.post(url, this.formData)
        this.$emit('saved')
        this.close()
        this.$setSuccess({text: messages.onSave})
      } catch (e) {
        this.$setFormError({error: e, obs: this.$refs.formObs})
        this.$setResponseError({error: e})
      } finally {
        this.loading = false
      }
    }
  },
  created() {
    this.getRoles()
  }
}
</script>
