<template>
  <VDialog v-model="dialog" width="832">
    <VCard class="px-4 py-4">
      <h2 class="text-center mb-3">Список инкассируемых банкоматов</h2>
      <VDivider></VDivider>
      <div class="layout-icons d-flex justify-end mt-2">
          <VBtn plain x-small @click="isSeries = true" :class="{'layout-icons-btn': isSeries}">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="th-list" class="svg-inline--fa fa-th-list fa-w-16 sc-cbMPqi ksRrYz" role="img"
                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="14px">
              <path d="M149.333 216v80c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24v-80c0-13.255 10.745-24 24-24h101.333c13.255 0 24 10.745 24 24zM0 376v80c0 13.255 10.745 24 24 24h101.333c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H24c-13.255 0-24 10.745-24 24zM125.333 32H24C10.745 32 0 42.745 0 56v80c0 13.255 10.745 24 24 24h101.333c13.255 0 24-10.745 24-24V56c0-13.255-10.745-24-24-24zm80 448H488c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H205.333c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24zm-24-424v80c0 13.255 10.745 24 24 24H488c13.255 0 24-10.745 24-24V56c0-13.255-10.745-24-24-24H205.333c-13.255 0-24 10.745-24 24zm24 264H488c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H205.333c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24z"></path>
            </svg>
          </VBtn>

        <VBtn plain x-small @click="isSeries = false" :class="{'layout-icons-btn': !isSeries}">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="th-large" width="14px" class="svg-inline--fa fa-th-large fa-w-16 sc-cbMPqi GQPOe" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M296 32h192c13.255 0 24 10.745 24 24v160c0 13.255-10.745 24-24 24H296c-13.255 0-24-10.745-24-24V56c0-13.255 10.745-24 24-24zm-80 0H24C10.745 32 0 42.745 0 56v160c0 13.255 10.745 24 24 24h192c13.255 0 24-10.745 24-24V56c0-13.255-10.745-24-24-24zM0 296v160c0 13.255 10.745 24 24 24h192c13.255 0 24-10.745 24-24V296c0-13.255-10.745-24-24-24H24c-13.255 0-24 10.745-24 24zm296 184h192c13.255 0 24-10.745 24-24V296c0-13.255-10.745-24-24-24H296c-13.255 0-24 10.745-24 24v160c0 13.255 10.745 24 24 24z"></path>
          </svg>
        </VBtn>
      </div>
      <Draggable v-model="items" ref="draggable" :link="items" @end="onDraggable" :class="{'d-flex ml-n2 mr-n2 flex-wrap': !isSeries}" :options="{disabled : item.statusType !== 'NEW' && $can(PERMISSIONS.ORDER_CHANGE_NUMBER)}">
        <template v-if="isSeries">
          <AnalyticItemSeries  v-for="(atm, index) in items" :class="['elevation-0 my-2 pa-2 v-card-item', {'cursor-grabbed': item.statusType === ORDER_GROUP_STATUSES.NEW.key}, `card-item-cover-${atm.statusType.toLowerCase()}`]"
                               :key="index" :atm="atm" :item="item" :index="index" :itemsLength="items.length" @changeItem="changeItem"></AnalyticItemSeries>
        </template>

        <template v-else>
          <AnalyticItemSideBySide v-for="(atm, index) in items"
                                  :class="['elevation-0 my-2 pa-2 v-card-item', {'cursor-grabbed': item.statusType === ORDER_GROUP_STATUSES.NEW.key}, `card-item-cover-${atm.statusType.toLowerCase()}`]"
                                  :key="index" :atm="atm" :item="item" :itemsLength="items.length" :index="index" style="width: 33%" @changeItem="changeItem"></AnalyticItemSideBySide>
        </template>
      </Draggable>
      <div class="pt-3">
        <VBtn v-if="item.statusType === ORDER_GROUP_STATUSES.NEW.key && $can(PERMISSIONS.ORDER_GROUP_START_OPERATOR)" :loading="loading" color="primary" width="100%"
              @click="confirmCollecting">Подтвердить инкассацию
        </VBtn>
        <VBtn v-if="item.statusType === ORDER_GROUP_STATUSES.IN_PROGRESS_BY_OPERATOR.key || item.statusType === ORDER_GROUP_STATUSES.EXPECTATION.key && $can(PERMISSIONS.ORDER_GROUP_MUST_END_DEPOSIT)" :loading="loading" color="error" width="100%"
              @click="$refs.terminateDialogRef.open(item.id)">Заранее завершить инкассацию
        </VBtn>
      </div>
    </VCard>
    <TerminateCashCollectionDialog ref="terminateDialogRef" @terminated="dialogTerminated"></TerminateCashCollectionDialog>
  </VDialog>
</template>

<script>
import Draggable from 'vuedraggable'
import {messages, ORDER_GROUP_STATUSES, PERMISSIONS} from "@/utils/constants";
import TerminateCashCollectionDialog from "@/components/TerminateCashCollectionDialog.vue";
import AnalyticItemSeries from '@/components/AnalyticItemSeries.vue'
import AnalyticItemSideBySide from "@/components/AnalyticItemSideBySide.vue";
export default {
  name: "ViewAnalyticItem",
  components: {
    Draggable, TerminateCashCollectionDialog, AnalyticItemSeries, AnalyticItemSideBySide
  },
  computed: {
    ORDER_GROUP_STATUSES: () => ORDER_GROUP_STATUSES,
    PERMISSIONS: () => PERMISSIONS
  },
  data() {
    return {
      dialog: false,
      loading: false,
      items: [],
      item: {},
      isSeries: false
    }
  },
  watch: {
    dialog(val) {
      if (!val) this.onClose()
    }
  },
  methods: {
    changeItem({status, index}) {
      let currentIndex
      const item = this.items[index]
      if (status === 'next') {
        currentIndex = index - 1
      }
      if (status === 'prev') {
        currentIndex = index + 1
      }
      this.onChangeOrder({index: currentIndex, id: item.id})
      this.items.splice(index, 1)
      this.items.splice(currentIndex, 0, item)
    },
    async confirmCollecting() {
      this.loading = true
      try {
        await this.$http.post(`order-groups/start-operator`, {
          id: this.item.id
        })
        this.$emit('saved')
        this.close()
        this.$setSuccess({text: messages.onSave})
      } catch (e) {
        this.$setResponseError({error: e})
      } finally {
        this.loading = false
      }
    },
    dialogTerminated(){
      this.dialog = false
      this.$emit('saved')
    },
    onDraggable(e) {
      const {oldIndex, newIndex} = e
      const downItem = this.items[oldIndex]
      this.onChangeOrder({index: newIndex, id: downItem.id})
    },
    async onChangeOrder({index, id}) {
      try {
        await this.$http.post('orders/change-number', {index: index + 1, orderId: id})
      } catch (e) {
        this.$setResponseError({error: e})
      }
    },
    async open(item) {
      this.dialog = true
      try {
        const {data} = await this.$http.get('orders/get-by-group/' + item.id)
        this.items = [...data]
        this.item = item
      } catch (e) {
        this.$setResponseError({error: e})
      }
    },
    onClose() {
      this.items = []
    },
    close() {
      this.dialog = false
    }
  }
}
</script>

<style>
.layout-icons-btn .v-btn__content{
  opacity: 1 !important;
}
</style>
