<template>
  <div>
    <input @input="onInput" @focus="onFocus" type="text" ref="maskInput">
  </div>
</template>

<script>
import IMask from 'imask'

export default {
  name: 'VMaskInput',
  props: {
    value: {
      type: String
    },
    returnUnMaskedValue: {
      type: Boolean,
      default: true
    },
    options: {
      type: Object,
      default: () => ({})
    }
  },
  data() {
    return {
      maskInstance: null
    }
  },

  watch: {
    value(val) {
      this.$nextTick(() => {
        // console.log(val)
      })
    }
  },
  methods: {
    onInput(e) {
      const {value, unmaskedValue} = this.maskInstance
      let returnedValue = value
      if (this.returnUnMaskedValue) returnedValue = unmaskedValue
      console.log(returnedValue)
      // this.$emit('input', returnedValue)
    },
    onFocus(e) {
      if (!e.target.value) {
        this.maskInstance.updateValue('123')
      }
    }
  },

  mounted() {
    const {maskInput} = this.$refs
    maskInput.value = this.value
    this.maskInstance = IMask(maskInput, this.options)

  },
  beforeDestroy() {
    this.maskInstance.destroy()
  }
}
</script>