<template>
  <v-app>
    <router-view/>
    <notifications/>
  </v-app>
</template>

<script>
export default {
  mounted() {
    if(this.$vuetify.breakpoint.mdAndDown && this.$route.name !== 'cash-collection-index')
    this.$router.push({
      name: 'cash-collection-index'
    })
  }
}
</script>
