<template>
    <div>
        <v-card
            class="mx-auto"
            max-width="845"
        >
            <v-card-text>
                <div class="card-logo">
                    <v-img src="../../assets/icons/orient.png" />
                </div>
                <v-row class="my-3">
                    <v-col md="8">
                        <span>XATB «Orient Finans» Amaliyot boshqarmasi</span><br>
                        <span>PJSCB «Orient Finans» Operational branch</span><br>
                        <span>ЧАКБ «Ориент Финанс» Операционное управление</span><br>
                        <span><b>№ 271-11</b></span><br>
                        <span><b>«17» январь 2024 г.</b></span><br>
                    </v-col>
                    <v-col md="4">
                        <v-icon>fas fa-lock</v-icon> <span class="ml-6">www.ofb.uz</span><br>
                        <v-icon>fas fa-lock</v-icon> <span class="ml-6">info@ofb.uz</span><br>
                        <v-icon>fas fa-lock</v-icon> <span class="ml-6">@ofb_bot</span><br>
                        <v-icon>fas fa-lock</v-icon> <span class="ml-6">orient.finans.bank</span><br>
                        <v-icon>fas fa-lock</v-icon> <span class="ml-6">(+99871) 205-55-55</span><br>
                        <v-icon>fas fa-lock</v-icon> <span class="ml-6">(+99871) 200-55-53</span>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col class="text-right">
                        <span>Вниманию: Мария Широкова, Лайло Бобомуродова</span><br>
                        <span>Предмет: В связи с аудиторской проверкой OOO "TEG HEAVY PROJECTS"</span><br>
                        <span>ООО «КПМГ Аудит»</span><br>
                        <span>Международный Бизнес Центр</span><br>
                        <span>Проспект Амира Темура, 107-Б, 11-й этаж, блок «А»</span><br>
                        <span>Ташкент, Республика Узбекистан 100084</span><br>
                        <span>Телефон: (+99878) 147 77 44</span><br>
                        <span>Мобильный: n/a</span><br>
                        <span>E-mail: mariyashirokova@kpmg.co.uz, lbobomurodova@kpmg.co.uz</span>
                    </v-col>
                </v-row>
                <v-row>
                    <p>
                        <span>В ответ на Ваше письмо №2 от 17.01.2024г</span><br>
                        <span>
                            Мы подтверждаем следующую информацию относительно взаимоотношений OOO
                            "TEG HEAVY PROJECTS" и ЧАКБ «Ориент Финанс» по состоянию на 31.12.2022,
                            31.12.2021 и 01.01.2021 и за 2022 и 2021 годы.
                            Текущие, депозитные и иные счета с кредитовым сальдо (или его отсутствием),
                            включая сведения по счетам, которые были закрыты в течение 12 месяцев 2022 и 12
                            месяцев 2021.
                        </span><br>
                    </p>
                </v-row>
                <div v-for="n in 9" class="mb-4">
                    <b>Вид: Текущий счет</b>
                    <div class="d-flex justify-space-between">
                        <span>Номер счета (#)</span>
                        <u>20208000205439109001</u>
                    </div>
                    <div class="d-flex justify-space-between">
                        <span> Дата закрытия</span>
                        <u></u>
                    </div>
                    <div class="d-flex justify-space-between">
                        <span> Валюта </span>
                        <u>000 (UZS)</u>
                    </div>
                    <div class="d-flex justify-space-between">
                        <span>Ставка процента и условия за 12 месяцев 2021</span>
                        <u>0.5%</u>
                    </div>
                    <div class="d-flex justify-space-between">
                        <span> Ставка процента и условия за 12 месяцев 2022</span>
                        <u>0.5%</u>
                    </div>
                    <div class="d-flex justify-space-between">
                        <span> Остаток в валюте счета по состоянию на 01.01.2021</span>
                        <u>0.00</u>
                    </div>
                    <div class="d-flex justify-space-between">
                        <span> Остаток в валюте счета по состоянию на 31.12.2021</span>
                        <u> 826,609.07</u>
                    </div>
                    <div class="d-flex justify-space-between">
                        <span> Остаток в валюте счета по состоянию на 31.12.2022</span>
                        <u>6,600,565.53</u>
                    </div>
                    <div class="d-flex justify-space-between">
                        <span> Проценты, начисленные за 12 месяцев 2021</span>
                        <u></u>
                    </div>
                    <div class="d-flex justify-space-between">
                        <span> Проценты, начисленные за 12 месяцев 2022</span>
                        <u></u>
                    </div>
                    <div class="d-flex justify-space-between">
                        <span> Проценты, уплаченные нами за 12 месяцев 2021</span>
                        <u></u>
                    </div>
                    <div class="d-flex justify-space-between">
                        <span> Проценты, уплаченные нами за 12 месяцев 2022</span>
                        <u></u>
                    </div>
                    <div class="d-flex justify-space-between">
                        <span> Проценты, подлежащие выплате Вам на 01.01.2021</span>
                        <u></u>
                    </div>
                    <div class="d-flex justify-space-between">
                        <span> Проценты, подлежащие выплате Вам на 31.12.2021</span>
                        <u></u>
                    </div>
                    <div class="d-flex justify-space-between">
                        <span> Проценты, подлежащие выплате Вам на 31.12.2022</span>
                        <u></u>
                    </div>
                </div>
                <div class="my-5">
                    <span>С уважением,</span>
                    <div class="d-flex justify-space-between align-center my-5 mx-10">
                        <span class="text-center">Заместитель начальника <br> ОПЕРУ</span>
                        <span><v-img width="100px" src="../../assets/icons/qr-code.png"></v-img></span>
                        <span> Каххорбеков К.У.</span>
                    </div>
                </div>
                <span>Исполнитель: Исмаилова Н.Г.</span><br>
                <span>https://v2.vuetifyjs.com/en/components/data-tables/#multi-sort</span>
            </v-card-text>
        </v-card>
    </div>
</template>

<script>
    import OrderCreateDialog from "@/components/OrderCreateDialog";
    import PdfContent from "@/components/documents/PdfContent";
    import VueHtml2pdf from 'vue-html2pdf'
    import { mapFields } from 'vuex-map-fields'

    export default {
        components: { OrderCreateDialog, PdfContent, VueHtml2pdf },
        data() {
            return {
                progress: 0,
                contentRendered: false,
                pdfDownloaded: false,

                desserts: [
                    {
                        name: '24.11.2023',
                        calories: '1 000 000',
                        fat: ' Пополнение уставного фонда от учрд. KARIMOV\n' +
                            ' SOBIRJON RAIMOVICH',
                        carbs: 51,
                        protein: 4.9,
                        iron: 22,
                    },
                    {
                        name: '07.12.2023',
                        calories: '1 000 000',
                        fat: ' Пополнение уставного фонда от учрд. KARIMOV\n' +
                            ' SOBIRJON RAIMOVICH',
                        carbs: 51,
                        protein: 4.9,
                        iron: 22,
                    },
                    {
                        name: '13.12.2023',
                        calories: '1 000 000',
                        fat: ' Пополнение уставного фонда от учрд. KARIMOV\n' +
                            ' SOBIRJON RAIMOVICH',
                        carbs: 65,
                        protein: 7,
                        iron: 6,
                    },
                    {
                        name: '17.01.2024',
                        calories: '1 000 000',
                        fat: ' Пополнение уставного фонда от учрд. KARIMOV\n' +
                            ' SOBIRJON RAIMOVICH',
                        carbs: 65,
                        protein: 7,
                        iron: 6,
                    },
                ],
                heads: [
                    {
                        text: 'Дата',
                        align: 'start',
                        sortable: false,
                        value: 'name',
                    },
                    { text: 'Сумма', value: 'calories' },
                    { text: 'Детали', value: 'fat' }
                ],
            }
        },
        methods: {
            async downloadPdf() {
                if (!(await this.validateControlValue())) return;

                this.$refs.html2Pdf.generatePdf();
            },

            validateControlValue() {
                if (this.controlValue.pdfQuality > 2) {
                    alert("pdf-quality value should only be 0 - 2");
                    this.controlValue.pdfQuality = 2;

                    return false;
                }

                if (!this.controlValue.paginateElementsByHeight) {
                    alert("paginate-elements-by-height value cannot be empty");
                    this.controlValue.paginateElementsByHeight = 1400;

                    return false;
                }

                const paperSizes = [
                    "a0",
                    "a1",
                    "a2",
                    "a3",
                    "a4",
                    "letter",
                    "legal",
                    "a5",
                    "a6",
                    "a7",
                    "a8",
                    "a9",
                    "a10",
                ];

                if (!paperSizes.includes(this.controlValue.pdfFormat)) {
                    alert(`pdf-format value should only be ${paperSizes}`);
                    this.controlValue.pdfFormat = "a4";

                    return false;
                }

                if (!this.controlValue.pdfOrientation) {
                    alert("pdf-orientation value cannot be empty");
                    this.controlValue.pdfOrientation = "portrait";

                    return false;
                }

                if (!this.controlValue.pdfContentWidth) {
                    alert("pdf-content-width value cannot be empty");
                    this.controlValue.pdfContentWidth = "800px";

                    return false;
                }

                return true;
            },

            onProgress(progress) {
                this.progress = progress;
                console.log(`PDF generation progress: ${progress}%`)
            },

            startPagination() {
                console.log(`PDF has started pagination`)
            },

            hasDownloaded (blobPdf) {
                this.pdfDownloaded = true
            },
        },
        computed: {
            ...mapFields(['controlValue']),
        },
        mounted() {
            this.$nextTick(() => {
                setTimeout(() => {
                    this.$emit("domRendered");
                }, 1000);
            });
        },
    };
</script>

<style lang="scss" scoped>
    .v-card__text {
        padding: 35px 90px;
    }

    .card-logo {
        width: 400px;
        margin-left: 5px;
    }
</style>
