<template>
    <div>
        <v-card
                class="mx-auto"
                max-width="845"
        >
            <v-card-text>
                <div class="card-logo">
                    <v-img src="../../assets/icons/orient.png" />
                </div>
                <v-row class="my-3">
                    <v-col md="8">
                        <span>XATB «Orient Finans» Amaliyot boshqarmasi</span><br>
                        <span>PJSCB «Orient Finans» Operational branch</span><br>
                        <span>ЧАКБ «Ориент Финанс» Операционное управление</span><br>
                        <span><b>№ 271-11</b></span><br>
                        <span><b>«17» январь 2024 г.</b></span><br>
                    </v-col>
                    <v-col md="4">
                        <v-icon>fas fa-lock</v-icon> <span class="ml-6">www.ofb.uz</span><br>
                        <v-icon>fas fa-lock</v-icon> <span class="ml-6">info@ofb.uz</span><br>
                        <v-icon>fas fa-lock</v-icon> <span class="ml-6">@ofb_bot</span><br>
                        <v-icon>fas fa-lock</v-icon> <span class="ml-6">orient.finans.bank</span><br>
                        <v-icon>fas fa-lock</v-icon> <span class="ml-6">(+99871) 205-55-55</span><br>
                        <v-icon>fas fa-lock</v-icon> <span class="ml-6">(+99871) 200-55-53</span>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col class="text-right">
                        <span>Директору</span><br>
                        <span>ООО "GENERAL SOLUTION"</span>
                        <span>У.Ч. Жабборову</span>
                    </v-col>
                </v-row>
                <v-row>
                    <p>
                        <span> В ответ на Ваше письмо №04-01/4 от 15.01.2024 года.</span>
                        <span>
                         ОПЕРУ при ЧАКБ «ОРИЕНТ ФИНАНС» (код Банка 01071) выражает свое
                         почтение и предоставляет справку о работе всех счетов ООО "GENERAL SOLUTION"
                         (ИНН: 306832194) за период с 01.07.2023г. по 31.12.2023г.
                        </span>
                    </p>
                </v-row>
                <div>
                    <v-data-table
                            dense
                            :headers="heads"
                            :items="desserts"
                            item-key="name"
                            hide-default-footer
                    >
                        <template #item.index="{index}">{{ (index + 1) }}</template>
                    </v-data-table>
                    <span class="ma-6">Обороты по аккредитивному расчетному счету №22602000805138494002 составили;</span>
                </div>
                <div>
                    <v-data-table
                            dense
                            :headers="heads"
                            :items="desses"
                            item-key="name"
                            hide-default-footer
                    >
                        <template #item.index="{index}">{{ (index + 1) }}</template>
                    </v-data-table>
                </div>
                <div class="my-5">
                    <span>Cогласно Инструкции №2342 от 15.03.2012г. Картотека-2 формируется в банке,
                             обслуживающим основной расчетный счет.
                             Кредиты и ссуды в нашем филиале не выдавались.
                             Отсутствуют обязательства перед Банком (кредит, банковская гарантия, лизинг
                             поручительства).
                    </span><br>
                    <span>С уважением,</span>
                    <div class="d-flex justify-space-between align-center my-5 mx-10">
                        <span class="text-center">Заместитель начальника <br> ОПЕРУ</span>
                        <span><v-img width="100px" src="../../assets/icons/qr-code.png"></v-img></span>
                        <span> Каххорбеков К.У.</span>
                    </div>
                </div>
                <span>Исполнитель: Исмаилова Н.Г.</span><br>
                <span>https://v2.vuetifyjs.com/en/components/data-tables/#multi-sort</span>
            </v-card-text>
        </v-card>
    </div>
</template>

<script>
    import OrderCreateDialog from "@/components/OrderCreateDialog";
    import PdfContent from "@/components/documents/PdfContent";
    import VueHtml2pdf from 'vue-html2pdf'
    import { mapFields } from 'vuex-map-fields'

    export default {
        components: { OrderCreateDialog, PdfContent, VueHtml2pdf },
        data() {
            return {
                progress: 0,
                contentRendered: false,
                pdfDownloaded: false,

                desserts: [
                    {
                        name: '20208000605138494004',
                        calories: '6,557,408,276.96',
                        fat: '6,557,408,276.96',
                        carbs: 51,
                        protein: 4.9,
                        iron: 22,
                    },
                    {
                        name: '20208643005138494004',
                        calories: '0,00',
                        fat: '0,00',
                        carbs: 51,
                        protein: 4.9,
                        iron: 22,
                    },
                    {
                        name: '20208840205138494006',
                        calories: '0,00',
                        fat: '0,00',
                        carbs: 65,
                        protein: 7,
                        iron: 6,
                    },
                    {
                        name: '20208978605138494006',
                        calories: '0,00',
                        fat: '0,00',
                        carbs: 65,
                        protein: 7,
                        iron: 6,
                    },
                    {
                        name: '22614643605138494003',
                        calories: '1,505,752.64',
                        fat: '1,505,752.64',
                        carbs: 65,
                        protein: 7,
                        iron: 6,
                    },
                    {
                        name: '22614840605138494005',
                        calories: '77,500.00',
                        fat: '77,500.00',
                        carbs: 65,
                        protein: 7,
                        iron: 6,
                    },
                    {
                        name: '22614978305138494005',
                        calories: '174,348.63',
                        fat: '174,348.63',
                        carbs: 65,
                        protein: 7,
                        iron: 6,
                    },
                ],
                heads: [
                    {
                        text: '№',
                        value: 'index',
                        sortable: false
                    },
                    {
                        text: 'Номер счета',
                        align: 'start',
                        sortable: false,
                        value: 'name',
                    },
                    { text: 'Дебет оборот за\n' +
                            ' период\n' +
                            ' 01.07.2023\n' +
                            '31.12.2023гг', value: 'calories' },
                    { text: 'Кредит оборот за\n' +
                            ' период 01.07.2023\n' +
                            '31.12.2023гг', value: 'fat' },
                    { text: 'Остатки на\n' +
                            ' счетах\n' +
                            ' составляют на\n' +
                            ' 15.01.2024гг', value: 'fat' },
                ],
                desses: [
                    {
                        name: '20208000605138494004',
                        calories: '6,557,408,276.96',
                        fat: '6,557,408,276.96',
                        carbs: 51,
                        protein: 4.9,
                        iron: 22,
                    },
                ]
            }
        },
        methods: {
            async downloadPdf() {
                if (!(await this.validateControlValue())) return;

                this.$refs.html2Pdf.generatePdf();
            },

            validateControlValue() {
                if (this.controlValue.pdfQuality > 2) {
                    alert("pdf-quality value should only be 0 - 2");
                    this.controlValue.pdfQuality = 2;

                    return false;
                }

                if (!this.controlValue.paginateElementsByHeight) {
                    alert("paginate-elements-by-height value cannot be empty");
                    this.controlValue.paginateElementsByHeight = 1400;

                    return false;
                }

                const paperSizes = [
                    "a0",
                    "a1",
                    "a2",
                    "a3",
                    "a4",
                    "letter",
                    "legal",
                    "a5",
                    "a6",
                    "a7",
                    "a8",
                    "a9",
                    "a10",
                ];

                if (!paperSizes.includes(this.controlValue.pdfFormat)) {
                    alert(`pdf-format value should only be ${paperSizes}`);
                    this.controlValue.pdfFormat = "a4";

                    return false;
                }

                if (!this.controlValue.pdfOrientation) {
                    alert("pdf-orientation value cannot be empty");
                    this.controlValue.pdfOrientation = "portrait";

                    return false;
                }

                if (!this.controlValue.pdfContentWidth) {
                    alert("pdf-content-width value cannot be empty");
                    this.controlValue.pdfContentWidth = "800px";

                    return false;
                }

                return true;
            },

            onProgress(progress) {
                this.progress = progress;
                console.log(`PDF generation progress: ${progress}%`)
            },

            startPagination() {
                console.log(`PDF has started pagination`)
            },

            hasDownloaded (blobPdf) {
                this.pdfDownloaded = true
            },
        },
        computed: {
            ...mapFields(['controlValue']),
        },
        mounted() {
            this.$nextTick(() => {
                setTimeout(() => {
                    this.$emit("domRendered");
                }, 1000);
            });
        },
    };
</script>

<style lang="scss" scoped>
    .v-card__text {
        padding: 35px 90px;
    }

    .card-logo {
        width: 400px;
        margin-left: 5px;
    }
</style>
