<template>
  <v-app>
    <full-loading :value="loading"></full-loading>
    <v-navigation-drawer
        v-model="drawer"
        app
        width="275"
        dark
        style="background: #f8f7fa"
        class="cabinet-sidebar">
      <div class="pa-4">
        <img src="../assets/icons/orient.png" style="width: 100%" alt="">
      </div>
<!--      <div class="pa-1"><h3>Accountant</h3></div>-->
      <v-divider/>
      <navigation />
      <VListItem
          @click="logOut"
          class="navigation-list-item cursor-pointer"
      >
        <span style="width: 35px; display: inline-block">
          <v-icon size="15" class="mt-n1">fas fa-sign-out-alt</v-icon></span>
        <span class="mt-n1">Выйти</span>
      </VListItem>
      <hr style="height:5px;border-width:0;color:gray;background-color:#f8f7fa;"/>
      <div class="d-flex px-6 pt-1">
        <p style="font-size: 12px" v-if="me">{{ me.firstName }} {{ me.lastName }}</p>
      </div>

      <div class="d-flex px-6">
        <p class="gray--text" style="font-size: 12px" v-if="me">Филиал: {{ me.branchName }}</p>
      </div>

      <div class="d-flex px-6">
        <p class="gray--text" style="font-size: 12px" v-if="me">МФО: {{ me.mfo }}</p>
      </div>

      <div class="text-center">
        <svg width="204" height="156" viewBox="0 0 204 156" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d_6_159)">
            <path
                d="M184 69.9027L151.328 111.451C150.836 112.074 149.932 112.183 149.305 111.694L110.549 81.3228C109.926 80.8308 109.817 79.9286 110.306 79.303L148.641 30.5487C149.134 29.9258 150.038 29.8172 150.664 30.3056L182.198 55.0184L182.776 59.8073L183.394 64.9248L184 69.9027Z"
                fill="black"/>
          </g>
          <path
              d="M184 69.9027L151.328 111.451C150.836 112.074 149.932 112.183 149.305 111.694L110.549 81.3228C109.926 80.8308 109.817 79.9286 110.306 79.303L148.641 30.5487C149.134 29.9258 150.038 29.8172 150.664 30.3056L182.198 55.0184L182.776 59.8073L183.394 64.9248L184 69.9027Z"
              fill="white"/>
          <path d="M177 64C177.031 64.2599 176.46 65.4581 184.101 72L185 70.909L177 64Z" fill="#CECECE"/>
          <path d="M177.474 62.1998C176.717 63.1742 176.885 64.5818 177.85 65.3475L185 71L183.086 55L177.474 62.1998Z"
                fill="#EDEDED"/>
          <path
              d="M133.094 85.9191C133.25 85.6863 133.094 85.3819 132.781 85.4061C132.359 85.4467 131.934 85.4443 131.512 85.3989L130.938 85.2745C130.531 85.2273 130.451 85.0056 130.7 84.6093C131.142 84.5556 131.059 83.9468 130.617 83.9772C130.072 84.0148 129.344 84.0721 128.896 83.7005C128.757 83.5731 128.641 83.4266 128.551 83.2663C128.708 83.2606 128.863 83.2399 129.016 83.2045C129.142 83.1741 129.201 83.0541 129.23 82.9521C129.315 82.6638 129.306 82.4319 129.327 82.2099C131.309 81.8876 133.366 81.1436 134.86 80.0862C135.151 79.8812 134.948 79.506 134.614 79.5141C133.054 79.5544 131.448 79.8382 130.046 80.4989C129.551 80.7308 129.064 81.0173 128.815 81.4954C128.792 81.5451 128.772 81.5959 128.755 81.6476C128.297 81.7099 127.836 81.7458 127.374 81.7551C126.758 81.7718 126.143 81.6972 125.552 81.5339C125.128 81.4095 124.484 81.2286 124.484 80.7613C125.584 80.8624 126.66 80.695 126.866 79.7549C127.176 78.3404 124.715 79.19 123.96 80.062C123.452 79.9748 122.953 79.8416 122.473 79.6645C122.06 79.5168 121.794 80.1032 122.207 80.2518C122.696 80.422 123.198 80.5558 123.71 80.652C123.554 82.174 126.517 82.4238 127.607 82.3889C127.931 82.3782 128.265 82.3522 128.602 82.3146C128.562 82.6871 128.602 82.6486 128.011 82.6405C127.711 82.6405 127.517 82.9001 127.686 83.1455C127.998 83.5985 128.256 84.1491 128.785 84.4132C128.951 84.4917 129.13 84.5475 129.314 84.5788C129.269 84.6561 129.262 84.747 129.293 84.8295C129.715 85.7982 130.993 86.0436 132.092 86.0615C131.325 86.8005 130.295 87.2593 129.19 87.3534C127.509 87.4751 126.287 86.3945 125.206 85.3604C124.902 85.0695 124.344 85.4446 124.65 85.7383C125.83 86.8663 127.132 88.0177 128.944 87.9998C130.527 87.9801 132.253 87.1654 133.094 85.9191ZM125.619 79.6896C126.299 79.6591 125.545 80.0602 125.283 80.1059C125.115 80.1326 124.943 80.1422 124.773 80.1345C124.913 79.9707 125.428 79.6985 125.618 79.6869L125.619 79.6896ZM129.858 81.3298C130.271 80.9931 130.994 80.7926 131.516 80.6323C132.098 80.457 132.696 80.3311 133.302 80.2563C132.168 80.8299 130.948 81.2468 129.683 81.4936C129.738 81.4361 129.796 81.3815 129.857 81.3298H129.858Z"
              fill="#4684AF"/>
          <path
              d="M157.642 45.8476L173.013 57.9136C173.61 58.3821 173.714 59.2457 173.246 59.8426C172.777 60.4394 171.914 60.5435 171.317 60.075L155.945 48.009C155.348 47.5405 155.244 46.6769 155.713 46.08C156.181 45.4832 157.045 45.3791 157.642 45.8476Z"
              fill="#D2D4D8"/>
          <path
              d="M173.27 70.9623L144.065 47.2299C143.991 47.1693 143.978 47.0582 144.036 46.9811L145.488 45.0676C145.546 44.9909 145.653 44.9775 145.728 45.0375L174.935 68.767C175.009 68.8279 175.022 68.9389 174.963 69.0158L173.512 70.9302C173.484 70.9679 173.443 70.9925 173.397 70.9986C173.352 71.0046 173.306 70.9915 173.27 70.9623Z"
              fill="#D2D4D8"/>
          <path
              d="M170.271 75.9613L141.065 52.2297C140.991 52.1692 140.978 52.0581 141.036 51.981L142.488 50.0676C142.546 49.9909 142.654 49.9775 142.728 50.0375L171.935 73.771C172.009 73.8316 172.022 73.9427 171.964 74.0198L170.512 75.9341C170.453 76.01 170.345 76.0221 170.271 75.9613Z"
              fill="#D2D4D8"/>
          <path
              d="M166.273 79.963L137.065 56.2299C136.991 56.1696 136.978 56.0589 137.036 55.9821L138.489 54.0676C138.547 53.9909 138.654 53.9775 138.729 54.0375L167.934 77.7706C167.97 77.7994 167.993 77.8417 167.999 77.8882C168.004 77.9348 167.992 77.9816 167.963 78.0184L166.512 79.9328C166.454 80.0089 166.347 80.0223 166.273 79.963Z"
              fill="#D2D4D8"/>
          <path
              d="M163.275 83.964L134.065 60.2309C133.991 60.1704 133.978 60.0593 134.036 59.9821L135.488 58.0676C135.546 57.9909 135.654 57.9775 135.728 58.0375L164.935 81.7715C165.009 81.832 165.022 81.9424 164.964 82.0193L163.512 83.9338C163.454 84.0086 163.349 84.0219 163.275 83.964Z"
              fill="#D2D4D8"/>
          <path
              d="M160.272 89.9629L131.065 66.2302C130.991 66.1696 130.978 66.0585 131.036 65.9814L132.488 64.067C132.547 63.9906 132.654 63.9776 132.728 64.0379L161.935 87.7696C162.009 87.8304 162.022 87.9415 161.963 88.0183L160.512 89.9318C160.454 90.0088 160.346 90.0227 160.272 89.9629Z"
              fill="#D2D4D8"/>
          <path
              d="M157.272 92.9621L128.065 69.2299C127.991 69.169 127.978 69.058 128.037 68.9811L129.488 67.0676C129.547 66.9909 129.654 66.9775 129.728 67.0375L158.935 90.7698C159.009 90.8303 159.022 90.9414 158.964 91.0185L157.512 92.933C157.453 93.0093 157.346 93.0224 157.272 92.9621Z"
              fill="#D2D4D8"/>
          <path
              d="M141.723 100.042C140.291 98.9185 139.676 97.0428 140.166 95.2896C140.656 93.5364 142.154 92.2509 143.96 92.0326C145.767 91.8143 147.528 92.7062 148.421 94.2923C149.314 95.8784 149.164 97.8465 148.041 99.2787C146.505 101.232 143.679 101.574 141.723 100.042ZM146.679 93.7281C145.148 92.5244 142.931 92.7902 141.727 94.3218C140.524 95.8534 140.789 98.0707 142.321 99.2744C143.852 100.478 146.069 100.212 147.272 98.6808C148.474 97.1487 148.208 94.9328 146.679 93.7281Z"
              fill="#D2D4D8"/>
          <g filter="url(#filter1_d_6_159)">
            <path
                d="M99.8682 78.9097L56.3897 108.949C56.2552 109.041 56.0736 109.005 55.9826 108.868L20.0498 54.5087C19.9597 54.3716 19.9952 54.1858 20.1292 54.0935L63.6106 24.0509C63.7447 23.9588 63.9264 23.9951 64.0167 24.132L99.9495 78.4916C99.9935 78.5579 100.01 78.6394 99.9944 78.718C99.9791 78.7966 99.9337 78.8656 99.8682 78.9097Z"
                fill="black"/>
          </g>
          <path
              d="M99.8682 78.9097L56.3897 108.949C56.2552 109.041 56.0736 109.005 55.9826 108.868L20.0498 54.5087C19.9597 54.3716 19.9952 54.1858 20.1292 54.0935L63.6106 24.0509C63.7447 23.9588 63.9264 23.9951 64.0167 24.132L99.9495 78.4916C99.9935 78.5579 100.01 78.6394 99.9944 78.718C99.9791 78.7966 99.9337 78.8656 99.8682 78.9097Z"
              fill="white"/>
          <path
              d="M43.9165 46.7124L29.7713 56.965C29.6836 57.0282 29.5648 57.0035 29.5054 56.9097L28.0327 54.5728C27.9737 54.4787 27.9967 54.3512 28.0842 54.2876L42.2293 44.035C42.317 43.9718 42.4359 43.9965 42.4952 44.0903L43.967 46.4272C44.0262 46.521 44.0036 46.6484 43.9165 46.7124Z"
              fill="#D2D4D8"/>
          <path
              d="M67.9118 39.5753L32.8247 62.9671C32.7341 63.0266 32.612 63.0032 32.5504 62.9147L31.034 60.6964C30.973 60.6074 30.9963 60.4865 31.0862 60.4258L66.1742 37.035C66.2171 37.0051 66.2704 36.9937 66.322 37.0034C66.3736 37.0131 66.4189 37.0431 66.4476 37.0864L67.9669 39.3047C68.0273 39.3945 68.0027 39.5155 67.9118 39.5753Z"
              fill="#D2D4D8"/>
          <path
              d="M71.9132 45.5749L36.8282 68.9653C36.7852 68.9951 36.7318 69.0064 36.6802 68.9965C36.6286 68.9866 36.5834 68.9564 36.5548 68.9129L35.0356 66.6957C35.0051 66.6533 34.9935 66.6003 35.0035 66.5492C35.0136 66.4981 35.0444 66.4533 35.0887 66.4251L70.1738 43.0347C70.2167 43.0049 70.2701 42.9936 70.3217 43.0035C70.3733 43.0134 70.4186 43.0436 70.4471 43.0871L71.9663 45.3043C72.0271 45.3935 72.0034 45.5145 71.9132 45.5749Z"
              fill="#D2D4D8"/>
          <path
              d="M76.9144 51.5736L41.8262 74.9653C41.7832 74.9951 41.7298 75.0064 41.6782 74.9965C41.6267 74.9866 41.5814 74.9564 41.5529 74.9129L40.0337 72.6956C39.9729 72.6064 39.9966 72.4854 40.0868 72.425L75.1711 49.0332C75.2616 48.9732 75.3842 48.9967 75.4454 49.0857L76.9636 51.3039C76.9942 51.3458 77.0062 51.3982 76.9969 51.449C76.9877 51.4999 76.9578 51.5448 76.9144 51.5736Z"
              fill="#D2D4D8"/>
          <path
              d="M79.9135 56.5754L44.8287 79.9667C44.7382 80.0268 44.6156 80.0033 44.5544 79.9143L43.0352 77.6961C43.0049 77.6537 42.9935 77.601 43.0035 77.5501C43.0136 77.4993 43.0442 77.4546 43.0883 77.4265L78.1732 54.0352C78.2162 54.005 78.2699 53.9936 78.3217 54.0035C78.3735 54.0134 78.4189 54.0438 78.4475 54.0876L79.9667 56.3048C80.0269 56.3942 80.0033 56.5147 79.9135 56.5754Z"
              fill="#D2D4D8"/>
          <path
              d="M83.9146 62.621L58.798 79.9661C58.7091 80.0272 58.5885 80.0034 58.5283 79.9128L57.0346 77.6536C57.0049 77.6105 56.9936 77.5568 57.0035 77.505C57.0133 77.4532 57.0434 77.4077 57.0868 77.379L82.2034 60.0339C82.2924 59.9728 82.4129 59.9966 82.4731 60.0872L83.9669 62.3454C84.0267 62.4363 84.0033 62.5595 83.9146 62.621Z"
              fill="#D2D4D8"/>
          <path
              d="M87.9126 68.5715L52.8272 91.9664C52.737 92.0266 52.6145 92.0037 52.5529 91.915L51.0337 89.6966C50.9729 89.6074 50.9966 89.4864 51.0868 89.426L86.1722 66.0329C86.2628 65.9734 86.385 65.9968 86.4465 66.0853L87.9658 68.3037C87.9954 68.3459 88.0064 68.3982 87.9964 68.4486C87.9864 68.499 87.9562 68.5433 87.9126 68.5715Z"
              fill="#D2D4D8"/>
          <path
              d="M91.9136 74.5729L56.828 97.9667C56.7376 98.0268 56.615 98.0033 56.5537 97.9143L55.0355 95.6968C55.0052 95.6545 54.9936 95.6019 55.0034 95.551C55.0133 95.5002 55.0437 95.4554 55.0876 95.4271L90.1732 72.0333C90.2637 71.9732 90.3863 71.9967 90.4475 72.0857L91.9667 74.3032C92.0269 74.3922 92.0032 74.5125 91.9136 74.5729Z"
              fill="#D2D4D8"/>
          <g filter="url(#filter2_d_6_159)">
            <path
                d="M65.223 79.9947C65.0326 80.028 64.851 79.9016 64.8163 79.7116L53.0053 14.0102C52.972 13.8199 53.0985 13.6385 53.2887 13.6038L106.778 4.0052C106.968 3.97241 107.149 4.09806 107.184 4.28734L118.994 69.9897C119.028 70.1798 118.902 70.3614 118.712 70.3961L65.223 79.9947Z"
                fill="black"/>
          </g>
          <path
              d="M65.223 79.9947C65.0326 80.028 64.851 79.9016 64.8163 79.7116L53.0053 14.0102C52.972 13.8199 53.0985 13.6385 53.2887 13.6038L106.778 4.0052C106.968 3.97241 107.149 4.09806 107.184 4.28734L118.994 69.9897C119.028 70.1798 118.902 70.3614 118.712 70.3961L65.223 79.9947Z"
              fill="white"/>
          <path d="M71.2925 42.3406L77.7469 41.1816L81.0262 59.4437L74.5718 60.6027L71.2925 42.3406Z" fill="#D2D4D8"/>
          <path d="M79.8856 45.8777L86.34 44.7187L88.7354 58.0582L82.281 59.2172L79.8856 45.8777Z" fill="#D2D4D8"/>
          <path d="M88.2134 48.4564L94.6678 47.2974L96.3547 56.692L89.9003 57.851L88.2134 48.4564Z" fill="#D2D4D8"/>
          <path d="M94.6394 40.8248L101.094 39.6658L103.908 55.3356L97.4532 56.4946L94.6394 40.8248Z" fill="#D2D4D8"/>
          <path
              d="M86.8618 20.5032L60.6085 24.9979C60.5174 25.0119 60.4312 24.954 60.4145 24.8675L60.0022 22.6817C59.9875 22.5949 60.0482 22.5127 60.139 22.4968L86.3923 18.0021C86.4834 17.9881 86.5696 18.046 86.5863 18.1325L86.9976 20.3174C87.013 20.4042 86.9526 20.4868 86.8618 20.5032Z"
              fill="#D2D4D8"/>
          <path
              d="M98.8639 23.4627L60.5999 29.9979C60.5101 30.0117 60.4251 29.9548 60.4086 29.8697L60.002 27.7201C59.988 27.6347 60.0477 27.5543 60.1369 27.5381L98.4009 21.0019C98.4906 20.9886 98.5752 21.0454 98.5922 21.1302L98.9978 23.2807C99.0124 23.3659 98.953 23.4465 98.8639 23.4627Z"
              fill="#D2D4D8"/>
          <path
              d="M105.866 26.5045L62.6008 33.998C62.5108 34.0116 62.4259 33.9539 62.4089 33.8676L62.0022 31.6806C61.9876 31.5937 62.0477 31.5115 62.1374 31.4955L105.398 24.002C105.488 23.9884 105.573 24.0461 105.59 24.1324L105.998 26.3185C106.012 26.4044 105.955 26.4863 105.866 26.5045Z"
              fill="#D2D4D8"/>
          <path
              d="M69.4586 65.4445L97.6601 60.3804C98.3763 60.2518 99.061 60.7281 99.1896 61.4442C99.3182 62.1603 98.8419 62.8451 98.1258 62.9736L69.9243 68.0377C69.2082 68.1663 68.5234 67.6901 68.3948 66.974C68.2662 66.2578 68.7425 65.5731 69.4586 65.4445Z"
              fill="#D2D4D8"/>
          <path
              d="M112.866 66.5045L69.6008 73.998C69.5108 74.0116 69.4259 73.9538 69.4089 73.8676L69.0022 71.6806C68.9876 71.5937 69.0477 71.5115 69.1374 71.4956L112.398 64.002C112.488 63.9884 112.573 64.0461 112.59 64.1324L112.998 66.3185C113.012 66.4044 112.955 66.4863 112.866 66.5045Z"
              fill="#D2D4D8"/>
          <path
              d="M85.8576 36.3745L63.6067 39.998C63.5158 40.0113 63.4299 39.9564 63.4132 39.8743L63.0021 37.8016C62.9879 37.7194 63.0483 37.6418 63.1385 37.6262L85.3942 34.0019C85.485 33.989 85.5706 34.0438 85.5877 34.1255L85.9979 36.1991C86.0124 36.2826 85.9497 36.3611 85.8576 36.3745Z"
              fill="#D2D4D8"/>
          <path
              d="M106.863 32.5704L87.6003 35.998C87.5104 36.0119 87.4256 35.9526 87.4086 35.8641L87.0023 33.6196C86.9872 33.5303 87.0475 33.4456 87.1374 33.4297L106.4 30.0021C106.49 29.9877 106.575 30.0472 106.591 30.136L106.998 32.3796C107.013 32.4691 106.953 32.5541 106.863 32.5704Z"
              fill="#D2D4D8"/>
          <path
              d="M89.4322 16.4882L102.492 14.1431C103.208 14.0145 103.893 14.4908 104.021 15.2069C104.15 15.923 103.674 16.6078 102.958 16.7364L89.8979 19.0815C89.1818 19.2101 88.497 18.7338 88.3685 18.0177C88.2399 17.3016 88.7161 16.6168 89.4322 16.4882Z"
              fill="#D2D4D8"/>
          <g opacity="0.2">
            <path opacity="0.2"
                  d="M140.74 94.984L89.2404 78.2591C89.1524 78.2306 89.0795 78.1687 89.0377 78.0871C88.9958 78.0055 88.9885 77.9108 89.0173 77.8238L109.819 15.2375C109.879 15.0567 110.076 14.9582 110.26 15.017L161.76 31.7419C161.943 31.8021 162.042 31.9969 161.983 32.1781L141.179 94.7616C141.119 94.9417 140.923 95.0408 140.74 94.984Z"
                  fill="#3D3D3D"/>
            <path opacity="0.2"
                  d="M136.849 34.8066L129.385 47.5726L115.264 52.2699C117.379 58.4829 123.392 62.5677 130.018 62.2931C136.645 62.0185 142.291 57.4505 143.873 51.0843C145.455 44.7181 142.592 38.0844 136.849 34.8066Z"
                  fill="#3D3D3D"/>
            <path opacity="0.2"
                  d="M136.064 32.3378C131.764 29.8818 126.507 29.7068 122.049 31.8712L128.606 45.0962L136.064 32.3378Z"
                  fill="#3D3D3D"/>
            <path opacity="0.2"
                  d="M120.394 33.1284C113.666 36.3716 110.427 44.053 112.833 51.0592L126.954 46.362L120.394 33.1284Z"
                  fill="#3D3D3D"/>
            <path opacity="0.2"
                  d="M119.85 67.1256L101.308 61.1027C101.27 61.0912 101.238 61.0651 101.22 61.0305C101.202 60.9958 101.199 60.9554 101.211 60.9184L101.847 59.0045C101.859 58.9662 101.886 58.9344 101.922 58.9165C101.959 58.8986 102.001 58.896 102.039 58.9095L120.581 64.9314C120.62 64.9431 120.652 64.97 120.671 65.006C120.689 65.0419 120.691 65.0837 120.677 65.1215L120.042 67.0353C120.029 67.0726 120.001 67.1031 119.965 67.12C119.929 67.137 119.887 67.139 119.85 67.1256Z"
                  fill="#3D3D3D"/>
            <path opacity="0.2"
                  d="M128.181 74.4779L99.9164 65.2982C99.8787 65.2864 99.8472 65.2602 99.8292 65.2254C99.8111 65.1906 99.8079 65.1501 99.8203 65.1129L100.456 63.199C100.468 63.1606 100.495 63.1286 100.531 63.1106C100.568 63.0927 100.61 63.0903 100.648 63.104L128.912 72.2837C128.99 72.3091 129.033 72.3917 129.009 72.469L128.372 74.3829C128.36 74.4211 128.333 74.4529 128.297 74.4708C128.261 74.4888 128.219 74.4913 128.181 74.4779Z"
                  fill="#3D3D3D"/>
            <path opacity="0.2"
                  d="M117.255 76.2692L98.3157 70.1161C98.2379 70.0912 98.195 70.0089 98.2196 69.9318L98.856 68.0179C98.8679 67.9808 98.8943 67.9499 98.9293 67.9321C98.9643 67.9143 99.005 67.9109 99.0425 67.9229L117.982 74.0759C118.06 74.1009 118.103 74.1838 118.078 74.2612L117.441 76.1751C117.416 76.2516 117.333 76.2936 117.255 76.2692Z"
                  fill="#3D3D3D"/>
            <path opacity="0.2"
                  d="M131.622 73.1657L140.078 75.9123C140.68 76.108 141.01 76.755 140.815 77.3575C140.814 77.36 140.813 77.3625 140.812 77.365C140.61 77.9716 139.957 78.3017 139.349 78.1042L130.893 75.3577C130.291 75.162 129.961 74.5149 130.157 73.9124C130.157 73.9099 130.158 73.9074 130.159 73.9049C130.361 73.2984 131.014 72.9683 131.622 73.1657Z"
                  fill="#3D3D3D"/>
            <path opacity="0.2"
                  d="M123.501 65.8816L141.471 71.718C142.073 71.9137 142.403 72.5608 142.207 73.1633C142.207 73.1658 142.206 73.1683 142.205 73.1708C142.003 73.7773 141.35 74.1074 140.742 73.91L122.773 68.0736C122.17 67.8779 121.841 67.2308 122.036 66.6283C122.037 66.6258 122.038 66.6233 122.039 66.6208C122.24 66.0143 122.894 65.6841 123.501 65.8816Z"
                  fill="#3D3D3D"/>
          </g>
          <g filter="url(#filter3_d_6_159)">
            <path
                d="M142.738 87.983L91.2396 71.2579C91.0567 71.1978 90.9574 71.0027 91.0176 70.8217L111.821 8.23749C111.882 8.05665 112.079 7.95821 112.262 8.01702L163.76 24.7421C163.943 24.8022 164.043 24.9973 163.982 25.1783L143.179 87.7625C143.118 87.9434 142.921 88.0418 142.738 87.983Z"
                fill="black"/>
          </g>
          <path
              d="M142.738 87.983L91.2396 71.2579C91.0567 71.1978 90.9574 71.0027 91.0176 70.8217L111.821 8.23749C111.882 8.05665 112.079 7.95821 112.262 8.01702L163.76 24.7421C163.943 24.8022 164.043 24.9973 163.982 25.1783L143.179 87.7625C143.118 87.9434 142.921 88.0418 142.738 87.983Z"
              fill="white"/>
          <path
              d="M138.811 28L131.616 40.9974L118 45.7807C120.039 52.1069 125.837 56.2663 132.226 55.9867C138.615 55.7072 144.059 51.056 145.584 44.5738C147.109 38.0917 144.349 31.3372 138.811 28Z"
              fill="#D2D4D8"/>
          <path opacity="0.490782"
                d="M138 26.1468C137.048 25.5963 136.042 25.1451 134.998 24.8003C131.043 23.4941 126.735 23.7956 123 25.6402L130.017 40L138 26.1468Z"
                fill="#dda24d"/>
          <path d="M122.962 27C115.743 30.2551 112.268 37.9665 114.849 45L130 40.2846L122.962 27Z" fill="#D2D4D8"/>
          <path
              d="M123.141 59.9914L104.108 54.1436C104.068 54.1321 104.035 54.1059 104.016 54.071C103.998 54.0362 103.995 53.9958 104.009 53.9591L104.662 52.1006C104.675 52.0634 104.703 52.0325 104.74 52.0151C104.777 51.9977 104.82 51.9952 104.86 52.0083L123.893 57.8561C123.932 57.8679 123.965 57.8941 123.984 57.9289C124.002 57.9636 124.005 58.0039 123.991 58.0406L123.338 59.8992C123.326 59.9365 123.298 59.9675 123.261 59.985C123.223 60.0024 123.18 60.0048 123.141 59.9914Z"
              fill="#D4E8E8"/>
          <path
              d="M131.17 67.992L103.104 59.1307C103.066 59.1192 103.034 59.0931 103.016 59.0585C102.998 59.0239 102.995 58.9837 103.009 58.9472L103.641 57.1C103.652 57.063 103.68 57.0323 103.716 57.015C103.752 56.9977 103.793 56.9953 103.831 57.0082L131.897 65.8695C131.935 65.8807 131.966 65.9058 131.984 65.9393C132.002 65.9727 132.005 66.0117 131.993 66.0475L131.362 67.8948C131.351 67.9329 131.324 67.9651 131.288 67.9836C131.251 68.002 131.209 68.0051 131.17 67.992Z"
              fill="#D4E8E8"/>
          <path
              d="M119.16 69.9916L100.104 64.1062C100.066 64.0952 100.035 64.0703 100.016 64.0371C99.9983 64.004 99.995 63.9653 100.007 63.9299L100.647 62.0993C100.659 62.0625 100.686 62.032 100.723 62.0148C100.759 61.9976 100.802 61.9953 100.84 62.0084L119.896 67.8928C119.975 67.9167 120.018 67.996 119.993 68.0701L119.353 69.9007C119.341 69.9375 119.314 69.968 119.277 69.9852C119.241 70.0024 119.198 70.0047 119.16 69.9916Z"
              fill="#D4E8E8"/>
          <path
              d="M134.092 66.6555L142.496 69.4168C143.106 69.6173 143.438 70.2743 143.238 70.8844C143.037 71.4944 142.38 71.8265 141.77 71.626L133.366 68.8647C132.756 68.6642 132.424 68.0072 132.625 67.3971C132.825 66.7871 133.482 66.455 134.092 66.6555Z"
              fill="#D4E8E8"/>
          <path
              d="M144.162 66.9926L124.104 60.285C124.066 60.2728 124.035 60.2456 124.016 60.2095C123.998 60.1733 123.995 60.1312 124.007 60.0927L124.648 58.106C124.674 58.0257 124.759 57.9815 124.838 58.0074L144.896 64.715C144.934 64.7272 144.965 64.7544 144.984 64.7906C145.002 64.8267 145.005 64.8688 144.993 64.9073L144.352 66.894C144.326 66.9743 144.241 67.0185 144.162 66.9926Z"
              fill="#D4E8E8"/>
          <g filter="url(#filter4_d_6_159)">
            <path
                d="M144 56.5242V117.139C144 118.722 142.669 120 141.025 120H67.9822C66.3388 120 65 118.722 65 117.139V47.8696C65 46.2865 66.3407 45 67.9822 45H84.3909C85.411 44.9942 86.3646 45.507 86.9239 46.3623L90.7077 52.2857C91.2634 53.1453 92.2189 53.6606 93.2407 53.6518H141.028C142.669 53.6585 144 54.9411 144 56.5242Z"
                fill="black"/>
          </g>
          <path
              d="M144 56.5242V117.139C144 118.722 142.669 120 141.025 120H67.9822C66.3388 120 65 118.722 65 117.139V47.8696C65 46.2865 66.3407 45 67.9822 45H84.3909C85.411 44.9942 86.3646 45.507 86.9239 46.3623L90.7077 52.2857C91.2634 53.1453 92.2189 53.6606 93.2407 53.6518H141.028C142.669 53.6585 144 54.9411 144 56.5242Z"
              fill="url(#paint0_linear_6_159)"/>
          <path
              d="M144 56.5242V117.139C144 118.722 142.669 120 141.025 120H67.9822C66.3388 120 65 118.722 65 117.139V47.8696C65 46.2865 66.3407 45 67.9822 45H84.3909C85.411 44.9942 86.3646 45.507 86.9239 46.3623L90.7077 52.2857C91.2634 53.1453 92.2189 53.6606 93.2407 53.6518H141.028C142.669 53.6585 144 54.9411 144 56.5242Z"
              fill="#dda24d"/>
          <path
              d="M137.45 55H70.55C69.1417 55 68 56.1417 68 57.55V116.45C68 117.858 69.1417 119 70.55 119H137.45C138.858 119 140 117.858 140 116.45V57.55C140 56.1417 138.858 55 137.45 55Z"
              fill="#EFEFEF"/>
          <path
              d="M137.45 56H70.55C69.1417 56 68 57.1417 68 58.55V117.45C68 118.858 69.1417 120 70.55 120H137.45C138.858 120 140 118.858 140 117.45V58.55C140 57.1417 138.858 56 137.45 56Z"
              fill="white"/>
          <path opacity="0.2"
                d="M144 58V112.023L143.454 116.69C143.272 118.255 142.178 119.558 140.677 120H67.9822C66.3388 120 65 118.716 65 117.126V67.4874H77.7858C79.3501 67.4881 80.7649 66.5515 81.3848 65.105L83.4054 60.3902C84.0184 58.9402 85.4321 57.9994 86.9967 58H144Z"
                fill="#3D3D3D"/>
          <path
              d="M144.681 117.526C144.451 119.507 142.792 121 140.822 121H68.0806C66.11 121 64.4512 119.507 64.2212 117.526L59.0267 72.8548C58.8969 71.7393 59.2446 70.6207 59.982 69.7813C60.7195 68.9419 61.7763 68.4616 62.886 68.4617H79.517C81.0693 68.4618 82.4727 67.5269 83.0865 66.0837L85.0889 61.3779C85.7027 59.9348 87.1061 59 88.6584 59H147.111C148.221 58.9992 149.279 59.4791 150.017 60.3186C150.755 61.1581 151.103 62.2771 150.973 63.3932L144.681 117.526Z"
              fill="#dda24d"/>
          <defs>
            <filter id="filter0_d_6_159" x="90" y="26" width="114" height="122" filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                             result="hardAlpha"/>
              <feOffset dy="16"/>
              <feGaussianBlur stdDeviation="10"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.093482 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_6_159"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_6_159" result="shape"/>
            </filter>
            <filter id="filter1_d_6_159" x="0" y="20" width="120" height="125" filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                             result="hardAlpha"/>
              <feOffset dy="16"/>
              <feGaussianBlur stdDeviation="10"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.093482 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_6_159"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_6_159" result="shape"/>
            </filter>
            <filter id="filter2_d_6_159" x="33" y="0" width="106" height="116" filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                             result="hardAlpha"/>
              <feOffset dy="16"/>
              <feGaussianBlur stdDeviation="10"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.093482 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_6_159"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_6_159" result="shape"/>
            </filter>
            <filter id="filter3_d_6_159" x="71" y="4" width="113" height="120" filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                             result="hardAlpha"/>
              <feOffset dy="16"/>
              <feGaussianBlur stdDeviation="10"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.093482 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_6_159"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_6_159" result="shape"/>
            </filter>
            <filter id="filter4_d_6_159" x="45" y="41" width="119" height="115" filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                             result="hardAlpha"/>
              <feOffset dy="16"/>
              <feGaussianBlur stdDeviation="10"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0.258824 0 0 0 0 0.6 0 0 0 0 0.882353 0 0 0 0.3 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_6_159"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_6_159" result="shape"/>
            </filter>
            <linearGradient id="paint0_linear_6_159" x1="104.5" y1="45" x2="104.5" y2="120"
                            gradientUnits="userSpaceOnUse">
            </linearGradient>
          </defs>
        </svg>
      </div>

<!--      <div class="px-2 text-center" style="color: #fff;">-->
<!--        <h5>Нужна помощь?</h5>-->
<!--        <p style="font-size: 14px">Пожалуйста прочитайте документации</p>-->
<!--        <VBtn color="#dda24d">Документация</VBtn>-->
<!--      </div>-->
  </v-navigation-drawer>

    <v-app-bar dense app>
      <v-app-bar-nav-icon @click="drawer = !drawer" />
    </v-app-bar>

    <v-main>
      <div class="pa-xl-7 px-3 pt-5">
        <transition name="fade" mode="out-in">
          <router-view />
        </transition>
      </div>
    </v-main>
  </v-app>
</template>

<script>
import FullLoading from "@/components/ui/loading/full-loading"
import Navigation from "@/layouts/Navigation";
import TokenService from "@/utils/TokenService";
import router from "@/router";
import {mapGetters} from 'vuex'

export default {
  name: "MainLayout",
  components: {FullLoading, Navigation},
  data() {
    return {
      drawer: true,
    }
  },
  computed: {
    ...mapGetters(['me']),
    loading() {
      return this.$store.getters.loading
    }
  },
  methods: {
    logOut() {
      TokenService.removeToken()
      this.$store.commit('clearUser')
      router.push({name: 'login'})
    }
  },
}
</script>
