<template>
  <v-list class="navigation-list" flat>
    <v-list-item
        :to="item.to"
        :exact="item.exact"
        active-class="active"
        :ripple="false"
        v-for="item in navigations"
        style="white-space: nowrap"
        class="navigation-list-item"
        :key="item.title">
      <span style="width: 35px; display: inline-block;">
        <v-icon size="15" class="mt-n1">{{ item.icon }}</v-icon>
      </span>
      <span v-if="!isMini">{{ item.title }}</span>
    </v-list-item>
  </v-list>
</template>

<script>
import {PERMISSIONS} from "@/utils/constants";

export default {
  props: {
    isMini: {
      type: Boolean
    }
  },
  data() {
    return {
      navigations: []
    }
  },
  methods: {
    setNavigation() {
      let navigations = [
        {
          title: 'Документ',
          icon: 'fas fa-file',
          to: {name: 'current-analytics'},
          permission: PERMISSIONS.OFFER,
        },
        // {
        //   title: 'Маршруты',
        //   icon: 'fas fa-directions',
        //   to: {name: 'routes'},
        //   permission: PERMISSIONS.ORDER_GROUP_FOR_OPERATOR,
        // },
        // {
        //   title: 'Инкассация',
        //   icon: 'fas fa-coins',
        //   to: {name: 'cash-collection-index'},
        //   permission: PERMISSIONS.ORDER_GROUP_FOR_COLLECTOR,
        // },
        // {
        //   title: 'Машины',
        //   icon: 'fas fa-car',
        //   to: {name: 'car-list-index'},
        //   permission: PERMISSIONS.CAR,
        // },
        // {
        //   title: 'Пользователи',
        //   icon: 'fas fa-users',
        //   to: {name: 'user'},
        //   permission: PERMISSIONS.USER,
        // },
        // {
        //   title: 'Агент',
        //   icon: 'fas fa-user-plus',
        //   to: {name: 'agent'},
        //   permission: PERMISSIONS.IS_SYS_ADMIN,
        // },
        // {
        //   title: 'Машина',
        //   icon: 'fas fa-calculator',
        //   to: {name: 'machine'},
        //   permission: PERMISSIONS.IS_SYS_ADMIN,
        // },
        // {
        //   title: 'Роль',
        //   icon: 'fas fa-address-book',
        //   to: {name: 'role'},
        //   permission: PERMISSIONS.ROLE,
        // },
        // {
        //   title: 'Доступы',
        //   icon: 'fas fa-user-shield',
        //   to: {name: 'permission'},
        //   permission: PERMISSIONS.PERMISSION,
        // },
      ]

      navigations = navigations.filter(item => {
        return !item.permission || this.$can(item.permission)
      })

      this.navigations = navigations
    }
  },
  created() {
    this.setNavigation()
  }
}
</script>
