<template>
  <div class="login-wrap">
    <div class="login-content">
      <validation-observer v-slot="{handleSubmit}" ref="loginFormObs" tag="div" class="login-form-wrap">
        <form @submit.prevent="handleSubmit(submit)" class="login-form">
          <div class="login-logo">
            <img src="../../assets/icons/orient.png" style="width: 400px;" alt="">
            <h2>Accountant</h2>
          </div>
          <div>
            <CustomInputText
                :items="users"
                label="Login"
                name="username"
                v-model="user.userName"
                rules="required">
              <template #prepend-inner>
                <div class="pt-1">
                  <v-icon>fas fa-at</v-icon>
                </div>
              </template>
            </CustomInputText>
          </div>
          <div>
            <custom-input-text
                label="Пароль"
                name="password"
                v-model="user.password"
                type="password"
                rules="required"
            >
              <template #prepend-inner>
                <div class="pt-1">
                  <v-icon>fas fa-lock</v-icon>
                </div>
              </template>
            </custom-input-text>
          </div>
          <div>
            <v-btn large width="100%" :loading="loading" type="submit" color="#dda24d" dark>Войти</v-btn>
          </div>
        </form>
      </validation-observer>
    </div>
    <div class="login-bg"></div>
  </div>
</template>

<script>
import {PERMISSIONS} from "@/utils/constants";

export default {
  data() {
    return {
      users: [
        {
          name: 'Admin',
          id: 'admin'
        },
        {
          name: 'Инкассатор',
          id: 'collector'
        },
        {
          name: 'Оператор',
          id: 'operator'
        },
      ],
      user: {
        userName: null,
        password: null
      },
      loading: false,
    }
  },
  computed: {
    PERMISSIONS: () => PERMISSIONS
  },
  methods: {
    async submit() {
      try {
        this.loading = true
        await this.$store.dispatch('login', this.user)
        await this.$store.dispatch('getUser')
        this.$router.push('/').catch(() => {})
      } catch (e) {
        if (e.response.status === 401) {
          e.response.data.params = ['userName']
          this.$setFormError({error: e, obs: this.$refs.loginFormObs})
        } else {
          this.$setResponseError({error: e})
        }
      } finally {
        this.loading = false
      }
    }
  }
}
</script>
